<template>
  <div class="v-header">
    <header class="new" id="site-header">
      <div class="container">
        <div class="header">
          <router-link to="/" class="logo">
            <img src="../../assets/img/logo/logo-new.svg" alt="logo">
            <span>Daryn.online</span>
          </router-link>
          <button
            class="btn-plain call-menu"
            :class="{'open': isNavBlock}"
            @click="handleNavMenu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <ul class="menu">
            <li v-for="(item, itemIdx) in headerMenuList" :key="itemIdx">
              <router-link :to="item.url">{{ item.name }}</router-link>
            </li>
          </ul>
          <ul class="header-right">
            <li>
              <v-search />
            </li>
            <li>
              <icon-base width="30" height="30" icon-name="market"><icon-market /></icon-base>
            </li>
            <li>
              <v-dropdown v-if="isLoggedIn">
                <template #base>
                  <icon-base width="30" height="30" icon-name="profile"><icon-profile/></icon-base>
                </template>
                <template #dropdown="{ handleShow }">
                  <div class="v-dropdown__area-list">
                    <div
                      v-for="(item, itemIdx) in topMenuList"
                      :key="itemIdx"
                      class="v-dropdown__area-item"
                      @click="handleSelect(item, handleShow)"
                    >
                      <span>{{ item.title }}</span>
                    </div>
                  </div>
                </template>
              </v-dropdown>
              <div v-else>
                <icon-base width="30" height="30" icon-name="profile"><icon-profile/></icon-base>
              </div>
            </li>
            <li>
              <v-dropdown>
                <template #base>
                  <button class="dropdown-toggle">
                    <icon-base width="30" height="30" icon-name="profile"><icon-globus/></icon-base>
                    <span class="choosed-lang">{{ interfaceLang }}</span>
                  </button>
                </template>
                <template #dropdown="{ handleShow }">
                  <div class="v-dropdown__area-list lang">
                    <div
                      v-for="(item, itemIdx) in ['kz', 'ru']"
                      :key="itemIdx"
                      class="v-dropdown__area-item"
                      @click="handleSelectLang(item, handleShow)"
                    >
                      <span class="text-uppercase cursor-pointer">{{ item }}</span>
                    </div>
                  </div>
                </template>
              </v-dropdown>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <div class="nav-block" v-if="isNavBlock" :class="{'nav-block-showed': isNavBlock}">
      <div class="container">
        <div class="row row-eq-height">
          <div class="col-lg-3 col-md-6 col-height">
            <div class="navItem">
              <h4 class="blue-colored">Школьная программа</h4>
              <ul>
                <li><a href="#">Английский язык</a></li>
                <li><a href="#">Физика</a></li>
                <li><a href="#">Химия</a></li>
                <li><a href="#">Информатика</a></li>
                <li><a href="#">История</a></li>
                <li>
                  <a href="#" class="show-all">
                    <span>Смотреть все</span>
                    <icon-base width="16" height="16" icon-name="arrow-right"><icon-arrow-right/></icon-base>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-height">
            <div class="navItem">
              <h4 class="green-colored">Курсы</h4>
              <ul>
                <li><a href="#">Программирование</a></li>
                <li><a href="#">Робототехника</a></li>
                <li><a href="#">Английский</a></li>
                <li><a href="#">Вокал</a></li>
                <li><a href="#">Ораторское искусство</a></li>
                <li>
                  <a href="#" class="show-all">
                    <span>Смотреть все</span>
                    <icon-base width="16" height="16" icon-name="arrow-right"><icon-arrow-right/></icon-base>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-height">
            <div class="navItem">
              <h4 class="red-colored">Олимпиады</h4>
              <ul>
                <li><a href="#">Сезонные</a></li>
                <li><a href="#">Daryn Olypics</a></li>
                <li><a href="#">ЕНТ тестирование</a></li>
                <li><a href="#">Пробное тестирование</a></li>
                <li><a href="#">КТА тестирование</a></li>
                <li>
                  <a href="#" class="show-all">
                    <span>Смотреть все</span>
                    <icon-base width="16" height="16" icon-name="arrow-right"><icon-arrow-right/></icon-base>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-height">
            <div class="navItem">
              <h4>Маркетплейс</h4>
              <ul>
                <li><a href="#">Канцелярские товары</a></li>
                <li><a href="#">Школьная форма</a></li>
                <li><a href="#">Книги и аудиокниги</a></li>
                <li><a href="#">Курсы</a></li>
                <li><a href="#">Школьные учебники</a></li>
                <li>
                  <a href="#" class="show-all">
                    <span>Смотреть все</span>
                    <icon-base width="16" height="16" icon-name="arrow-right"><icon-arrow-right/></icon-base>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-base">
          <ul class="contact-list">
            <li>
              <router-link to="/">
                <icon-base width="30" height="30" icon-name="help"><icon-phone /></icon-base>
              </router-link>
            </li>
            <li>
              <router-link to="/">
                <icon-base width="30" height="30" icon-name="help"><icon-whatsapp /></icon-base>
              </router-link>
            </li>
            <li>
              <router-link to="/">
                <icon-base width="30" height="30" icon-name="help"><icon-mail /></icon-base>
              </router-link>
            </li>
            <li>
              <router-link to="/">
                <icon-base width="30" height="30" icon-name="help"><icon-instagram /></icon-base>
              </router-link>
            </li>
            <li>
              <router-link to="/">
                <icon-base width="30" height="30" icon-name="help"><icon-facebook-mini /></icon-base>
              </router-link>
            </li>
          </ul>
          <ul class="app-list">
            <li>
              <router-link to="/">
                <icon-base width="30" height="30" icon-name="help"><icon-android /></icon-base>
                <span>Play Market</span>
              </router-link>
            </li>
            <li>
              <router-link to="/">
                <icon-base width="30" height="30" icon-name="help"><icon-app-store /></icon-base>
                <span>AppStore</span>
              </router-link>
            </li>
          </ul>
          <router-link to="/" class="btn-plain faqLink">
            <icon-base width="40" height="40" icon-name="help"><icon-help /></icon-base>
            <span>Помощь</span>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ClickOutside from 'vue-click-outside'
import { mapGetters, mapMutations } from 'vuex';
import VDropdown from '../VDropdown';
import VSearch from '../VSearch';
import IconBase from "../icons/IconBase";
import IconMarket from "../icons/components/IconMarket";
import IconProfile from "../icons/components/IconProfile";
import IconGlobus from "../icons/components/IconGlobus";
import IconArrowRight from "../icons/components/IconArrowRight";
import IconHelp from "../icons/components/IconHelp";
import IconAppStore from "../icons/components/IconAppStore";
import IconAndroid from "../icons/components/IconAndroid";
import IconInstagram from "../icons/components/IconInstagram";
import IconMail from "../icons/components/IconMail";
import IconWhatsapp from "../icons/components/IconWhatsapp";
import IconPhone from "../icons/components/IconPhone";
import IconFacebookMini from "../icons/components/IconFacebookMini";

export default {
  name: "VHeader",

  directives: {
    ClickOutside
  },

  components: {
    VDropdown,
    VSearch,
    IconBase,
    IconMarket,
    IconProfile,
    IconGlobus,
    IconArrowRight,
    IconHelp,
    IconAppStore,
    IconAndroid,
    IconInstagram,
    IconMail,
    IconWhatsapp,
    IconPhone,
    IconFacebookMini
  },

  data() {
    return {
      isNavBlock: false,
      headerMenuList: []
    }
  },

  async created() {
    await this.fetchHeaderMenu();
  },

  computed: {
    ...mapGetters([
      'interfaceLang',
      'profilePhoto',
      'isLoggedIn'
    ]),
    topMenuList() {
      return [
        {
          title: 'Профиль',
          url: '/profile'
        },
        {
          title: 'Выйти',
          url: 'logout'
        }
      ]
    }
  },

  watch: {
    isNavBlock(old, val) {
      if(val) {
        document.body.classList.remove('scroll-locked');
      } else {
        document.body.classList.add('scroll-locked');
      }
    }
  },

  methods: {
    ...mapMutations([
      'setLocale',
      'setOverlay'
    ]),

    handleSelectLang(locale, callback) {
      callback();
      this.setLocale(locale);
    },
    handleNavMenu() {
      this.isNavBlock = !this.isNavBlock;
      this.setOverlay(this.isNavBlock);
    },
    async fetchHeaderMenu() {
      try {
        const res = await this.$http({
          url: this.$getAPI('menus.menu'),
          params: {
            type: 'header'
          }
        });
        this.headerMenuList = res.menus;
      } catch (error ){
        console.error(error);
      }
    },
    handleSelect(item, callback) {
      callback();
      if (item.url === 'logout') {
        this.$store.dispatch('logout');
      } else if (this.$route.fullPath === item.url) {
        return;
      } else {
        this.$router.push(item.url);
      }
    }
  }
}
</script>

<style scoped lang="scss">

</style>
