<template>
  <div class="favourite-course">
    <div class="favourite-course-img">
      <div class="favourite-checkbox checked">
        <icon-base width="30" height="30" icon-name="heart"><icon-heart /></icon-base>
        <input type="checkbox" checked>
      </div>
      <icon-base width="80" height="80" icon-name="logo-stroke" class="logo-stroke">
        <icon-logo-stroke />
      </icon-base>
      <img src="">
    </div>
    <div class="favourite-course-caption">
      <div class="favourite-course-name">
        <p>{{ courseName }}</p>
      </div>
      <div class="favourite-course-price">
        <div class="bonus-price">
          <span>{{ bonusPrice }}</span>
          <icon-base width="12" height="17" icon-name="price"><icon-price /></icon-base>
        </div>
        <div class="money-price">
          <span>{{ price }}</span>
        </div>
      </div>
    </div>
    <a class="absolute-link" href="#"></a>
  </div>
</template>

<script>
import IconBase from "@/components/icons/IconBase";
import IconHeart from "@/components/icons/components/IconHeart";
import IconLogoStroke from "@/components/icons/components/IconLogoStroke";
import IconPrice from "@/components/icons/components/IconPrice";

export default {
  name: "VFavoriteCard",

  components: {
    IconBase,
    IconHeart,
    IconLogoStroke,
    IconPrice
  },

  props: {
    price: String,
    bonusPrice: String,
    courseName: String,
  },

  data() {
    return {}
  }
}
</script>

<style scoped>

</style>