<template>
  <div class="profile-card">
    <div class="profile-card-top">
      <div class="profile-card-img">
        <img src="../../../assets/img/main/ava-man.png">
      </div>
      <div class="profile-card-name">
        <p>{{ getUserFullName }}</p>
        <router-link :to="{ name: 'VProfileEdit' }">Настройки профиля</router-link>
      </div>
    </div>
    <div class="profile-card-bottom">
      <div>
        <p class="d-text">{{ getDarynSum }}</p>
        <router-link :to="{ name: 'VProfileWallet' }">Пополнить кошелек</router-link>
      </div>
      <svg width="26" height="22" viewBox="0 0 26 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M25 8.375H20.625C19.9625 8.375 19.3262 8.63875 18.8575 9.1075L17.8225 10.1425C17.3537 10.6112 16.7175 10.875 16.055 10.875H10.6787C10.0162 10.875 9.38 10.6112 8.91125 10.1425L7.875 9.1075C7.40625 8.63875 6.77 8.375 6.1075 8.375H1M25 5H1M21.25 21H4.75C2.67875 21 1 19.3212 1 17.25V3.5C1 2.11875 2.11875 1 3.5 1H22.5C23.8812 1 25 2.11875 25 3.5V17.25C25 19.3212 23.3212 21 21.25 21Z" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  name: "VProfileCard",

  computed: {
    ...mapGetters([
       'getUserFullName',
       'getDarynSum'
    ])
  }
}
</script>

<style scoped>

</style>