.v-header {
  top: 0;
  width: 100%;
  transition: all 0.1s ease;
  position: -webkit-sticky;
  position: sticky;
  height: 70px;
  z-index: 11;
}
.dropdown-lang {
position: absolute;
transform: translate3d(0px, 33px, 0px);
top: 0px;
left: 0px;
will-change: transform;
}