<template>
  <div class="v-profile-article">
    <div class="articleBox">
      <div class="articleBox-header">
        <div class="articleBox-header-left">
          <ul class="article-tablink-wrapper">
            <li>
              <router-link to="/" class="article-tablink active">Мои статьи</router-link>
            </li>
          </ul>
        </div>
        <div class="articleBox-header-right">
          <div class="btn-plain create-article-link cursor-pointer" @click="handleClickCreate">
            <icon-base width="30" height="30" icon-name="pen"><icon-pen /></icon-base>
            <span>Создать</span>
          </div>
        </div>
      </div>
      <div class="articleBox-body">
        <div
          v-for="(item, itemIdx) in articleList"
          :key="itemIdx"
          class="article"
        >
          <div class="article-header">
            <div class="article-header-left">
              <div class="article-author">
                <img src="../../../assets/img/main/author-ava.png">
                <p>{{ item.author.name }}</p>
                <span class="article-author-status">{{ item.author.degree }}</span>
              </div>
            </div>
            <div class="article-header-right">
              <div
                v-if="item.canEdit"
                class="edit-article-btn cursor-pointer"
                @click="handleClickEdit(item.id)"
              >
                <icon-base width="30" height="30" icon-name="pencil"><icon-pencil /></icon-base>
              </div>
            </div>
          </div>
          <div class="article-content">
            <h1>{{ item.title }}
              <span
                class="article-status info"
                :style="item.status.color"
              >
                {{ item.status.text }}
              </span>
            </h1>
            <p>{{ item.desc }}</p>
            <button class="btn-plain download-certificate">
              <icon-base width="20" height="20" icon-name="cloud-download"><icon-cloud-download/></icon-base>
              <span>Скачать сертификат</span>
            </button>
          </div>
          <div class="article-detail">
            <ul class="article-detail-meta">
              <li :class="{'liked': item.isLiked}">
                <icon-base
                  width="30" height="30" icon-name="heart"
                  class="cursor-pointer"
                  @click="handleClickLike(item.id, itemIdx)"
                >
                  <icon-heart />
                </icon-base>
                <span>{{ item.likeCount }}</span>
              </li>
              <li>
                <icon-base width="22" height="22" icon-name="eye"><icon-eye /></icon-base>
                <span>{{ item.viewCount }}</span>
              </li>
            </ul>
            <div class="article-date">
              <span>{{ item.created_at }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button v-if="articleList && articleList.length" class="btn-plain load-more-btn">
      <icon-base width="24" height="24" icon-name="spin"><icon-spin /></icon-base>
      <span>Загрузить еще (6)</span>
    </button>
  </div>
</template>

<script src="./VProfileArticle.js"></script>

<style scoped lang="scss">

</style>