<template>
  <div class="article-edit">
    <div class="article-edit-head">
      <h1 v-if="!$route.params.id">Новая статья</h1>
      <button class="btn-plain btn-blue-light" @click="isVideoInstruction = !isVideoInstruction">
        Видео инструкция
      </button>
    </div>
    <form @submit.prevent="save">
      <div class="article-edit-item">
        <p>Тақырып</p>
        <input
          type="text"
          placeholder="Тақырып"
          class="input-bordered"
          v-model="form.article_title"
        >
      </div>
      <div class="article-edit-item">
        <p>Дәреже</p>
        <select class="select-bordered" v-model="form.degree_id">
          <template v-for="(item, index) in degreeList" >
            <option :value="item.id" :key="index">
              {{ item.name }}
            </option>
          </template>
        </select>
      </div>
      <div class="article-edit-item">
        <p>Направление</p>
        <select class="select-bordered" v-model="form.article_category_id">
          <template v-for="(item, index) in categoryList" >
            <option :value="item.id" :key="index">
              {{ item.name }}
            </option>
          </template>
        </select>
      </div>
      <div class="article-edit-item">
        <p class="mb-3">Место обучения</p>
<!--        <p class="mb-3">Место работы</p>-->
        <textarea v-model="form.user_desc"></textarea>
      </div>
      <div class="article-edit-item">
        <p class="mb-3">Аннотация</p>
        <textarea v-model="form.article_desc"></textarea>
      </div>
      <quill-editor
        ref="editorDescription"
        v-model="form.article_text"
        :options="quillEditorOptions"
      />
      <div class="btn-box mt-3">
        <label class="btn-border">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.778 7H9.222C8.63269 7 8.06751 7.2341 7.65081 7.65081C7.2341 8.06751 7 8.63269 7 9.222V14.778C7 15.3673 7.2341 15.9325 7.65081 16.3492C8.06751 16.7659 8.63269 17 9.222 17H14.778C15.3673 17 15.9325 16.7659 16.3492 16.3492C16.7659 15.9325 17 15.3673 17 14.778V9.221C16.9997 8.63186 16.7655 8.06694 16.3488 7.65045C15.9322 7.23397 15.3671 7 14.778 7V7Z" stroke="#848E9F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10.5292 10.1366C10.5681 10.1755 10.5946 10.225 10.6053 10.2789C10.6161 10.3329 10.6106 10.3888 10.5895 10.4396C10.5685 10.4904 10.5329 10.5338 10.4872 10.5644C10.4414 10.5949 10.3877 10.6113 10.3327 10.6113C10.2777 10.6113 10.2239 10.5949 10.1782 10.5644C10.1325 10.5338 10.0969 10.4904 10.0758 10.4396C10.0548 10.3888 10.0493 10.3329 10.06 10.2789C10.0708 10.225 10.0973 10.1755 10.1362 10.1366C10.1884 10.0848 10.2591 10.0557 10.3327 10.0557C10.4063 10.0557 10.4769 10.0848 10.5292 10.1366" stroke="#848E9F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10 21H14" stroke="#848E9F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10 3H14" stroke="#848E9F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M3 10V14" stroke="#848E9F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M21 10V14" stroke="#848E9F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M7 21C5.93913 21 4.92172 20.5786 4.17157 19.8284C3.42143 19.0783 3 18.0609 3 17" stroke="#848E9F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M7 21C5.93913 21 4.92172 20.5786 4.17157 19.8284C3.42143 19.0783 3 18.0609 3 17" stroke="#848E9F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M17 3C18.0609 3 19.0783 3.42143 19.8284 4.17157C20.5786 4.92172 21 5.93913 21 7" stroke="#848E9F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M3 7C3 5.93913 3.42143 4.92172 4.17157 4.17157C4.92172 3.42143 5.93913 3 7 3V3" stroke="#848E9F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M21 17C21 18.0609 20.5786 19.0783 19.8284 19.8284C19.0783 20.5786 18.0609 21 17 21" stroke="#848E9F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M16.9996 11.5005C16.7679 11.4653 16.5339 11.4466 16.2996 11.4445C15.6014 11.4395 14.9105 11.5862 14.2746 11.8745C13.6387 12.1627 13.0729 12.5856 12.6165 13.114C12.1601 13.6423 11.8238 14.2634 11.6309 14.9345C11.4381 15.6055 11.3933 16.3104 11.4996 17.0005" stroke="#848E9F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <span>Сурет жүктеніз</span>
          <input type="file">
        </label>
        <button class="btn-plain btn-blue-gradient" type="submit">
          <span>Жариялау</span>
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M17.5615 5.44434L10.0055 13.0003L6.22852 9.22234" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M19 10C19 14.971 14.971 19 10 19C5.029 19 1 14.971 1 10C1 5.029 5.029 1 10 1C11.453 1 12.821 1.353 14.036 1.964" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </div>
    </form>
    <div class="modal" v-show="isVideoInstruction">
      <div class="modal-content">
        <button class="btn-plain close-modal">
          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5 25L25 5M5 5L25 25" stroke="#ffffff"/>
          </svg>
        </button>
<!--        <iframe -->
<!--          width="100%" -->
<!--          height="100%" -->
<!--          src="https://www.youtube.com/embed/gwoWrNbxsd4" -->
<!--          title="YouTube video player" -->
<!--          frameborder="0" -->
<!--          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" -->
<!--          allowfullscreen-->
<!--        />-->
      </div>
    </div>
  </div>
</template>

<script>
import editor from "../../../mixins/editor";
export default {
  name: "VProfileArticleForm",

  mixins: [editor],

  data() {
    return {
      form: {
        article_title: '',
        article_text: '',
        user_desc: '',
        article_category_id: null,
        degree_id: null,
        article_desc: ''
      },
      degreeList: [],
      categoryList: [],
      isVideoInstruction: false
    }
  },

  async mounted() {
    await this.fetchDictionary();
    if (this.$route.params.id) {
      await this.fetchData();
    }
  },

  methods: {
    fetchDictionary() {
      this.$http({ url: this.$getAPI('article.degreeDict') }).then(res => {
        this.degreeList = res.degrees;
      });
      this.$http({ url: this.$getAPI('article.categoryDict') }).then(res => {
        this.categoryList = res.article_categories;
      });
    },
    async fetchData() {
      const res = await this.$http({
        url: this.$getAPI('article.getArticleById', {
          id: this.$route.params.id
        })
      });

      if (!res.error) {
        this.form.article_desc = res.desc;
        this.form.article_text = res.text;
        this.form.article_category_id = res.category?.id;
        this.form.article_title = res.title;
        this.form.degree_id = res.author?.degree?.id;
        this.form.user_desc = res.author?.desc;
      }
    },
    async save() {
      if (this.$route.params.id) {
        await this.edit(this.$route.params.id);
      } else {
        await this.create();
      }
    },
    async create() {
      const res = await this.$http({
        url: this.$getAPI('article.articles'),
        method: 'POST',
        data: {
          ...this.form
        }
      });
      if (!res.error) {
        this.$notify({
          type: 'success',
          title: 'Успешно',
          text: 'Успешно сохранен!',
        });
        this.$router.go(-1);
      }
    },
    async edit(articleId) {
      const res = await this.$http({
        url: this.$getAPI('article.edit', {
          id: articleId
        }),
        method: 'PUT',
        data: {
          ...this.form
        }
      });
      if (!res.error) {
        this.$notify({
          type: 'success',
          title: 'Успешно',
          text: 'Успешно сохранен!',
        });
      }
    }
  }
}
</script>

<style scoped>

</style>