<template>
  <div class="profile-edit whiteBlog">
    <div class="profile-edit-head">
      <h1 class="subtitle-blue">Профильді өзгерту</h1>
      <a class="videoinstruction-link" href="#">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M16 10L4 2V18L16 10Z" fill="#4090FF"/>
        </svg>
        <span>Видео-инструкция</span>
      </a>
    </div>
    <div class="profile-edit-body">
      <div class="profile-edit-img">
        <img src="../../../assets/img/main/ava-md.png" alt="">
        <label class="edit-img">
          <span>Фотосуретті өзгерту</span>
          <input type="file">
        </label>
      </div>
      <div class="profile-edit-caption">
        <div class="form-half">
          <label class="form-label form-label-done">
            <span>Аты</span>
            <input type="text" value="AAAAAA">
          </label>
          <label class="form-label">
            <span>Жөні</span>
            <input type="text">
          </label>
        </div>
        <div class="form-half">
          <label class="form-label select-label form-label-done">
            <span>Оқушы</span>
            <select name="#">
              <option value="Оқушымын">Оқушымын</option>
              <option value="Оқушымын">Оқушымын 1</option>
              <option value="Оқушымын" selected>Оқушымын 2</option>
            </select>
            <i class="icon i-down-grey"></i>
          </label>
          <label class="form-label label-selectpicker">
            <em class="form-title">Облыс</em>
            <select class="selectpicker" data-live-search="true">
              <option data-tokens="ketchup mustard">Алматы қаласы</option>
              <option data-tokens="mustard">Астана қаласы</option>
              <option data-tokens="frosting">Талдыкорган қаласы</option>
            </select>
            <i class="icon i-down-grey"></i>
          </label>
        </div>
        <div class="form-half">
          <label class="form-label label-selectpicker form-label-done">
            <em class="form-title">Мектеп</em>
            <div class="sdfsd">
              <select class="selectpicker" data-live-search="true">
                <option data-tokens="ketchup mustard">"№15 гимназия" коммуналд... "№15 гимназия" коммуналд... "№15 гимназия" коммуналд...</option>
                <option data-tokens="mustard">"№15 гимназия" коммуналд... "№15 гимназия" коммуналд...</option>
                <option data-tokens="frosting" selected>"№15 гимназия" 3 "№15 гимназия" коммуналд...</option>
              </select>
            </div>
            <i class="icon i-down-grey"></i>
          </label>
          <label class="form-label select-label">
            <span>Сынып</span>
            <select name="#">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
            <i class="icon i-down-grey"></i>
          </label>
        </div>
        <div class="form-half">
          <label class="form-label">
            <span>E-mail</span>
            <input type="text">
          </label>
          <label class="form-label">
            <span>Телефон нөмер</span>
            <input type="text" class="phone-mask">
          </label>
        </div>
        <div class="btn-box tar">
          <button class="btn-plain btn-blue-gradient">
            <span>Сақтау</span>
            <svg width="17" height="13" viewBox="0 0 17 13" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
              <path d="M1 6L6 11L16 1" stroke="white" stroke-width="1.5"/>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./VProfileEdit.js"></script>

<style scoped>

</style>