<template>
  <div class="referralBox">
    <div class="referralBox-header">
      <h6>Реферальная программа</h6>
    </div>
    <div class="referralBox-body">
      <div class="referral-info">
        <div class="referral-info-top">
          <div class="present-lottie"></div>
          <h6>Осы сілтеме арқылы келген әрбір оқушы, пәндер сатып алса, онда саған <span>10% cashback түседі.</span></h6>
        </div>
        <div class="referral-info-link">
          <p id="referralLinkText">{{ linkText }}</p>
          <button class="btn-plain referral-link-btn" v-clipboard="() => linkText">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M16.6663 6.74076H13.333C12.873 6.74076 12.4997 6.37572 12.4997 5.92595V2.66669M14.1663 14.6559V15.7037C14.1663 16.6041 13.4205 17.3334 12.4997 17.3334H4.99967C4.07884 17.3334 3.33301 16.6041 3.33301 15.7037V6.74076C3.33301 5.84039 4.07884 5.11113 4.99967 5.11113H5.83301M16.178 5.21543L14.0588 3.14335C13.7463 2.83861 13.323 2.66669 12.8805 2.66669H7.49967C6.57884 2.66669 5.83301 3.39595 5.83301 4.29632V13.0262C5.83301 13.9266 6.57884 14.6559 7.49967 14.6559H14.9997C15.9205 14.6559 16.6663 13.9266 16.6663 13.0262V6.36839C16.6663 5.93572 16.4905 5.5218 16.178 5.21543Z" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
        </div>
        <ul class="referral-info-social">
          <li>
            <a href="#">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.614 18H0.994C0.86343 18.0001 0.734114 17.9745 0.613457 17.9246C0.4928 17.8747 0.383171 17.8015 0.290843 17.7092C0.198515 17.6168 0.125303 17.5072 0.0753963 17.3865C0.0254898 17.2659 -0.000131054 17.1366 5.04078e-07 17.006V0.994C5.04078e-07 0.444 0.445 0 0.994 0H17.007C17.555 0 18 0.445 18 0.994V17.006C18.0001 17.1365 17.9745 17.2657 17.9247 17.3863C17.8749 17.5069 17.8017 17.6165 17.7095 17.7088C17.6173 17.8011 17.5078 17.8744 17.3872 17.9243C17.2667 17.9743 17.1375 18 17.007 18H12.42V11.03H14.76L15.11 8.313H12.42V6.578C12.42 5.792 12.638 5.256 13.766 5.256H15.204V2.826C14.5078 2.75225 13.8081 2.71653 13.108 2.719C11.034 2.719 9.614 3.985 9.614 6.309V8.313H7.27V11.029H9.615V18H9.614Z" fill="#848E9F"/>
              </svg>
            </a>
          </li>
          <li>
            <a href="#">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.5 0H13.5C14.6935 0 15.8381 0.474106 16.682 1.31802C17.5259 2.16193 18 3.30653 18 4.5V13.5C18 14.6935 17.5259 15.8381 16.682 16.682C15.8381 17.5259 14.6935 18 13.5 18H4.5C3.30653 18 2.16193 17.5259 1.31802 16.682C0.474106 15.8381 0 14.6935 0 13.5V4.5C0 3.30653 0.474106 2.16193 1.31802 1.31802C2.16193 0.474106 3.30653 0 4.5 0ZM9 14C10.3261 14 11.5979 13.4732 12.5355 12.5355C13.4732 11.5979 14 10.3261 14 9C14 7.67392 13.4732 6.40215 12.5355 5.46447C11.5979 4.52678 10.3261 4 9 4C7.67392 4 6.40215 4.52678 5.46447 5.46447C4.52678 6.40215 4 7.67392 4 9C4 10.3261 4.52678 11.5979 5.46447 12.5355C6.40215 13.4732 7.67392 14 9 14ZM9 12C8.20435 12 7.44129 11.6839 6.87868 11.1213C6.31607 10.5587 6 9.79565 6 9C6 8.20435 6.31607 7.44129 6.87868 6.87868C7.44129 6.31607 8.20435 6 9 6C9.79565 6 10.5587 6.31607 11.1213 6.87868C11.6839 7.44129 12 8.20435 12 9C12 9.79565 11.6839 10.5587 11.1213 11.1213C10.5587 11.6839 9.79565 12 9 12ZM14 4C14.2652 4 14.5196 3.89464 14.7071 3.70711C14.8946 3.51957 15 3.26522 15 3C15 2.73478 14.8946 2.48043 14.7071 2.29289C14.5196 2.10536 14.2652 2 14 2C13.7348 2 13.4804 2.10536 13.2929 2.29289C13.1054 2.48043 13 2.73478 13 3C13 3.26522 13.1054 3.51957 13.2929 3.70711C13.4804 3.89464 13.7348 4 14 4Z" fill="#848E9F"/>
              </svg>
            </a>
          </li>
          <li>
            <a href="#">
              <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.5899 12.5936L6.9969 15.0166C6.9969 15.0166 6.7939 15.1736 6.5719 15.0756L7.0689 10.5756L7.0859 10.5886L7.0959 10.4966C7.0959 10.4966 14.3679 3.79957 14.6659 3.51457C14.9639 3.22957 14.8639 3.16857 14.8639 3.16857C14.8839 2.82257 14.3279 3.16857 14.3279 3.16857L4.6919 9.43857L0.678903 8.05457C0.678903 8.05457 0.0629031 7.83057 0.00290313 7.34157C-0.0570969 6.85357 0.698903 6.58857 0.698903 6.58857L16.6519 0.176569C16.6519 0.176569 17.9639 -0.41343 17.9639 0.56357L15.1229 15.2396C15.1229 15.2396 14.7249 16.2576 13.6329 15.7696L9.5899 12.5936Z" fill="#848E9F"/>
              </svg>
            </a>
          </li>
          <li>
            <a href="#">
              <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.5964 6.69023C16.2731 6.28188 16.3656 6.10021 16.5964 5.7352C16.6006 5.73103 19.2698 2.04257 19.5448 0.791694L19.5465 0.790861C19.6832 0.335011 19.5465 0 18.8857 0H16.6989C16.1422 0 15.8856 0.28751 15.748 0.609188C15.748 0.609188 14.6347 3.27428 13.0596 5.00184C12.5513 5.50102 12.3163 5.66103 12.0388 5.66103C11.9021 5.66103 11.6896 5.50102 11.6896 5.04517V0.790861C11.6896 0.244175 11.5337 0 11.0729 0H7.63443C7.28525 0 7.07775 0.255009 7.07775 0.492517C7.07775 1.01087 7.86527 1.13004 7.94694 2.58842V5.7527C7.94694 6.44606 7.8211 6.57356 7.54193 6.57356C6.79857 6.57356 4.99434 3.89763 3.92514 0.835029C3.7093 0.240842 3.49845 0.000833302 2.9376 0.000833302H0.750026C0.125838 0.000833302 0 0.288343 0 0.610021C0 1.17837 0.743359 4.0043 3.45679 7.73777C5.26518 10.2862 7.81194 11.6671 10.1287 11.6671C11.5212 11.6671 11.6912 11.3604 11.6912 10.8329C11.6912 8.39779 11.5654 8.16778 12.2629 8.16778C12.5863 8.16778 13.143 8.32779 14.443 9.557C15.9289 11.0145 16.1731 11.6671 17.0048 11.6671H19.1915C19.8149 11.6671 20.1307 11.3604 19.949 10.7554C19.5332 9.48283 16.7231 6.86524 16.5964 6.69023Z" fill="#848E9F"/>
              </svg>
            </a>
          </li>
          <li>
            <a href="#">
              <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M16.761 2.474C17.5784 1.97738 18.1878 1.20099 18.476 0.289001C17.7117 0.748456 16.8737 1.07223 15.999 1.246C15.6367 0.852847 15.1969 0.539121 14.7072 0.324652C14.2175 0.110184 13.6886 -0.000362849 13.154 8.94735e-07C11.004 8.94735e-07 9.257 1.77 9.257 3.95C9.257 4.26 9.291 4.56 9.358 4.85C6.118 4.684 3.247 3.114 1.322 0.720001C0.975117 1.32575 0.79339 2.01197 0.795 2.71C0.795 4.078 1.483 5.288 2.529 5.996C1.90937 5.97616 1.30363 5.8074 0.763 5.504V5.552C0.763 7.467 2.107 9.064 3.891 9.425C3.31711 9.58507 2.71378 9.60903 2.129 9.495C2.626 11.064 4.065 12.205 5.772 12.236C4.96687 12.8786 4.04178 13.3543 3.05074 13.6354C2.05971 13.9164 1.0226 13.9972 0 13.873C1.77764 15.0309 3.8535 15.6472 5.975 15.647C13.145 15.647 17.066 9.629 17.066 4.409C17.066 4.237 17.063 4.065 17.056 3.897C17.8208 3.33678 18.4792 2.64419 19 1.852C18.29 2.172 17.535 2.382 16.761 2.474Z" fill="#848E9F"/>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="referral-detail">
        <h6 class="referral-detail-title">Бұл қалай жұмыс жасайды</h6>
        <div class="referral-detail-body">
          <div class="referral-detail-caption">
            <div class="referral-detail-item">
              <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 50C4 43.373 9.373 38 16 38H28C34.627 38 40 43.373 40 50M41 11.953C45.143 11.953 48.5 15.31 48.5 19.453C48.5 23.596 45.143 26.953 41 26.953M44 35C50.627 35 56 40.373 56 47M29.2147 12.9884C33.1992 16.9729 33.1992 23.4331 29.2147 27.4176C25.2302 31.4021 18.77 31.4021 14.7855 27.4176C10.801 23.4331 10.801 16.9729 14.7855 12.9884C18.77 9.00387 25.2302 9.00387 29.2147 12.9884Z" stroke="#4090FF" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <p>Daryn.online-ға достарыңды жоғарыдағы сілтеме бойынша шақыр</p>
            </div>
            <div class="referral-detail-item">
              <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 52C10 45.1663 15.642 39.625 22.6 39.625H29.8324M52 43.5795L43.6 51.8295L38.5628 46.8795M44.3 19.6875C44.3 26.1423 38.9722 31.375 32.4 31.375C25.8278 31.375 20.5 26.1423 20.5 19.6875C20.5 13.2327 25.8278 8 32.4 8C38.9722 8 44.3 13.2327 44.3 19.6875Z" stroke="#4090FF" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <p>Сенің досың сілтеме бойынша өтіп, өзіне керекті пәндерін сатып алады.</p>
            </div>
            <div class="referral-detail-item">
              <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.4211 29.7929V21.4001C14.4211 18.6545 16.1298 16.195 18.7095 15.2248L37.174 8.28612C40.0676 7.20154 43.1579 9.3267 43.1579 12.4044V19.7743M29.1476 49.7993H45.3684C49.0158 49.7993 52 46.8294 52 43.1994V26.372C52 22.7266 49.0313 19.7721 45.3684 19.7721H18.8421C16.3995 19.7721 14.4211 21.7411 14.4211 24.172V30.5651M27.5604 37.2112L20.8051 43.9342L16.7554 39.8995M43.7083 34.6218C43.4033 34.624 43.1579 34.8704 43.1579 35.174C43.1579 35.4776 43.4055 35.724 43.7105 35.7218C44.0156 35.7218 44.2632 35.4754 44.2632 35.1718C44.2632 34.8682 44.0156 34.6218 43.7083 34.6218ZM22.1579 51.9993C15.4445 51.9993 10 46.5808 10 39.8995C10 33.2182 15.4445 27.7997 22.1579 27.7997C28.8735 27.7997 34.3158 33.2182 34.3158 39.8995C34.3158 46.5808 28.8735 51.9993 22.1579 51.9993Z" stroke="#4090FF" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <p>Алғаш рет сабақ сатып алған соң төлем құнынан 10% daryn сіздің аккаунтыңызға түседі;</p>
            </div>
          </div>
          <div class="referral-detail-img">
            <img src="../../../assets/img/main/referral-bg.svg">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./VProfileReferral.js"></script>

<style scoped>

</style>