<template>
  <div>
      <section class="olympiad-video-bg">
          <video autoplay muted loop>
              <source src="@/assets/video/daryntandau-videobg.mp4" />
          </video>
      </section>
      <section class="olympiad-content">
          <div class="container">
              <div class="olympiad-content-inner">
                  <div class="olympiad-caption">
                      <h1>Олимпиады</h1>
                      <p>Республиканские и международные олимпиады по всем предметам <br>на казахском и русском языках</p>
                  </div>
                  <div class="olympiad-box">
                      <div class="olympiad-search">
                          <div class="olympiad-search-top">
                              <div class="olympiad-tablink-wrapper">
                                  <button class="btn-plain olympiad-tablink"
                                          :class="selectedTabTeacher ? 'active' : ''"
                                          @click="selectedTabTeacher = true">Учителям</button>
                                  <button class="btn-plain olympiad-tablink"
                                          :class="!selectedTabTeacher ? 'active' : ''"
                                          @click="selectedTabTeacher = false">Школьникам</button>
                              </div>
                              <div class="change-view">
                                  <button class="btn-plain change-view-btn"
                                          :class="listView ? 'active' : ''"
                                          @click="listView = true"
                                          id="list_view">
                                      <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M25 8.75H13.75C13.06 8.75 12.5 8.19 12.5 7.5V5C12.5 4.31 13.06 3.75 13.75 3.75H25C25.69 3.75 26.25 4.31 26.25 5V7.5C26.25 8.19 25.69 8.75 25 8.75Z" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
                                          <path d="M25 17.5H13.75C13.06 17.5 12.5 16.94 12.5 16.25V13.75C12.5 13.06 13.06 12.5 13.75 12.5H25C25.69 12.5 26.25 13.06 26.25 13.75V16.25C26.25 16.94 25.69 17.5 25 17.5Z" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
                                          <path d="M25 26.25H13.75C13.06 26.25 12.5 25.69 12.5 25V22.5C12.5 21.81 13.06 21.25 13.75 21.25H25C25.69 21.25 26.25 21.81 26.25 22.5V25C26.25 25.69 25.69 26.25 25 26.25Z" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
                                          <path d="M7.5 8.75H5C4.31 8.75 3.75 8.19 3.75 7.5V5C3.75 4.31 4.31 3.75 5 3.75H7.5C8.19 3.75 8.75 4.31 8.75 5V7.5C8.75 8.19 8.19 8.75 7.5 8.75Z" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
                                          <path d="M7.5 17.5H5C4.31 17.5 3.75 16.94 3.75 16.25V13.75C3.75 13.06 4.31 12.5 5 12.5H7.5C8.19 12.5 8.75 13.06 8.75 13.75V16.25C8.75 16.94 8.19 17.5 7.5 17.5Z" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
                                          <path d="M7.5 26.25H5C4.31 26.25 3.75 25.69 3.75 25V22.5C3.75 21.81 4.31 21.25 5 21.25H7.5C8.19 21.25 8.75 21.81 8.75 22.5V25C8.75 25.69 8.19 26.25 7.5 26.25Z" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
                                      </svg>
                                  </button>
                                  <button class="btn-plain change-view-btn"
                                          :class="!listView ? 'active' : ''"
                                          @click="listView = false"
                                          id="tiles_view">
                                      <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path fill-rule="evenodd" clip-rule="evenodd" d="M9.6875 12.1875H6.25C4.86875 12.1875 3.75 11.0688 3.75 9.6875V6.25C3.75 4.86875 4.86875 3.75 6.25 3.75H9.6875C11.0688 3.75 12.1875 4.86875 12.1875 6.25V9.6875C12.1875 11.0688 11.0688 12.1875 9.6875 12.1875Z" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
                                          <path fill-rule="evenodd" clip-rule="evenodd" d="M23.75 12.1875H20.3125C18.9312 12.1875 17.8125 11.0688 17.8125 9.6875V6.25C17.8125 4.86875 18.9312 3.75 20.3125 3.75H23.75C25.1313 3.75 26.25 4.86875 26.25 6.25V9.6875C26.25 11.0688 25.1313 12.1875 23.75 12.1875Z" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
                                          <path fill-rule="evenodd" clip-rule="evenodd" d="M9.6875 26.25H6.25C4.86875 26.25 3.75 25.1313 3.75 23.75V20.3125C3.75 18.9312 4.86875 17.8125 6.25 17.8125H9.6875C11.0688 17.8125 12.1875 18.9312 12.1875 20.3125V23.75C12.1875 25.1313 11.0688 26.25 9.6875 26.25Z" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
                                          <path fill-rule="evenodd" clip-rule="evenodd" d="M23.75 26.25H20.3125C18.9312 26.25 17.8125 25.1313 17.8125 23.75V20.3125C17.8125 18.9312 18.9312 17.8125 20.3125 17.8125H23.75C25.1313 17.8125 26.25 18.9312 26.25 20.3125V23.75C26.25 25.1313 25.1313 26.25 23.75 26.25Z" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
                                      </svg>
                                  </button>
                              </div>
                          </div>
                          <div class="olympiad-search-input">
                              <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M26 26L20.83 20.83M20.836 6.8886C24.6874 10.7401 24.6874 16.9845 20.836 20.836C16.9845 24.6874 10.7401 24.6874 6.8886 20.836C3.03713 16.9845 3.03713 10.7401 6.8886 6.8886C10.7401 3.03713 16.9845 3.03713 20.836 6.8886Z" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
                              </svg>
                              <input type="text" placeholder="Поиск по олимпиадам">
                          </div>
                      </div>
                      <div class="olympiad-card-wrapper" :class="!listView ? 'tiles' : ''">
                          <v-olympiads-card
                                  v-for="(item, itemIdx) in 4"
                                  :key="itemIdx"
                          />
                      </div>
                      <button class="btn-plain load-more-btn"
                              :class="loadMore ? 'active' : ''"
                              @click="loadMore = true">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M11.9983 1C9.31776 1.00041 6.72958 1.97962 4.72005 3.75367C2.71051 5.52772 1.41792 7.9745 1.08513 10.6343C0.752335 13.2942 1.40224 15.984 2.91274 18.1985C4.42324 20.4129 6.69037 21.9996 9.28821 22.6605C11.8861 23.3213 14.6358 23.0108 17.0209 21.7873C19.4059 20.5638 21.2621 18.5114 22.2407 16.0159C23.2194 13.5203 23.2531 10.7533 22.3355 8.23467C21.4179 5.71603 19.6123 3.61911 17.2577 2.33787M17.2577 6.566V1.704H22.1197" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                          <span>Загрузить еще (6)</span>
                      </button>
                  </div>
              </div>
          </div>
      </section>
  </div>
</template>

<script src="./VOlympiads.js"></script>

<style scoped>

</style>
