<template>
  <div class="callDetail">
    <div class="callDetail-body">
      <div class="callDetail-top">
        <router-link class="profileHistory-backlink" :to="{'name': 'VHistoryCall'}">
          <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7 1L1 7L7 13" stroke="#848E9F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </router-link>
        <h6>Қоңырау туралы ақпарат</h6>
      </div>
      <div class="callDetail-author">
        <div class="callDetail-author-img">
          <img src="../../../assets/img/main/author-ava.png">
        </div>
        <div class="callDetail-author-caption">
          <span>Тұран Мұрал</span>
          <div class="rate-orange">
            <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.29999 0.399902L9.43173 4.74456L14.2 5.4456L10.75 8.82534L11.5642 13.5999L7.29999 11.3446L3.03579 13.5999L3.84999 8.82534L0.399994 5.4456L5.16753 4.74456L7.29999 0.399902Z" fill="#F2994A"/>
            </svg>
            <span>4.9</span>
          </div>
        </div>
      </div>
      <div class="callDetail-info">
        <span>Тақырып</span>
        <p>Жылулық қозғалыс, броундық қозғалыс және диффузия</p>
      </div>
      <div class="callDetail-info">
        <span>Видеокурстың уақыты</span>
        <p>2 минут 48 секунд</p>
      </div>
      <div class="callDetail-info">
        <span>Төлем</span>
        <div class="callHistory-detail-item callHistory-bonus">
          <span>+ 2 500</span>
          <svg width="12" height="18" viewBox="0 0 16 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.30019 21.3385V24.1333H6.05019V21.5333H0.200195V3.33334H6.05019V0.733337H9.30019V3.5281C13.4418 4.31358 15.8002 7.44382 15.8002 12.3514C15.8002 17.372 13.4656 20.5467 9.30019 21.3385ZM9.30019 18.2355C11.3269 17.3694 12.4372 15.366 12.4372 12.4018C12.4372 9.51262 11.308 7.51721 9.30019 6.64355V18.2355ZM6.05019 6.14595H3.49921V18.7207H6.05019V6.14595Z" fill="#219653"/>
          </svg>
        </div>
      </div>
    </div>
    <div class="callDetail-bottom">
      <div class="callDetail-rate">
        <i class="icon star-orange"></i>
        <i class="icon star-orange"></i>
        <i class="icon star-orange"></i>
        <i class="icon star-orange"></i>
        <i class="icon star-orange"></i>
        <span>5/5</span>
      </div>
      <div class="callDetail-review">
        <p>Жақсы біледі, тез түсінеді. Тек өзіне сенімсіз.</p>
      </div>
      <div class="callDetail-reward">
        <div class="callDetail-reward-img">
          <img src="../../../assets/img/main/reward.png">
        </div>
        <div class="callDetail-reward-caption">
          <span>Қосымша</span>
          <p>Кемеңгер</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./VHistoryCallDetail.js"></script>

<style scoped>

</style>