<template>
    <section class="tutor-list bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <button class="btn-plain btn-white filter-toggle"
                            :class="{'active' : filterOpened}"
                            @click="toggleFilter">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19 21H5C3.895 21 3 20.105 3 19V5C3 3.895 3.895 3 5 3H19C20.105 3 21 3.895 21 5V19C21 20.105 20.105 21 19 21Z" stroke="#848E9F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M9 11V18" stroke="#848E9F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M11 9C11 7.895 10.105 7 9 7C7.895 7 7 7.895 7 9C7 10.105 7.895 11 9 11C10.105 11 11 10.105 11 9Z" stroke="#848E9F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M17 14C17 12.895 16.105 12 15 12C13.895 12 13 12.895 13 14C13 15.105 13.895 16 15 16C16.105 16 17 15.105 17 14Z" stroke="#848E9F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M15 7V12" stroke="#848E9F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M15 16V18" stroke="#848E9F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <span>{{ filterOpened ? 'Фильтрді жабу' : 'Фильтрді ашу' }}</span>
                        <svg width="22" height="13" viewBox="0 0 22 13" fill="none" xmlns="http://www.w3.org/2000/svg" class="filter-arrow">
                            <path d="M1 1L11 11L21 1" stroke="#C4C4C4" stroke-width="1.5"/>
                        </svg>
                    </button>
                    <div class="tutor-aside">
                        <div class="tutor-aside-edit">
                            <v-select
                                  v-model="selectedSubject"
                                  :options="subjects"
                                  :label="'Выберите предмет'">
                            </v-select>
                            <v-select
                                    v-model="selectedCity"
                                    :options="cities"
                                    :label="'Город'">
                            </v-select>
                            <v-select
                                    v-model="selectedPlace"
                                    :options="places"
                                    :label="'Район'">
                            </v-select>
                            <div class="form-half">
                                <v-input
                                        v-model="priceFrom"
                                        label="Цена от"
                                        type="number"
                                />
                                <v-input
                                        v-model="priceTo"
                                        label="Цена до"
                                        type="number"
                                />
                            </div>
                            <label class="form-label select-label">
                                <span>Сортировать по рейтингу</span>
                                <select name="#">
                                    <option value="1">Сортировать по цене</option>
                                    <option value="2">Сортировать по опыту</option>
                                    <option value="3">Сортировать по цене</option>
                                </select>
                                <i class="icon i-down-grey"></i>
                            </label>
                        </div>
                        <div class="tutor-aside-bottom">
                            <button class="btn-plain tutor-aside-btn">Применить</button>
                            <button class="btn-plain tutor-aside-clear">Очистить</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="tutorCard-wrapper">
                        <div class="tutorCard warning">
                            <div class="tutorCard-left">
                                <div class="tutorCard-img">
                                    <img src="@/assets/img/main/author-ava.png">
                                    <a class="absolute-link" href="#"></a>
                                </div>
                                <button class="btn-plain call-tutor">Связаться</button>
                            </div>
                            <div class="tutorCard-right">
                                <div class="tutorCard-caption-top">
                                    <div class="tutorCard-img tutorCard-right-img">
                                        <img src="@/assets/img/main/author-ava.png">
                                        <a class="absolute-link" href="#"></a>
                                    </div>
                                    <div class="tutorCard-caption-right">
                                        <div class="tutorCard-head">
                                            <a class="tutorCard-title" href="#">Индира Кумаровна</a>
                                            <span class="tutorCard-price">1500 ₸ / час</span>
                                        </div>
                                        <div class="tutorCard-rate">
                                            <div class="tutorCard-rating">
                                                <div class="star-rate"></div>
                                                <span class="my-rating-number">4.5</span>
                                                <div class="tutorCard-rating-notice">
                                                    <h6>Рейтинг қалай есептеледі?</h6>
                                                    <ul>
                                                        <li>
                                                            <p>+ 4.0 балл - мұғалімге оқушылардың берген рейтингілердің арифметикалық ортасы;</p>
                                                        </li>
                                                        <li>
                                                            <p>+ 0.2 балл - біз бекіткен стандарттағы фотосуретті қолдануы;</p>
                                                        </li>
                                                        <li>
                                                            <p>+ 0.15 балл - өзі туралы 200 символдан көп жазуы;</p>
                                                        </li>
                                                        <li>
                                                            <p>+ 0.15 балл - өзінің жұмыс орнын көрсетуі</p>
                                                        </li>
                                                    </ul>
                                                    <a class="tutorCard-rating-link" href="#">Подробнее</a>
                                                </div>
                                            </div>
                                            <div class="tutorCard-review">
                                                <p>1293 отзыва</p>
                                                <span class="negative-rate">(-2)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tutorCard-caption-bottom">
                                    <div class="tutorCard-review tutorCard-review-dupl">
                                        <p>1293 отзыва</p>
                                        <span class="negative-rate">(-2)</span>
                                    </div>
                                    <div class="tutorCard-lang">
                                        <span>Языки обучения</span>
                                        <div class="lang-icon">
                                            <i class="icon lang-rus"></i>
                                            <i class="icon lang-kaz"></i>
                                            <i class="icon lang-eng"></i>
                                        </div>
                                    </div>
                                    <p class="tutorCard-experience">7 лет опыта работы</p>
                                    <p class="tutorCard-edu">Высший институт пищевкусовой промышленности (Болгария), специалист, 1989</p>
                                    <p class="tutorCard-about">Большой опыт работы,индивидуальный подход к каждому ученику. Мои ученики улучшили знания, повысили успеваемость, успешно поступили в НИШ, колледжи и ВУЗы Казахстана</p>
                                    <div class="tutorCard-bottom">
                                        <ul class="tutorCard-subject-wrapper">
                                            <li>
                                                <span class="tutorCard-subject">Английский язык</span>
                                            </li>
                                            <li>
                                                <span class="tutorCard-subject">Математика</span>
                                            </li>
                                            <li>
                                                <span class="tutorCard-subject">Русский язык</span>
                                            </li>
                                            <li>
                                                <a class="tutorCard-subject" href="#">
                                                    Больше
                                                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M0.666748 1.33334L5.33342 6.00001L0.666748 10.6667" stroke="#828282"/>
                                                    </svg>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="top-box">
                                            <button class="btn-plain btn-top">
                                                <span>top</span>
                                                <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 6.5L6 1.5L11 6.5" stroke="#F2994A"/>
                                                </svg>
                                            </button>
                                            <div class="top-notice">
                                                <h6>Отправить в ТОП</h6>
                                                <p>С 05 мая 21:50:29 объявление поднято в поиске выше бесплатных.</p>
                                                <a class="top-notice-link" href="#">Поднять объявление</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn-plain call-tutor call-tutor-xs">Связаться</button>
                        </div>
                        <v-tutor-card
                                v-for="(item, itemIdx) in tutorList"
                                :key="itemIdx"
                                :item="item"
                        />
                    </div>
                    <ul class="pagination">
                        <li class="disabled"><a href="#">«</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</template>

<script src="./VTutor.js"></script>

<style scoped>
    .tutor-list {
        transition: .2s ease all;
    }

    .tutor-list .tutor-aside {
        transition: .2s ease all;
        height: 0;
    }

    .tutor-list .active + .tutor-aside {
        height: 600px;
        display: block;
    }
</style>
