<template>
    <div class="tutorCard">
        <div class="tutorCard-left">
            <div class="tutorCard-img">
                <img :src="getUserAvatar()">
                <a class="absolute-link" href="#"></a>
            </div>
            <button class="btn-plain call-tutor">Связаться</button>
        </div>
        <div class="tutorCard-right">
            <div class="tutorCard-caption-top">
                <div class="tutorCard-img tutorCard-right-img">
                    <img src="@/assets/img/main/author-ava.png">
                    <a class="absolute-link" href="#"></a>
                </div>
                <div class="tutorCard-caption-right">
                    <div class="tutorCard-head">
                        <a class="tutorCard-title" href="#">{{ item.user.name }}</a>
                        <span class="tutorCard-price">{{ item.cost }} ₸ / час</span>
                    </div>
                    <div class="tutorCard-rate">
                        <div class="tutorCard-rating">
                            <div class="my-rating"></div>
                                <star-rating :increment="0.5"
                                             :rating="4.5"
                                             :max-rating="5"
                                             active-color="#F2994A"
                                             :show-rating="false"
                                             :star-size="20"/>
                            <span class="my-rating-number">4.5</span>
                            <div class="tutorCard-rating-notice">
                                <h6>Рейтинг қалай есептеледі?</h6>
                                <ul>
                                    <li>
                                        <p>+ 4.0 балл - мұғалімге оқушылардың берген рейтингілердің арифметикалық ортасы;</p>
                                    </li>
                                    <li>
                                        <p>+ 0.2 балл - біз бекіткен стандарттағы фотосуретті қолдануы;</p>
                                    </li>
                                    <li>
                                        <p>+ 0.15 балл - өзі туралы 200 символдан көп жазуы;</p>
                                    </li>
                                    <li>
                                        <p>+ 0.15 балл - өзінің жұмыс орнын көрсетуі</p>
                                    </li>
                                </ul>
                                <a class="tutorCard-rating-link" href="#">Подробнее</a>
                            </div>
                        </div>
                        <div class="tutorCard-review">
                            <p>{{ item.review_count }} отзыва</p>
                            <span class="negative-rate">(-2)</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tutorCard-caption-bottom">
                <div class="tutorCard-review tutorCard-review-dupl">
                    <p>1293 отзыва</p>
                    <span class="negative-rate">(-2)</span>
                </div>
                <div class="tutorCard-lang">
                    <span>Языки обучения</span>
                    <div class="lang-icon">
                        <i class="icon"
                           v-for="(lang, langIdx) in item.language"
                           :key="langIdx"
                           :class="{'lang-kaz': lang.language_id === 1, 'lang-rus': lang.language_id === 2, 'lang-eng': lang.language_id === 3}">
                        </i>
                    </div>
                </div>
                <p class="tutorCard-experience">{{ item.experience }} лет опыта работы</p>
                <p class="tutorCard-edu">{{ item.work_place }}</p>
                <p class="tutorCard-about">{{ item.desc }}</p>
                <div class="tutorCard-bottom">
                    <ul class="tutorCard-subject-wrapper" v-if="item.subject">
                        <li v-for="(subject, subjectIdx) in item.subject.slice(0, 3)"
                            :key="subjectIdx">
                            <span class="tutorCard-subject">{{ subject.object_name_kz }}</span>
                        </li>
                        <li>
                            <a class="tutorCard-subject" href="#" v-if="item.subject.length > 3">
                                Больше
                                <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.666748 1.33334L5.33342 6.00001L0.666748 10.6667" stroke="#828282"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <div class="top-box">
                        <button class="btn-plain btn-top">
                            <span>top</span>
                            <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 6.5L6 1.5L11 6.5" stroke="#F2994A"/>
                            </svg>
                        </button>
                        <div class="top-notice">
                            <h6>Отправить в ТОП</h6>
                            <p>С 05 мая 21:50:29 объявление поднято в поиске выше бесплатных.</p>
                            <a class="top-notice-link" href="#">Поднять объявление</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn-plain call-tutor call-tutor-xs">Связаться</button>
    </div>
</template>

<script>

import StarRating from 'vue-star-rating'
export default {
  name: "VTutorCard",
    components: {
        StarRating
    },
    props: {
        item: {
            required: true,
        },
    },
    methods: {
      getUserAvatar() {
          if (this.item.user.avatar) {
             if (this.item.user.avatar.includes('https://daryn.online/')) {
                 return this.item.user.avatar
             } else {
                 return 'https://daryn.online/' + this.item.user.avatar
             }
          }
      }
    }
}
</script>

<style scoped>

</style>
