<template>
    <label class="form-label label-selectpicker">
        <em class="form-title">{{ label }}</em>
        <v-select class="selectpicker"
                  :value="value"
                  :disabled="false"
                  :options="options"
                  :labelSearchPlaceholder=labelSearchPlaceholder
                  :searchable="true">

        </v-select>
        <i class="icon i-down-grey"></i>
    </label>
</template>

<script>
    import VSelect from '@alfsnd/vue-bootstrap-select'
export default {
  name: "VCustomSelect",
  props: {
    label: {
      type: String,
    },
    options: {
      required: true,
    },
    value: {
      required: true,
    },
      labelSearchPlaceholder: {
      type: String,
      default: '',
    },
      searchable: {
         type: Boolean,
         default: true,
     }
  },

    components: {
        VSelect
    },
}
</script>

<style lang="scss">
    .form-label span, .form-label .form-title {
        font-size: 14px !important;
        z-index: 2;
    }
    .v-select-toggle {
        height: 60px !important;
        border-bottom: 1px solid #E5E5E5 !important;
        padding-top: 26px !important;
        padding-left: 0 !important;
        background-color: #fff !important;
        font-size: 16px !important;
        outline: none;

        &:focus, &:hover, &:active {
            border-color: #fff !important;
            border-bottom: 1px solid #E5E5E5 !important;
            outline: none !important;
        }
    }
    .arrow-down {
        display: none !important;
    }

    .label-selectpicker .i-down-grey {
        bottom: -10px;
    }

    .v-dropdown-item.selected {
        color: #16181b !important;
        text-decoration: none !important;
        background-color: #f8f9fa !important;
    }

    .v-dropdown-item {
        font-size: 16px;
    }

    .tutor-list .label-selectpicker {
        margin-top: 0 !important;
    }
</style>

