<template>
  <div class="searchCover-box">
    <div class="searchCover" :class="{'search-active': isSearch}">
      <button class="btn-plain btn-search" @click="onSearchBtn">
        <icon-base width="30" height="30" icon-name="search"><icon-search /></icon-base>
      </button>
      <input
        type="text"
        placeholder="Табу керек нәрсені жазып, enter пернесін басыңыз"
        class="search-complete"
        v-model="search"
      />
      <div class="search-control">
        <button class="btn-plain clear-search" @click="onClearSearch">
          <img src="../../assets/img/icon/close-search.svg" alt="">
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import IconBase from "../icons/IconBase";
import IconSearch from "../icons/components/IconSearch";

export default {
  name: "VSearch",

  components: {
    IconBase,
    IconSearch
  },

  data() {
    return {
      search: '',
      isSearch: false,
    }
  },

  methods: {
    onSearchBtn() {
      this.isSearch = true;
    },
    onClearSearch() {
      this.search = '';
      this.isSearch = false;
    },
  }
}
</script>

<style scoped>

</style>