<template>
  <section class="profile-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-xl-3">
          <div class="profile-left">
            <v-profile-card />
            <div
              class="profile-aside-toggle"
              :class="{'active': isProfileAside}"
              @click="isProfileAside = !isProfileAside">
              <span v-if="isProfileAside">Скрыть навигацию</span>
              <span v-else>Показать навигацию</span>
              <svg width="18" height="11" viewBox="0 0 18 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L9 9L17 1" stroke="#848E9F" stroke-width="1.5"/>
              </svg>
            </div>
            <ul class="profile-aside">
              <li
                v-for="(item, itemIdx) in profileMenu"
                :key="itemIdx"
                :class="{'active': checkActiveMenu(item)}"
              >
                <router-link :to="{name: item.name}">
                  <span v-html="item.icon"></span>
                  <span>{{ item.title }}</span>
                </router-link>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-8 col-xl-9">
          <transition name="v-transition--fade">
            <router-view />
          </transition>
        </div>
      </div>
    </div>
  </section>
</template>

<script src="./VProfile.js"></script>

<style scoped lang="scss">

</style>