<template>
  <path d="M13.9 16.1H20.5M20.5 10.6H19.345C17.5532 10.6 16.1 12.0532 16.1 13.845V26M9.5 4H20.5049C23.5397 4 26 6.46033 26 9.49511V20.5061C26 23.5397 23.5397 26 20.5049 26H9.49511C6.46033 26 4 23.5397 4 20.5049V9.5C4 6.46278 6.46278 4 9.5 4Z"
        stroke="#848E9F" stroke-linecap="round" stroke-linejoin="round"/>
</template>

<script>
export default {
  name: "IconFacebookMini"
}
</script>

<style scoped>

</style>