<template>
  <path d="M5.6432 9.2H3.6C2.716 9.2 2 8.484 2 7.6V3.6C2 2.716 2.716 2 3.6 2H16.4C17.284 2 18 2.716 18 3.6V7.6C18 8.484 17.284 9.2 16.4 9.2H8.0432M5.6432 9.2V7.2C5.6432 6.5376 6.1808 6 6.8432 6C7.5056 6 8.0432 6.5376 8.0432 7.2V10.8L11.4224 11.3512C12.2712 11.4896 12.8584 12.2752 12.752 13.1288L12.3184 16.5984C12.2176 17.3992 11.5376 18 10.7304 18H6.5C5.9648 18 5.4648 17.7328 5.168 17.2872L3.0088 14.048C2.68 13.5552 2.7448 12.8984 3.164 12.4792C3.6496 11.9936 4.4368 11.9936 4.9224 12.4792L5.6432 13.2V9.2ZM14.5952 5.5992C14.5952 5.4912 14.508 5.404 14.4 5.4048C14.292 5.4048 14.2048 5.492 14.2048 5.6C14.2048 5.708 14.292 5.7952 14.4 5.7952C14.508 5.7952 14.5952 5.708 14.5952 5.5992ZM11.3952 5.5992C11.3952 5.4912 11.308 5.404 11.2 5.4048C11.092 5.4048 11.0048 5.492 11.0048 5.6C11.0048 5.708 11.092 5.7952 11.2 5.7952C11.3072 5.7952 11.3952 5.708 11.3952 5.5992Z" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
</template>

<script>
export default {
  name: "IconRestore"
}
</script>

<style scoped>

</style>