<template>
  <path d="M6.51467 23.4853C8.53278 21.4672 11.2699 20.3334 14.124 20.3333H15.7413C17.866 20.3334 19.943 20.9625 21.7107 22.1413L23.5773 23.384M27 15C27 21.6274 21.6274 27 15 27C8.37258 27 3 21.6274 3 15C3 8.37258 8.37258 3 15 3C21.6274 3 27 8.37258 27 15ZM15 8C17.2091 8 19 9.79086 19 12V12.6667C19 14.8758 17.2091 16.6667 15 16.6667C12.7909 16.6667 11 14.8758 11 12.6667V12C11 9.79086 12.7909 8 15 8Z" stroke="#162F71" stroke-linecap="round" stroke-linejoin="round"/>
</template>

<script>
export default {
  name: "IconProfile"
}
</script>

<style scoped>

</style>