<template>
  <path d="M21.1111 26H15C12.8244 26 10.6977 25.3549 8.88873 24.1462C7.07979 22.9375 5.66989 21.2195 4.83733 19.2095C4.00477 17.1995 3.78693 14.9878 4.21137 12.854C4.6358 10.7202 5.68345 8.76021 7.22183 7.22183C8.76021 5.68345 10.7202 4.6358 12.854 4.21137C14.9878 3.78693 17.1995 4.00477 19.2095 4.83733C21.2195 5.66989 22.9375 7.07979 24.1462 8.88873C25.3549 10.6977 26 12.8244 26 15V16.8333C26 17.6437 25.6781 18.4209 25.105 18.9939C24.532 19.567 23.7548 19.8889 22.9444 19.8889C22.1341 19.8889 21.3569 19.567 20.7838 18.9939C20.2108 18.4209 19.8889 17.6437 19.8889 16.8333V15C19.8889 13.7034 19.3738 12.4599 18.457 11.543C17.5401 10.6262 16.2966 10.1111 15 10.1111V10.1111C14.0331 10.1111 13.0879 10.3978 12.2839 10.935C11.4799 11.4722 10.8533 12.2358 10.4833 13.1291C10.1132 14.0224 10.0164 15.0054 10.2051 15.9538C10.3937 16.9021 10.8593 17.7732 11.543 18.457C12.2268 19.1407 13.0979 19.6063 14.0462 19.795C14.9946 19.9836 15.9776 19.8868 16.8709 19.5167C17.7642 19.1467 18.5278 18.5201 19.065 17.7161C19.6022 16.9121 19.8889 15.9669 19.8889 15"
        stroke="#848E9F" stroke-linecap="round" stroke-linejoin="round"/>
</template>

<script>
export default {
  name: "IconMail"
}
</script>

<style scoped>

</style>