<template>
  <path d="M18.026 9.78947V6.89474C18.026 5.29568 16.6715 4 15 4H14.9988C13.3272 4 11.9728 5.29568 11.9728 6.89474V9.78947M22.456 10.1832L18.8006 26M25.971 24.592L22.7574 10.6973C22.6351 10.1669 22.1437 9.78947 21.576 9.78947H8.42395C7.85628 9.78947 7.36486 10.1669 7.24261 10.6973L4.02903 24.592C3.862 25.3145 4.43693 26 5.21037 26H24.7896C25.5631 26 26.138 25.3145 25.971 24.592Z" stroke="#162F71" stroke-linecap="round" stroke-linejoin="round"/>
</template>

<script>
export default {
  name: "IconMarket"
}
</script>

<style scoped>

</style>