<template>
  <g>
    <path d="M26 26L20.83 20.83M20.836 6.8886C24.6874 10.7401 24.6874 16.9845 20.836 20.836C16.9845 24.6874 10.7401 24.6874 6.8886 20.836C3.03713 16.9845 3.03713 10.7401 6.8886 6.8886C10.7401 3.03713 16.9845 3.03713 20.836 6.8886Z" stroke="#162F71" stroke-linecap="round" stroke-linejoin="round"/>
  </g>
</template>

<script>
export default {
  name: "IconSearch"
}
</script>

<style scoped>

</style>