<template>
  <g>
    <path d="M6.64863 18.1294L5.60438 22.0277L1.78764 22.1085C0.646992 19.9928 0 17.5723 0 15C0 12.5127 0.604922 10.167 1.67719 8.10165H1.67801L5.07598 8.72462L6.56449 12.1022C6.25295 13.0105 6.08314 13.9855 6.08314 15C6.08326 16.1011 6.28271 17.1561 6.64863 18.1294Z" fill="#FBBB00"/>
    <path d="M29.7379 12.1978C29.9102 13.1052 30 14.0423 30 15C30 16.0739 29.8871 17.1214 29.672 18.1319C28.9418 21.5703 27.0338 24.5728 24.3907 26.6975L24.3899 26.6967L20.11 26.4783L19.5042 22.697C21.2581 21.6684 22.6287 20.0588 23.3507 18.1319H15.3298V12.1978H23.4677H29.7379Z" fill="#518EF8"/>
    <path d="M24.3898 26.6967L24.3907 26.6975C21.8201 28.7637 18.5547 30 15 30C9.28766 30 4.32119 26.8072 1.78766 22.1085L6.64865 18.1294C7.91539 21.5102 11.1767 23.9168 15 23.9168C16.6434 23.9168 18.183 23.4725 19.5041 22.697L24.3898 26.6967Z" fill="#28B446"/>
    <path d="M24.5744 3.45328L19.7151 7.43156C18.3478 6.57691 16.7315 6.0832 15 6.0832C11.0901 6.0832 7.7678 8.60021 6.56452 12.1022L1.67797 8.10164H1.67715C4.1736 3.28846 9.2027 0 15 0C18.6395 0 21.9766 1.29645 24.5744 3.45328Z" fill="#F14336"/>
  </g>
</template>

<script>
export default {
  name: "IconGoogle"
}
</script>

<style scoped>

</style>