<template>
  <path d="M11.9983 1C9.31776 1.00041 6.72958 1.97962 4.72005 3.75367C2.71051 5.52772 1.41792 7.9745 1.08513 10.6343C0.752335 13.2942 1.40224 15.984 2.91274 18.1985C4.42324 20.4129 6.69037 21.9996 9.28821 22.6605C11.8861 23.3213 14.6358 23.0108 17.0209 21.7873C19.4059 20.5638 21.2621 18.5114 22.2407 16.0159C23.2194 13.5203 23.2531 10.7533 22.3355 8.23467C21.4179 5.71603 19.6123 3.61911 17.2577 2.33787M17.2577 6.566V1.704H22.1197" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
</template>

<script>
export default {
  name: "IconSpin"
}
</script>

<style scoped>

</style>