<template>
  <path d="M19.5191 5C23.3988 5 26 8.53907 26 11.8349C26 18.5229 15.1967 24 15 24C14.8033 24 4 18.5229 4 11.8349C4 8.53907 6.60376 5 10.4809 5C12.6991 5 14.1562 6.07413 15 7.03173C15.8412 6.07413 17.2984 5 19.5191 5Z" stroke="#C0C0C0" stroke-linecap="round" stroke-linejoin="round" fill=""/>
</template>

<script>
export default {
  name: "IconHeart"
}
</script>

<style scoped>

</style>