<template>
  <path d="M15.6471 7.88221L22.1178 14.3529M10.4706 19.5294L14.353 15.647M9.85334 26H4V20.1467C3.99994 19.8496 4.05842 19.5554 4.17212 19.281C4.28581 19.0065 4.45248 18.7571 4.66259 18.5471L18.546 4.66372C18.756 4.45332 19.0054 4.2864 19.28 4.17251C19.5546 4.05862 19.8489 4 20.1462 4C20.4434 4 20.7378 4.05862 21.0124 4.17251C21.287 4.2864 21.5364 4.45332 21.7464 4.66372L25.3363 8.25363C25.5467 8.46362 25.7136 8.71305 25.8275 8.98763C25.9414 9.26221 26 9.55655 26 9.85382C26 10.1511 25.9414 10.4454 25.8275 10.72C25.7136 10.9946 25.5467 11.244 25.3363 11.454L11.4529 25.3374C11.0284 25.7613 10.4532 25.9996 9.85334 26Z" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
</template>

<script>
export default {
  name: "IconPencil"
}
</script>

<style scoped>

</style>