<template>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M6.89997 14.465V16.4H4.64997V14.5999H0.599976V1.99995H4.64997V0.199951H6.89997V2.13479C9.76721 2.67858 11.4 4.84567 11.4 8.24319C11.4 11.719 9.7837 13.9169 6.89997 14.465ZM6.89997 12.3168C8.3031 11.7172 9.07178 10.3303 9.07178 8.27812C9.07178 6.27791 8.28997 4.89648 6.89997 4.29164V12.3168ZM4.64997 3.94714H2.88391V12.6528H4.64997V3.94714Z" fill="#03A44D"/>
</template>

<script>
export default {
  name: "IconPrice"
}
</script>

<style scoped>

</style>