<template>
  <g>
    <g clip-path="url(#clip0)">
      <path d="M28.344 5.30167e-08H1.65459C0.740662 0.000457817 -0.000228829 0.741806 5.30167e-08 1.65596V28.3454C0.000457817 29.2593 0.741806 30.0002 1.65596 30H28.344C29.2584 30.0002 29.9998 29.2591 30 28.3447C30 28.3445 30 28.3443 30 28.344V1.65459C29.9995 0.740662 29.2582 -0.000228829 28.344 5.30167e-08Z" fill="#4267B2"/>
      <path d="M20.7129 30V18.3984H24.624L25.21 13.8574H20.7129V10.9653C20.7129 9.65353 21.077 8.75975 22.958 8.75975H25.3418V4.70923C24.9271 4.65407 23.5041 4.5307 21.8484 4.5307C18.3913 4.5307 16.0254 6.64008 16.0254 10.5155V13.8574H12.1289V18.3984H16.0254V30H20.7129Z" fill="white"/>
    </g>
    <defs>
      <clipPath id="clip0">
        <rect width="30" height="30" fill="white"/>
      </clipPath>
    </defs>
  </g>
</template>

<script>
export default {
  name: "IconFacebook"
}
</script>

<style scoped>

</style>