<template>
  <path d="M12.3447 17.6413C14.8134 20.1006 17.9405 21.6668 19.8012 19.8229L20.2522 19.3739C20.854 18.7759 20.7698 17.7852 20.0713 17.3023C19.6315 16.9971 19.1592 16.6694 18.6365 16.3041C18.0963 15.9263 17.355 15.9851 16.8864 16.4479L16.3763 16.9521C15.7444 16.553 15.1187 16.0414 14.5383 15.4635L14.5358 15.461C13.9553 14.883 13.4415 14.2601 13.0407 13.6309L13.547 13.123C14.0131 12.6564 14.0709 11.9183 13.6915 11.3805C13.3234 10.8601 12.9942 10.3897 12.6889 9.9519C12.204 9.25763 11.209 9.17382 10.6084 9.77176L10.1574 10.2208C8.30552 12.0735 9.87848 15.1858 12.3472 17.6451M22.795 7.19736C20.7271 5.13709 17.9769 4.00125 15.0471 4C9.00782 4 4.09423 8.88986 4.09297 14.9006C4.09046 16.8132 4.59426 18.6934 5.55411 20.3508L4 26L9.80686 24.4839C11.4137 25.3545 13.2128 25.8111 15.0421 25.8111H15.0471C21.0839 25.8111 25.9975 20.92 26 14.9093C26.0013 11.9972 24.863 9.25888 22.795 7.19736Z"
        stroke="#848E9F" stroke-linecap="round" stroke-linejoin="round"/>
</template>

<script>
export default {
  name: "IconWhatsapp"
}
</script>

<style scoped>

</style>