<template>
  <g>
    <path fill-rule="evenodd" clip-rule="evenodd"
            d="M9.49511 4H20.5061C23.5397 4 26 6.45911 26 9.49511V20.5061C26 23.5397 23.5409 26 20.5049 26H9.49511C6.46033 26 4 23.5409 4 20.5049V9.49511C4 6.46033 6.45911 4 9.49511 4Z"
            stroke="#848E9F" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M21.0488 8.53811C20.8214 8.53933 20.6369 8.72389 20.6369 8.95122C20.6369 9.17856 20.8227 9.36311 21.05 9.36311C21.2773 9.36311 21.4619 9.17856 21.4619 8.95122C21.4631 8.72267 21.2773 8.53811 21.0488 8.53811Z"
            stroke="#848E9F" stroke-linecap="round" stroke-linejoin="round"/>
    <path fill-rule="evenodd" clip-rule="evenodd"
            d="M18.1113 11.8887C19.8296 13.607 19.8296 16.393 18.1113 18.1113C16.393 19.8296 13.6071 19.8296 11.8887 18.1113C10.1704 16.393 10.1704 13.607 11.8887 11.8887C13.6071 10.1704 16.393 10.1704 18.1113 11.8887Z"
            stroke="#848E9F" stroke-linecap="round" stroke-linejoin="round"/>
  </g>
</template>

<script>
export default {
  name: "IconInstagram"
}
</script>

<style scoped>

</style>