<template>
    <div class="olympiad-card">
        <div class="olympiad-card-img">
            <img src="@/assets/img/main/olymp-banner.png">
            <a class="absolute-link" href="#"></a>
        </div>
        <div class="olympiad-card-caption">
            <div class="card-caption-top">
                <div class="olympiad-card-img card-img-xs">
                    <img src="@/assets/img/main/olymp-banner.png">
                    <a class="absolute-link" href="#"></a>
                </div>
                <div class="olympiad-card-title">
                    <h6>Бастауыш пән мұғалімдерінің олимпиадасы</h6>
                    <a class="absolute-link" href="#"></a>
                </div>
                <div class="bonus-price-blue">
                    <span>500</span>
                    <svg width="16" height="23" viewBox="0 0 16 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.20005 19.6201V22.2H6.20005V19.8H0.800049V3.00001H6.20005V0.600006H9.20005V3.17979C13.023 3.90485 15.2 6.7943 15.2 11.3243C15.2 15.9588 13.045 18.8893 9.20005 19.6201ZM9.20005 16.7558C11.0709 15.9564 12.0958 14.1071 12.0958 11.3709C12.0958 8.70396 11.0534 6.86204 9.20005 6.05559V16.7558ZM6.20005 5.59626H3.84529V17.2037H6.20005V5.59626Z" fill="#4090FF"/>
                    </svg>
                </div>
            </div>
            <div class="card-caption-body">
                <p>DARYN.ONLINE білім беру платформасы Qaztest.kz олимпиада сайтымен бірлесе отырып өткізіліп жатқан мұғалімдерге арналған Республикалық пәндік олимпиада</p>
            </div>
            <div class="card-caption-bottom">
                <a class="olympiad-rules-btn" href="#">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 18.1111V12H10.7778M12 23C5.92433 23 1 18.0757 1 12C1 5.92433 5.92433 1 12 1C18.0757 1 23 5.92433 23 12C23 18.0757 18.0757 23 12 23ZM11.6932 7.11111C11.5246 7.11111 11.3877 7.248 11.3889 7.41667C11.3889 7.58533 11.5258 7.72222 11.6944 7.72222C11.8631 7.72222 12 7.58533 12 7.41667C12 7.248 11.8631 7.11111 11.6932 7.11111Z" stroke="#848E9F" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span>Тест ережесi</span>
                </a>
                <a class="olympiad-start-btn" href="#">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24.2412 9.43156L15.0061 18.6667L10.3898 14.0491M26 15C26 21.0757 21.0757 26 15 26C8.92433 26 4 21.0757 4 15C4 8.92433 8.92433 4 15 4C16.7759 4 18.4479 4.43144 19.9329 5.17822" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span>Бастау</span>
                </a>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: "VOlympiadsCard"
}
</script>

<style scoped>

</style>
