.callHistory {
  background: #FFFFFF;
  border-radius: 6px;
  padding: 30px 40px;
}

.callHistory-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.callHistory-head h3 {
  font-weight: 200;
  font-size: 36px;
  line-height: 100%;
  color: #222222;
}

.callHistory-btn {
  padding: 10px 13px;
  background: #FFFFFF;
  border-radius: 6px;
  display: flex;
  align-items: center;
  border: 1px solid #D7DEFD;
}

.callHistory-btn:hover, .callHistory-btn:focus  {
  border: 1px solid #D7DEFD;
}

.callHistory-btn span {
  display: block;
  font-size: 16px;
  line-height: 100%;
  margin-left: 11px;
  color: #3C61F7;
}

.callHistory-item {
  border-bottom: 1px solid #F5F5F5;
  padding: 20px 0 5px 0;
  position: relative;
}

.callHistory-item.callHistory-date {
  padding: 20px 0 11px 0;
}

.callHistory-date span {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  color: #848E9F;
}

.callHistory-item h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #222222;
}

.callHistory-detail {
  display: flex;
  align-items: center;
  margin-top: 15px;
  flex-wrap: wrap;
}

.callHistory-detail .callHistory-detail-item + .callHistory-detail-item {
  margin-right: 30px;
}

.callHistory-detail .callHistory-detail-item:first-child {
  margin-right: 30px;
}

.callHistory-detail-item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.callHistory-detail .callHistory-detail-item + .callHistory-detail-item:before {
  content: '';
  background: #E5E5E5;
  width: 1px;
  height: 18px;
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translateY(-50%);
}

.callHistory-detail .callHistory-detail-item:first-child:before {
  content: '';
  background: #E5E5E5;
  width: 1px;
  height: 18px;
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translateY(-50%);
}

.callHistory-detail .callHistory-detail-item:last-child:before {
  content: none;
}

.authorCard-stroke-img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
}

.authorCard-stroke-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.authorCard-stroke {
  display: flex;
  align-items: center;
}

.authorCard-stroke span {
  display: block;
  flex: 1;
  font-size: 18px;
  line-height: 100%;
  color: #162F71;
  margin-left: 11px
}

.rate-orange {
  display: flex;
  align-items: center;
  margin-left: 6px;
}

.rate-orange span {
  display: block;
  margin-left: 5px;
  font-size: 14px;
  line-height: 100%;
  color: #FF7A00;
}

.callHistory-time span {
  font-size: 18px;
  line-height: 100%;
  color: #848E9F;
  display: block;
  margin-left: 10px;
}

.callHistory-bonus span {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: #219653;
  margin-right: 3px;
  display: block;
}

.profile-control {
  margin-right: auto;
}

.profile-switch-status {
  margin-left: 17px;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.profile-switch-text {
  display: block!important;
  font-size: 18px!important;
  line-height: 100%!important;
  color: #162F71!important;
  margin-left: 10px;
  margin-bottom: 0!important;
  min-width: 76px;
}

.profile-switch-status.online .profile-switch-text {
  color: #147541!important;
}

.profile-switch-status .switch {
  width: 45px;
  height: 30px;
}

.profile-switch-status .slider {
  background: #C0C0C0;
  border-radius: 15px;
  width: 45px;
  height: 30px;
}

.profile-switch-status .slider:before {
  width: 24px;
  height: 24px;
  top: 3px;
  left: 3px;
}

.profile-switch-status input:checked + .slider {
  background: #2DD179;
}

.profile-switch-status input:checked + .slider:before {
  transform: translateX(15px);
  background: #fff;
}

.callDetail-body {
  padding: 30px 40px 45px 40px;
  background: #FFFFFF;
}

.callDetail {
  border-radius: 6px;
  overflow: hidden;
}

.callDetail-top {
  display: flex;
  align-items: center;
}

.profileHistory-backlink {
  width: 40px;
  height: 40px;
  border: 1px solid #F5F5F5;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.callDetail-top h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #222222;
  margin-left: 20px;
}

.callDetail-author {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.callDetail-author-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.callDetail-author-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.callDetail-author-caption {
  margin-left: 20px;
}

.callDetail-author-caption span {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #162F71;
  display: block;
}

.callDetail-author-caption .rate-orange {
  margin-left: 0;
  margin-top: 6px;
}

.callDetail-author-caption .rate-orange span {
  font-size: 16px;
  line-height: 100%;
  color: #FF7A00;
}

.callDetail-info {
  margin-top: 30px;
}

.callDetail-info span {
  font-size: 16px;
  line-height: 100%;
  color: #848E9F;
  opacity: 0.8;
  display: block;
}

.callDetail-info p {
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  color: #222222;
  margin-top: 5px;
}

.callDetail-info .callHistory-bonus span {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: #219653;
  display: block;
}

.callDetail-info .callHistory-bonus {
  margin-top: 12px;
  margin-bottom: 0;
}

.callDetail-bottom {
  padding: 25px 40px 40px 40px;
  background: #162F71;
}

.callDetail-rate {
  display: flex;
  align-items: center;
}

.callDetail-rate span {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #F2994A;
  display: block;
  margin-left: 4px;
}

.callDetail-review {
  margin-top: 10px;
}

.callDetail-review p {
  font-size: 20px;
  line-height: 140%;
  color: #fff;
}

.callDetail-reward {
  display: flex;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03), 0 10px 20px rgba(0, 0, 0, 0.03);
  border-radius: 6px;
  padding: 10px 16px;
  width: fit-content;
  margin-top: 15px;
}

.callDetail-reward-img {
  width: 40px;
  height: 40px;
}

.callDetail-reward-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.callDetail-reward-caption {
  margin-left: 10px;
}

.callDetail-reward-caption span {
  font-size: 12px;
  line-height: 18px;
  color: #A9ADB1;
  display: block;
}

.callDetail-reward-caption p {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  min-width: 150px;
}

.conference-profile-top {
  padding: 20px 20px 30px 20px;
  background: #213B80;
  border-radius: 6px 6px 0 0;
}

.conference-profile-top .authorCard {
  display: flex;
  align-items: center;
}

.conference-profile-top .authorCard-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.conference-profile-top .authorCard-img img {
  width: 100%;
  height: 100%;
}

.conference-profile-top .authorCard-caption {
  margin-left: 20px;
}

.conference-profile-top .authorCard-caption span {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #FFFFFF;
}

.conference-profile-top .rate-with-text {
  margin-top: 6px;
  display: flex;
  align-items: center;
}

.conference-profile-top .rate-with-text span {
  display: block;
  font-size: 16px;
  line-height: 100%;
  color: #F2F2F2;
  margin-left: 4px;
}

.conference-profile-body {
  background: linear-gradient(180deg, #5986FB 0%, #2D4EF5 100%);
  border-radius: 6px;
  padding: 20px 20px 24px 20px;
  margin-top: -10px;
}

.conference-profile-bonus h6 {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #FAFCFF;
}

.bonus {
  margin-top: 11px;
  display: flex;
  align-items: center;
}

.bonus span {
  font-size: 34px;
  line-height: 41px;
  color: #FFFFFF;
  margin-right: 10px;
}

.conference-profile-bonus {
  padding-bottom: 13px;
  border-bottom: 1px solid #5986FB;
}

.conference-profile-detail {
  padding-top: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.conference-profile-item {
  width: 48%;
}

.conference-profile-item span {
  font-size: 12px;
  line-height: 100%;
  color: #FFFFFF;
  opacity: 0.6;
  display: block;
}

.conference-profile-item p {
  font-size: 14px;
  line-height: 100%;
  color: #FFFFFF;
  margin-top: 10px;
}

.conference-level {
  margin-top: 20px;
  background: #FFFFFF;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.conference-level-top {
  padding: 20px;
  border-bottom: 1px solid #EFEFEF;
  display: flex;
  align-items: center;
}

.conference-level-number {
  background: linear-gradient(180deg, #5986FB 0%, #2D4EF5 100%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 18px;
  line-height: 100%;
  color: #FFFFFF;
}

.conference-level-caption {
  margin-left: 15px;
}

.conference-level-caption span {
  font-size: 12px;
  line-height: 100%;
  color: #A9ADB1;
  display: block;
}

.conference-level-caption p {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #1C306D;
  margin-top: 6px;
}

.conference-level-bottom {
  padding: 12px 20px;
  display: flex;
  align-items: center;
  position: relative;
}

.conference-level-bottom span {
  font-size: 16px;
  line-height: 100%;
  color: #495366;
  display: block;
  margin-left: 10px;
}

.conference-aside .leave-time {
  margin-top: 20px;
}

.conference {
  padding-bottom: 30px;
}


//*****************new landing*****************
header.new {
  background: #fff;
  height: 70px;
  box-shadow: none;
  z-index: 11;
  .container {
    padding: 0 15px;
  }
  .logo {
    position: static;
    margin-right: 55px;
    left: initial;
    transform: initial;
    span {
      font-weight: 300;
      display: block!important;
    }
  }
  .call-menu .icon-bar {
    width: 30px;
    height: 1px;
  }
  .menu li a {
    position: relative;
  }
  .searchCover {
    max-height: initial;
  }
  .btn-search {
    margin-right: 0;
  }
  .search-active {
    right: 0;
    width: 750px;
  }
  .header-right li + li {
    margin-left: 30px;
  }
  .header-right .dropdown-toggle {
    position: relative;
  }
  .header-right .dropdown-toggle .choosed-lang {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 4px;
    background: #4090FF;
    border-radius: 4px;
    font-weight: 600;
    font-size: 10px;
    line-height: 100%;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .header-right .dropdown-menu {
    padding: 0;
    top: 0!important;
    min-width: 60px;
    overflow: hidden;
  }
  .header-right .dropdown-menu .dropdown-item {
    font-size: 14px;
  }
  .header-right .dropdown-menu .dropdown-item:active {
    background-color: #f8f9fa;
  }
}

.new-rubric-icon {
  background: #FE5244;
  border-radius: 6px;
  display: inline-block;
  padding: 4px 6px;
  font-size: 12px;
  line-height: 100%;
  color: #FFFFFF;
  margin-left: 6px;
}

.main-img {
  width: 370px;
  height: 370px;
  margin: 0 auto;
}

.main-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-content h1 {
  font-weight: 600;
  font-size: 60px;
  line-height: 100%;
  color: #162F71;
}

.main-content p {
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #000000;
  margin-top: 37px;
}

.main-content-bottom {
  margin-top: 37px;
  display: flex;
}

.main {
  background: #fff;
  margin-top: 20px;
  padding-top: 30px;
}

.main-content-bottom .btn-custom{
  margin-right: 10px;
}

.btn-custom {
  padding: 13px 32px;
  border-radius: 12px;
  font-family: SF Pro Text;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.3px;
}

.btn-custom-blue {
  background: #026FFF;
  color: #fff;
}

.btn-custom-blue:hover, .btn-custom-blue:focus {
  color: #fff;
}

.btn-custom-gray {
  background: #F5F5F5;
  color: #848E9F;
}

.btn-custom-gray:hover, .btn-custom-gray:focus {
  color: #848E9F;
}

.daryn-landing .events {
  margin-top: 70px;
  padding: 0;
}

.events-item {
  padding: 30px;
  border-radius: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.events-sm-box {
  background: #F5F5F5;
  .events-item-title {
    color: #162F71;
  }
}

.events-item-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  z-index: 1;
}

.events-sm-wrapper {
  margin: 20px -10px 0 -10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.events-sm {
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03), 0 10px 20px rgba(0, 0, 0, 0.03);
  border-radius: 6px;
  margin: 10px;
  width: 230px;
  position: relative;
}

.events-sm-top {
  display: flex;
  align-items: center;
}

.events-sm-type {
  display: flex;
  align-items: center;
  margin-right: 6px;
}

.events-sm-type span {
  margin-left: 5px;
  font-size: 14px;
  line-height: 130%;
}

.events-sm-type span.text-orange {
  color: #FF8A00;
}

.events-sm-type span.text-purple {
  color: #A175CC;
}

.events-sm-type span.text-blue {
  color: #026FFF;
}

.events-sm-text {
  margin-top: 10px;
}

.events-sm-text p {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.3px;
  color: #162F71;
}

.absolute-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.events-illust {
  position: absolute;
  bottom: 0;
  right: 0;
}

.intellect-events {
  background: #E5F9FC;
  .events-item-title  {
    color: #00B2CA;
  }
  .events-item-link {
    background: rgba(0, 178, 202, 0.1);
  }
  .events-item-link span {
    color: #00B2CA;
  }
  .events-illust {
    width: 300px;
    height: 400px;
    right: 50px;
  }
}

.events-item-logo {
  margin-top: 20px;
  z-index: 1;
}

.events-item-link {
  margin-top: auto;
  display: flex;
  align-items: center;
  padding: 13px 20px;
  border-radius: 12px;
  width: fit-content;
  z-index: 1;
}

.events-item-link span {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.3px;
  margin-right: 20px;
}

.events-item.tandau-events {
  background: #026FFF;
  .events-item-title {
    color: #FFFFFF;
  }
  .events-item-link {
    background: rgba(255, 255, 255, 0.1);
  }
  .events-item-link span {
    color: #FFFFFF;
  }
  .events-illust {
    width: 370px;
    height: 350px;
    right: 0;
    bottom: 0;
  }
}

.events-illust img {
  width: 100%;
  height: 100%;
}

.events-item.daryn-box-events {
  background: #162F71;
  .events-item-title {
    color: #fff;
  }
  .events-item-link {
    background: rgba(255, 255, 255, 0.1);
  }
  .events-item-link span {
    color: #fff;
  }
}

.events-item.bg-dark-blue:hover .events-3d {
  transform: translateX(-50%) scale(1.1);
}

.events-item.music-events {
  background: #EEEFFF;
  .events-item-title {
    color: #943FEB;
  }
  .events-item-link {
    background: rgba(148, 63, 235, 0.1);
  }
  .events-item-link span {
    color: #943FEB;
  }
  .events-illust {
    width: 500px;
    height: 500px;
  }
}

.events-3d {
  width: 570px;
  height: 560px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s ease;
  pointer-events: none;
}

.events-3d img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.events-item.ent-events {
  background: #6456C0;
  min-height: 390px;
  .events-item-title {
    color: #fff;
  }
  .events-item-link {
    background: rgba(255, 255, 255, 0.1);
  }
  .events-item-link span {
    color: #fff;
  }
  .events-illust {
    width: 500px;
    height: 300px;
    right: 0;
    bottom: 0;
  }
}


.events-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.events-wrapper-left, .events-wrapper-right {
  width: 49%;
}

.events-box {
  margin-bottom: 30px;
}

.events-wrapper-right .events-box:first-child {
  opacity: 1!important;
}

.events-box:last-child {
  margin-bottom: 0;
}

.events-box.visible {
  opacity: 1!important;
}

.count-title h3 {
  font-weight: 500;
  font-size: 50px;
  line-height: 100%;
  color: #000000;
}

.count {
  margin-top: 90px;
}

.count-title h3 span {
  color: #848D9F;
}

.count-item-wrapper {
  margin-top: 30px;
}

.count-item-img {
  width: 270px;
  height: 270px;
}

.count-item-img img {
  width: 100%;
  height: 100%;
}

.count-item-caption h3 {
  font-weight: 600;
  font-size: 60px;
  line-height: 100%;
  color: #162F71;
}

.count-item-caption p {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 23px;
  line-height: 120%;
  letter-spacing: -0.3px;
  color: #848E9F;
}

.favourites {
  margin-top: 60px;
}

.favourite-box {
  margin: 0 -55px;
  background: #EAF2FD;
  border-radius: 12px;
}

.favourite-box-left {
  padding: 50px 0 0 55px;
}

.favourite-box-left h3 {
  font-weight: 500;
  font-size: 50px;
  line-height: 100%;
  color: #000;
}

.favourite-box-left h3 span {
  color: #848D9F;
}

.favourite-rating {
  margin-top: 40px;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
}

.favourite {
  padding: 20px;
  background: #fff;
  display: flex;
  align-items: center;
}

.favourite-icon {
  background: linear-gradient(180deg, rgba(89, 134, 251, 0.05) 0%, rgba(45, 78, 245, 0.05) 100%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.favourite-content {
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 30px;
}

.favourite-content-img {
  width: 50px;
  height: 50px;
  border-radius: 6px;
  overflow: hidden;
}

.favourite-content-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.favourite-caption {
  flex: 1;
  margin-left: 15px;
}

.favourite-caption-top {
  display: flex;
  align-items: center;
}

.favourite-caption-top p {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #162F71;
}

.check-icon {
  background: url("../img/icon/check-icon-blue.svg") no-repeat center/contain;
  width: 18px;
  height: 18px;
  margin-left: 5px;
}

.daryn-icon {
  display: flex;
  align-items: center;
  padding: 3px 7px;
  background: linear-gradient(180deg, rgba(89, 134, 251, 0.05) 0%, rgba(45, 78, 245, 0.05) 100%);
  border-radius: 6px;
  margin-left: 5px;
}

.daryn-icon span {
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  color: #4268F8;
  display: block;
  margin-right: 4px;
}

.favourite-caption-bottom {
  margin-top: 6px;
}

.favourite-caption-bottom p {
  font-size: 14px;
  line-height: 100%;
  color: #848E9F;
}

.favourite:nth-child(1) {
  box-shadow: inset 0px -1px 0px #F5F5F5;
  opacity: 1;
}

.favourite:nth-child(1) .favourite-icon i {
  background: url("../img/icon/cup-1.svg") no-repeat center/contain;
  width: 20px;
  height: 20px;
}

.favourite:nth-child(2) {
  opacity: 0.6;
  box-shadow: inset 0px -1px 0px #F5F5F5;
}

.favourite:nth-child(2) .favourite-icon i {
  background: url("../img/icon/cup-2.svg") no-repeat center/contain;
  width: 20px;
  height: 20px;
}

.favourite:nth-child(3) {
  opacity: 0.3;
}


.favourite:nth-child(3) .favourite-icon i {
  background: url("../img/icon/cup-3.svg") no-repeat center/contain;
  width: 20px;
  height: 20px;
}

.favourite-box-right {
  position: absolute;
  right: 16px;
  bottom: 0;
  width: 540px;
  height: 430px;
}

.favourite-box-right img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.ability {
  margin-top: 100px;
}

.ability-left {
  padding: 70px 0 0 70px;
  position: relative;
}

.ability-img-box {
  width: 450px;
  height: 450px;
  background: #C4C4C4;
  border-radius: 12px;
  position: relative;
}

.ability-img-box:before {
  content: '';
  position: absolute;
  width: 450px;
  height: 450px;
  left: -70px;
  top: -70px;
  background: #026FFF;
  border-radius: 12px;
  z-index: -1;
}

.ability-img {
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-out;
  height: 0;
}

.ability-img.img-active {
  visibility: visible;
  opacity: 1;
  height: 100%;
}

.ability-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.ability-title {
  font-weight: 500;
  font-size: 50px;
  line-height: 100%;
  color: #000;
}

.ability-title span {
  color: #848E9F;
}

.ability-list {
  margin-top: 35px;
}

.ability-list li + li {
  border-top: 1px solid #F5F5F5;
}

.ability-link {
  padding: 15px 0;
  display: block;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #162F71!important;
  cursor: pointer;
  transition: 0.2s ease;
}

.ability-link:hover {
  color: #162F71!important;
}

.ability-list li.active .ability-link {
  color: #026FFF!important;
}

.landing-tutor {
  margin-top: 100px;
}

.landing-tutor-left h3 {
  font-weight: 500;
  font-size: 50px;
  line-height: 100%;
  color: #000000;
}

.landing-tutor-left h3 .text-green {
  color: #20B573;
}

.landing-tutor-left h3 .text-blue {
  color: #0775F7;
}

.landing-tutor-img img {
  width: 100%;
  height: auto;
  max-height: 360px;
}

.landing-tutor-btn {
  display: flex;
  align-items: center;
  margin-top: 50px;
  width: fit-content;
}

.landing-tutor-btn span {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: -0.3px;
  color: #207B57;
  display: block;
  margin-right: 20px;
}

.landing-tutor-btn svg {
  transition: 0.5s ease;
}

.landing-tutor-left a:hover svg {
  transform: translateX(15px);
}

.mobile-app {
  margin-top: 100px;
  padding-bottom: 70px;
}

.mobile-app-img {
  max-width: 570px;
  height: auto;
  overflow: hidden;
}

.mobile-app-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mobile-app-right h3 {
  font-weight: 500;
  font-size: 50px;
  line-height: 100%;
  color: #000000;
}

.app-link-wrapper {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.mobile-app-link {
  display: block;
  margin-right: 15px;
}

.mobile-app-link img {
  max-height: 54px;
  width: auto;
}

.authorize-title {
  font-weight: 600;
  font-size: 60px;
  line-height: 100%;
  color: #819299;
  width: fit-content;
  margin-right: 30px;
  white-space: nowrap;
}

.authorize-title.active {
  color: #162F71;
}

.authorize-top {
  display: flex;
  align-items: center;
}

.authorize {
  padding: 40px 0 60px 0;
  min-height: calc(100vh - 80px);
}

.auto-write-content {
  display: flex;
  align-items: center;
}

.auto-write-btn {
  width: fit-content;
  padding: 10px 20px 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin-right: 15px;
}

.auto-write-btn:focus, .auto-write-btn:hover {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.auto-write-btn span {
  display: block;
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.3px;
  color: #000000;
  margin-left: 15px;
  white-space: nowrap;
}

.auto-write {
  margin-top: 20px;
}

.authorize-title-mini {
  font-family: "SF Pro Text";
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 1.7px;
  color: #162F71;
}

.auto-write-content {
  margin-top: 20px;
}

.form-label.new-form-label {
  height: 50px;
  padding: 20px 0 10px 0;
  margin-top: 20px;
}

.form-label.new-form-label span, .form-label.new-form-label .form-title {
  display: block;
  font-size: 17px;
  line-height: 120%;
  top: 20px;
  color: #A6A6A6;
}

.form-label.new-form-label:after {
  background: #162F71;
  height: 1px;
}

.authorize .form-half .form-label + .form-label {
  margin-top: auto;
}

.form-label .btn-clear {
  position: absolute;
  right: 0;
  top: 21px;
  width: 20px;
  height: 20px;
  display: none;
}

.form-label .alert-error {
  position: absolute;
  left: 0;
  bottom: -23px;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #FE5244;
  display: none;
}

.authorize-bottom {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.authorize-btn {
  padding: 13px 38px;
  border-radius: 12px;
  min-width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.3px;
  margin-right: 15px;
  position: relative;
}

.authorize-btn.btn-next {
  background: #4090FF;
  color: #FFFFFF;
}

.authorize-btn.btn-prev {
  background: #F5F5F5;
  color: #819299;
}

.authorize-btn.btn-disabled {
  background: #C0C0C0;
  color: #FFFFFF!important;
}

.authorize-bottom p {
  font-size: 14px;
  line-height: 130%;
  color: #819299;
  margin-left: 15px;
}

.authorize-tab a {
  display: block;
  padding: 5px 14px;
  background: #F5F5F5;
  border-radius: 12px;
  width: fit-content;
}

.authorize-tab a span {
  font-size: 17px;
  line-height: 120%;
  color: #819299;
  display: block;
}

.authorize-tab {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.authorize-tab li {
  margin-right: 10px;
}

.authorize-tablink-text {
  display: none!important;
}

.authorize-tab .active {
  a {
    background: #162F71;
  }
  .authorize-tablink-text {
    display: block!important;
    color: #fff;
  }
  .authorize-tablink-number {
    display: none!important;
  }
}

.authorize-tab .complete {
  a {
    background: #819299;
  }
  .authorize-tablink-text {
    display: block!important;
    color: #fff;
    padding-left: 27px;
    position: relative;
  }
  .authorize-tablink-text:before {
    content: url("../img/icon/double-check-white.svg");
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .authorize-tablink-number {
    display: none!important;
  }
}

.authorize-form {
  margin-top: 20px;
  padding-bottom: 23px;
}

.authorize-checkbox-wrapper {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-top: 20px;
}

.authorize-role-checkbox {
  padding: 11px 30px;
  background: #F5F5F5;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 15px;
  transition: 0.2s ease;
}

.authorize-role-checkbox.active {
  background: #ECF4FF;
}

.authorize-role-checkbox span {
  display: block;
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.3px;
  color: #000000;
  transition: 0.2s ease;
}

.authorize-role-checkbox.active span {
  color: #4090FF;
}

.authorize-role-checkbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.authorize-role {
  margin-top: 20px;
}

.authorize-children {
  margin-top: 20px;
}

.search-children {
  margin-top: 30px;
}

.search-children-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
  min-height: 50px;
}

.search-children-form input {
  padding: 0;
  margin: 0;
  font-size: 17px;
  line-height: 120%;
  color: #162F71;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.search-children-form input::placeholder {
  font-size: 17px;
  line-height: 120%;
  color: #A6A6A6;
}

.search-children-form .btn-clear {
  width: 20px;
  height: 20px;
}

.search-children-result {
  padding: 10px;
  min-height: 50px;
  display: flex;
  align-items: center;
  background: #F5F5F5;
  border-radius: 0px 0px 8px 8px;
}

.search-children-result img {
  width: 30px;
  height: 30px;
  border-radius: 12px;
  object-fit: cover;
}

.search-children-result p {
  font-size: 17px;
  line-height: 120%;
  color: #162F71;
  margin-left: 10px;
}

.add-children {
  margin-top: 30px;
  width: 100%;
  padding: 13px 30px;
  min-height: 46px;
  background: rgba(64, 144, 255, 0.1);
  border-radius: 12px;
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.3px;
  color: #4090FF;
}

.upload-avatar {
  margin-top: 20px;
  width: 100%;
  padding: 15px 30px;
  min-height: 70px;
  border: 5px solid #F5F5F5;
  border-radius: 12px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), 0px 15px 30px rgba(0, 0, 0, 0.03), 0px 30px 60px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.upload-avatar  span {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.3px;
  color: #162F71;
  margin-left: 15px;
  display: block;
}

.upload-avatar input {
  position: absolute;
  top: 0;
  left: -185px;
  width: calc(100% + 185px);
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.for-teacher {
  margin-top: 20px;
}

.authorize-info-tab {
  border-bottom: none;
}

.authorize-info-tab a {
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #819299;
  position: relative;
  padding-bottom: 8px;
}

.authorize-info-tab a.active {
  color: #4090FF;
}

.authorize-info-tab a:hover, .authorize-info-tab a:focus {
  color: #4090FF;
}

.authorize-info-tab a:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #4090FF;
  transition: 0.2s ease;
  opacity: 0;
}

.authorize-info-tab li + li {
  margin-left: 20px;
}

.authorize-info-tab a.active:after {
  opacity: 1;
}

.authorize-switch {
  margin-top: 20px;
  display: flex;
  align-items: center;
  .switch {
    width: 45px;
    height: 30px;
    border-radius: 15px;
  }
  .slider {
    background: #F5F5F5;
  }
  .slider:before {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #fff;
    top: 3px;
    left: 3px;
  }
  input:checked + .slider:before {
    transform: translateX(15px);
  }
  input:checked + .slider {
    background: #848E9F;
  }
  input:checked + .slider:before {
    background: #fff;
  }
}

.authorize-switch p {
  font-size: 17px;
  line-height: 120%;
  color: #000000;
  margin-left: 10px;
}

.profile-edit-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .videoinstruction-link {
    display: flex;
    align-items: center;
  }
  .videoinstruction-link span {
    display: block;
    font-family: "SF Pro Text";
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.3px;
    color: #4090FF;
    margin-left: 8px;
  }
}

.authorize-switch input:focus + .slider {
  box-shadow: none!important;
}

.restore-pwd-link {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-top: 30px;
}

.restore-pwd-link span {
  display: block;
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 17px;
  line-height: 150%;
  color: #162F71;
  margin-left: 10px;
}

.btn-login {
  background: #2DD179;
  color: #fff;
}

.login-page .auto-write-content {
  margin-top: 30px;
}

.login-page .authorize-form {
  margin-top: 0;
  padding-bottom: 0;
}

.authorize-pwd  {
  margin-top: 20px;
}



.search-teacher {
  position: fixed!important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: #fff;
  display: none;
}

.search-teacher.show {
  display: block;
}

.teacher-head-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 60px;
  z-index: 99;
}

.search-teacher-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-teacher-head h1 {
  font-size: 40px;
  line-height: 100%;
  color: #162F71;
  font-weight: 900;
}

.search-teacher-content {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}

.ellipse {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: rgba(2, 111, 255, 0.05);
  padding: 300px;
  border-radius: 50%;
  opacity: 0;
  overflow: hidden;
  animation: pulsate 1.5s ease-out infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.map-kz {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.student-ava {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  z-index: 9;
  opacity: 1;
  transform: translate(-50%, -50%);
}

.student-ava-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.student-ava-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.student-ava span {
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: #848E9F;
  padding: 5px 10px;
  background: #FFFFFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 10px 20px rgba(0, 0, 0, 0.05), 0 20px 40px rgba(0, 0, 0, 0.03);
  border-radius: 6px;
}

.search-teacher .call-end {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
}

.call-end {
  background: #FF545E;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.wrapper.bg-light-gray {
  background: #F5F5F5;
  header, .header {
    background: #F5F5F5;
  }
  header .container {
    background: #F5F5F5;
  }
  footer {
    background: #f5f5f5!important;
  }
}



.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #F9F9FD;
  z-index: 1001;
}

.preloader-inner {
  width: 200px;
  height: 200px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

header.fixed {
  position: fixed!important;
  top: 0;
  left: 0;
  width: 100%;
}

header.light {
  background: transparent;
  .container {
    background: transparent;
  }
  .logo span {
    color: #fff;
  }
  .call-menu .icon-bar {
    background: #fff;
  }
  .menu li a {
    color: #fff;
  }
  .header-right svg path {
    stroke: #fff;
  }
  .logo svg path.stroke-path {
    stroke: #fff;
  }
  .logo svg path.fill-path {
    fill: #fff;
  }
}

.vote {
  padding-top: 140px;
}

.vote-header {
  display: flex;
  justify-content: space-between;
}

.vote-header h1 {
  font-weight: 600;
  font-size: 60px;
  line-height: 100%;
  color: #000000;
  max-width: 770px;
  span {
    color: #4090FF;
  }
}

.vote-header-img {
  width: 220px;
  height: 170px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.vote-action {
  margin-top: 30px;
  display: flex;
}

.vote-action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px 10px 15px;
  min-height: 50px;
  border-radius: 12px;
  margin-right: 10px;
}

.vote-action-btn span {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.3px;
  margin-left: 15px;
  display: inline-block;
}

.vote-action-btn {
  &.bg-green {
    background: #2DD179;
    span {
      color: #fff;
    }
  }
  &.bg-gray {
    background: #F5F5F5;
    span {
      color: #819299;
    }
  }
}

.vote-content {
  margin-top: 30px;
}

.vote-card-img {
  height: 200px;
  position: relative;
  width: 100%;
  max-width: 370px;
  background: #F5F5F5;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}

.vote-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.call-vote-modal {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.call-vote-modal:hover {
  transform: translate(-50%, -50%) scale(1.3, 1.3);
}

.vote-card-caption {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 15px 30px rgba(0, 0, 0, 0.03), 0 30px 60px rgba(0, 0, 0, 0.05);
  padding: 0 10px;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
}

.vote-card-author {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #F5F5F5;
  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    min-width: 30px;
  }
  p {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #162F71;
    margin-left: 10px;
    flex: 1;
  }
}

.vote-card-meta {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #F5F5F5;
  width: 100%;
}

.vote-card-meta li {
  display: flex;
  align-items: center;
}

.vote-card-meta li + li {
  margin-left: 10px;
}

.vote-card-meta li span {
  font-size: 17px;
  line-height: 120%;
  color: #000000;
  margin-left: 5px;
  display: inline-block;
}

.vote-card-bottom {
  padding: 10px 0;
}

.vote-card {
  margin-bottom: 30px;
}

.btn-vote {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px 10px 15px;
  min-height: 50px;
  border-radius: 12px;
  background: rgba(64, 144, 255, 0.1);
  width: 100%;
  transition: 0.3s ease;
}

.btn-vote span {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.3px;
  margin-left: 15px;
  color: #4090FF;
  transition: 0.3s ease;
  display: inline-block;
}

.btn-vote:hover {
  background: #4090FF;
  svg path {
    stroke: #fff;
    transition: 0.3s ease;
  }
  span {
    color: #fff;
    transition: 0.3s ease;
  }
}

.btn-vote .success-icon {
  display: none;
}

.btn-vote.success {
  background: rgba(45, 209, 121, 0.1);
  span {
    color: #2DD179;
  }
  & .normal-icon {
    display: none;
  }
  & .success-icon {
    display: block;
  }
  &:hover {
    svg path {
      stroke: #2DD179;
    }
  }
}

.btn-vote .success-text {
  display: none;
}

.btn-vote.success {
  .normal-text {
    display: none;
  }
  .success-text {
    display: inline-block;
  }
}

.vote-modal {
  width: 570px!important;
  padding: 30px!important;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), 0px 15px 30px rgba(0, 0, 0, 0.03), 0px 30px 60px rgba(0, 0, 0, 0.05);
}

.vote-modal-header {
  display: flex;
  justify-content: space-between;
}

.vote-modal-header h6 {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: -0.3px;
  color: #000000;
}

.vote-modal-header .close-modal {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vote-modal-bottom {
  margin-top: 10px;
}

.vote-term-link {
  display: flex;
  align-items: center;
}

.vote-term-link p {
  font-size: 17px;
  line-height: 100%;
  color: #162F71;
  margin-left: 5px;
  height: fit-content;
  flex: 1;
}

.vote-term-link p a {
  color: #4090FF;
}

.vote-modal-btn {
  width: 100%;
  padding: 13px 30px;
  min-height: 46px;
  background: #219653;
  border-radius: 12px;
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.3px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.vote-modal-btn.disabled {
  background: #C0C0C0;
  color: #fff;
  cursor: auto;
}

.vote-success-modal {
  padding: 30px!important;
  width: 570px!important;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), 0px 15px 30px rgba(0, 0, 0, 0.03), 0px 30px 60px rgba(0, 0, 0, 0.05);
}

.vote-success-modal .close-modal {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.vote-success-header {
  display: flex;
  justify-content: space-between;
}

.vote-success-header h6 {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: -0.3px;
  color: #000000;
}

.vote-success-lottie {
  width: 320px;
  height: 320px;
  margin: 0 auto;
}

.vote-success-body h3 {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 30px;
  line-height: 110%;
  text-align: center;
  letter-spacing: -0.3px;
  color: #000000;
  margin-top: 4px;
}

.vote-success-body p {
  font-size: 17px;
  line-height: 120%;
  color: #000000;
  margin-top: 5px;
  text-align: center;
}

#voteReserveModal .vote-success-lottie {
  width: 150px;
  height: 150px;
}

.code-input {
  display: none;
}

#sendCode {
  display: none;
}

#verificationModal.show-code  {
  .code-input {
    display: block;
  }
  #sendCode {
    display: block;
  }
  #showCodeInput {
    display: none;
  }
}

#video_modal {
  z-index: 1050;
  padding-right: 0!important;
  .modal-content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    position: fixed;
    height: 500px;
  }
  .close-modal {
    background: transparent;
    border: none;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -40px;
    right: 0;
  }
  .modal-video {
    height: 100%;
    overflow-y: auto;
  }
  .modal-video::-webkit-scrollbar {
    width: 5px;
  }
  .modal-video::-webkit-scrollbar-thumb {
    background: #f4f4f4;
  }
  .modal-video::-webkit-scrollbar-thumb {
    background: #f5f5f5;

  }
}

.choose-lang-wrapper {
  margin-top: 20px;
  align-items: center;
  display: flex;
}

.choose-lang-wrapper p {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #000000;
}

.choose-lang {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.choose-lang-item {
  position: relative;
  background: #F5F5F5;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 6px;
  min-height: 36px;
  margin-right: 8px;
}

.choose-lang-item svg {
  min-height: 24px;
  min-width: 24px;
}

.choose-lang-item span {
  font-size: 17px;
  line-height: 120%;
  color: #000000;
  margin-left: 10px;
  display: block;
}

.choose-lang-item input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  margin: 0;
}

.choose-lang-item.active {
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
  span {
    color: #162F71;
  }
}

.events-item.teacher-events {
  background: #FAF2EF;
  .events-item-title {
    color: #285B5C;
  }
  .events-item-text {
    font-size: 17px;
    line-height: 120%;
    color: #285B5C;
    margin-top: 10px;
    z-index: 1;
  }
  .events-item-link {
    background: rgba(27, 52, 49, 0.8);
  }
  .events-item-link span {
    color: #fff;
  }
  .events-illust {
    width: 500px;
    height: 400px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }
}

.asar-oqu {
  background: #E5F9FC;
  .events-item-title {
    color: #00B2CA;
  }
  .events-item-text {
    font-size: 17px;
    line-height: 120%;
    color: #00B2CA;
    margin-top: 10px;
  }
  .events-item-link {
    background: rgba(0, 178, 202, 0.1);
  }
  .events-item-link span {
    color: #00B2CA;
  }
  .events-item-link svg path {
    stroke: #00B2CA;
  }
  .events-illust {
    width: 450px;
    height: 450px;
  }
}

.absolute-icon {
  position: absolute;
  top: 160px;
  left: 30px;
  width: 95px;
  height: 95px;
}

.absolute-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.asar-lottie .events-item-title {
  position: relative;
  width: fit-content;
}

.asar-lottie .events-item-title:after {
  content: '';
  background: url("../img/icon/asar-icon.png") no-repeat center/contain;
  background-size: 57px 61px;
  width: 57px;
  height: 61px;
  position: absolute;
  right: -65px;
  top: 50%;
  transform: translateY(-50%);
}

.slider-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  margin-top: 0!important;
}

.banner-item {
  height: 90px;
  position: relative;
}

.slider-banner .banner-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-banner {
  .slick-prev, .slick-next {
    background: #FFFFFF;
    z-index: 1;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }

  .slick-prev {
    left: 15px;
  }

  .slick-prev:before {
    content: '';
    background: url("../img/icon/left-blue.svg") no-repeat center/contain;
    width: 8px;
    height: 14.6px;
    background-size: 8px 14.6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .slick-next {
    right: 15px;
  }

  .slick-next:before {
    content: '';
    background: url("../img/icon/right-blue.svg") no-repeat center/contain;
    width: 8px;
    height: 14.6px;
    background-size: 8px 14.6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.bannerImg-xs {
  display: none;
}

.timeline {
  overflow: hidden;
  max-height: 500px;
  overflow-y: auto;
  padding-right: 6px;
}

.timeline::-webkit-scrollbar {
  width: 3px;
}

.timeline::-webkit-scrollbar-track {
  background: #F5F5F5;
  border-radius: 10px;
}

.timeline::-webkit-scrollbar-thumb {
  background: #4090FF;
  border-radius: 10px;
}

.timeline-box {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 15px 30px rgba(0, 0, 0, 0.03), 0 30px 60px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  padding: 6px;
}

.timeline-box-xs {
  display: none;
}

.timeline-item {
  padding: 13px 20px;
  position: relative;
  border-radius: 10px;
}

.timeline-item:after {
  content: '';
  background: #F5F5F5;
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 0;
}

.timeline-item:hover {
  background: #EFF6FF;
  box-shadow: inset 0px -1px 0px #F5F5F5;
  h6 {
    text-decoration-line: underline;
    color: #4090FF;
  }
  &:after {
    content: none;
  }
}

.timeline-item h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #162F71;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  box-orient: vertical;
}

.timeline-time {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.timeline-time span {
  margin-left: 6px;
  display: block;
  font-size: 17px;
  line-height: 120%;
  color: #000000;
}

.timeline-box-title {
  padding: 14px 20px 0 20px;
}

.timeline-box-title h6 {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: -0.3px;
  color: #819299;
}


//task-result
.task-result {
  padding: 30px 20px;
}

.task-result-inner {
  width: 570px;
  margin: 0 auto;
}

.task-result-title h6 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.326451px;
  color: #2C2D2E;
}

.task-result-title p {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #909499;
  margin-top: 6px;
}

.task-result-info {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.task-result-box {
  width: 100%;
  min-height: 270px;
  background: #F2F3F5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.half-result-box .task-result-box {
  width: 270px;
}

.result-box-content {
  flex: 1;
}

.task-result-box .result-box-title {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
}

.task-result-box .result-box-title p {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #2C2D2E;
}

.result-box-title {
  .alt-box {
    position: relative;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
  }

  .alt-box:hover .alt {
    display: block;
  }

  .alt-box .alt {
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.04), 0 4px 32px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    padding: 8px 10px;
    right: -15px;
    top: 30px;
    width: 230px;
    display: none;
  }

  .alt-box .alt:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 8px solid #fff;
    position: absolute;
    top: -8px;
    right: 14px;
  }

  .alt-box .alt li {
    font-family: "SF Pro Text";
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.154px;
    color: #333333;
  }
}

.task-result-progress {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  .chart {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.6);
  }
  .chart .percent:after {
    content: '%';
    margin-left: 0.1em;
  }
  .chart canvas {
    width: 150px !important;
    height: 150px !important;
    background: rgba(255, 255, 255, 0.6);
  }
  .chart .percent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }
}

.section-breadcrumb-xs {
  display: flex;
}

.section-breadcrumb-xs li {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #909499;
}

.section-breadcrumb-xs li.active {
  color: #162F71;
}

.section-breadcrumb-xs li+li:before {
  padding: 0 1px;
  color: #909499;
  content: "/";
}

.task-bonus {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  margin: 0 auto;
  width: 100px;
  height: 100%;
}

.task-bonus-item {
  display: flex;
  align-items: center;
  padding: 8px 14px;
  justify-content: center;
}

.task-bonus-item span {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.38px;
  color: rgba(0, 0, 0, 0.35);
  margin-right: 4px;
}

.task-bonus-item:first-child {
  background: #FFFFFF;
  border-radius: 10px 10px 0 0;
}

.task-bonus-item:nth-child(2) {
  background: #4BB34B;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08);
  span {
    color: #fff;
  }
  svg path {
    fill: #fff;
    fill-opacity: 1;
  }
}

.task-bonus-item:nth-child(3) {
  background: rgba(0, 0, 0, 0.05);
  flex: 1;
}

.task-result .btn-next {
  background: #4090FF;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  min-height: 44px;
  margin-top: 30px;
}

.task-result .btn-next span {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #FFFFFF;
  margin-right: 8px;
}

.task-result-rating {
  margin-top: 16px;
}

.task-result-star {
  .star-g {
    background: url("../img/icon/star-favorite-stroke.svg") no-repeat center/contain;
    width: 40px;
    height: 40px;
  }
  .star-y {
    background: url("../img/icon/star-favorite-fill.svg") no-repeat center/contain;
    width: 40px;
    height: 40px;
  }
}

.task-result-comment {
  margin-top: 24px;
}

.task-result-comment .checkbox-form-wrapper {
  .checkbox-form + .checkbox-form {
    margin-top: 16px;
  }
  .checkbox-form {
    display: block;
    position: relative;
    padding-left: 38px;
    cursor: pointer;
    font-family: "SF Pro Text";
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    user-select: none;
    letter-spacing: -0.24px;
    color: #2C2D2E;
    margin-bottom: 0;
    width: fit-content;
  }
  .checkbox-form input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkbox-form .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    border: 2px solid #C4C8CC;
    background: transparent;
  }
  .checkbox-form input:checked ~ .checkmark {
    background-color: #2196F3;
    border: 2px solid #2196F3;
  }
  .checkbox-form .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    background: url("../img/icon/check-xs.svg");
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 14px;
    height: 11px;
  }
  .checkbox-form input:checked ~ .checkmark:after {
    display: block;
  }
}

.task-result-comment textarea {
  resize: none;
  width: 100%;
  padding: 15px 40px 15px 0;
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.24px;
  color: #000;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.task-result-comment textarea:focus {
  outline: none;
}

.task-result-comment textarea::placeholder {
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.24px;
  color: #76787A;
}







//ubt-subject
.ubt-subject {
  padding: 20px 0 30px 0;
}

.ubt-subject-header h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.326451px;
  color: #000000;
}

.page-breadcrumb {
  display: flex;
}

.page-breadcrumb li {
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #000000;
  position: relative;
  white-space: nowrap;
}

.page-breadcrumb li a {
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #5481BF;
  white-space: nowrap;
}

.page-breadcrumb li a:hover {
  text-decoration: underline;
}

.page-breadcrumb li + li {
  padding-left: 28px;
}

.page-breadcrumb li + li:before {
  color: black;
  content: '';
  background: url("../img/icon/next-24.svg") no-repeat center/contain;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 4px;
}

.ubt-subject-header .page-breadcrumb {
  margin-top: 6px;
}

.ubt-subject-content {
  padding-top: 25px;
}

.select-subject {
  padding: 20px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.select-subject-title {
  display: flex;
  align-items: center;
}

.select-subject-title p {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #000000;
  margin-left: 10px;
}





.subject-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 5px -15px -15px -15px;
}

.subject-wrapper.three-col {
  .subject-option {
    width: calc(33.3% - 30px);
    margin: 15px;
    min-height: 120px;
    min-width: 290px;
  }
}

.subject-wrapper.six-col {
  .subject-option {
    width: calc(16.6% - 30px);
    margin: 15px;
    min-height: 160px;
    min-width: 150px;
  }
}

.subject-option {
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.08)) drop-shadow(0 2px 24px rgba(0, 0, 0, 0.08));
  background: #FFFFFF;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.subject-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.6s ease;
}

.subject-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.subject-option-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.38px;
  color: #FFFFFF;
  display: block;
  z-index: 10;
}

.subject-option input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  cursor: pointer;
  z-index: 11;
  opacity: 0;
}

.subject-option:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

.subject-option .checkmark {
  position: absolute;
  top: 10px;
  right: 10px;
  left: initial;
  z-index: 10;
  border: 2px solid #C4C8CC;
  box-sizing: border-box;
  border-radius: 5px;
  background: transparent;
  width: 24px;
  height: 24px;
}

.subject-option:hover .subject-bg {
  transform: scale(1.1);
}

.subject-option.active {
  background: #fff;
  &:before {
    content: none;
  }
  .subject-bg {
    display: none;
  }
  .subject-option-name {
    color: #000000;
  }
  .checkmark {
    background: #4090FF;
    border: 2px solid #4090FF;
  }
  .checkmark:before {
    content: '';
    background: url("../img/icon/check-xs.svg") no-repeat center/contain;
    width: 14px;
    height: 11px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.ubt-subject-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected-subject-number span {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #AAAEB3;
  display: block;
}

.ubt-subject-bottom .btn-next {
  background: #4090FF;
  border-radius: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  min-height: 44px;
}

.ubt-subject-bottom .btn-next span {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #FFFFFF;
  margin-right: 8px;
}

.task-result-comment textarea {
  margin-top: 24px;
}

.task-result-reward {
  margin-right: 40px;
}

.task-result-reward img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.task-result-reward span {
  display: block;
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 20px;
  text-align: center;
}