@media (min-width: 1024px) and (max-width: 1200px) {
  .analysis-aside-btn {
    font-size: 18px;
  }
}

@media (min-width: 992px) and (max-width: 1023px) {

}

@media (min-width: 768px) and (max-width: 991px) {
  .analysis-aside {
    display: flex;
    justify-content: space-between;
  }
  .analysis-aside-box {
    width: 49%;
  }
  .analysis-aside .analysis-aside-box + .analysis-aside-box {
    margin-top: 0;
  }
  .analysis-header {
    margin-top: 30px;
  }
  .analysis-filter-content .form-half {
    display: block;
  }
  .analysis-filter-content .form-half .analysis-filter-input {
    width: 100%!important;
  }
  .analysis-filter-content .form-half .analysis-filter-input + .analysis-filter-input {
    margin-left: 0;
    margin-top: 15px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .analysis-aside-box {
    padding: 10px 15px;
  }
  .analysis-header {
    margin-top: 20px;
    padding: 15px;
    min-height: 50px;
  }
  .analysis-aside .analysis-aside-box + .analysis-aside-box {
    margin-top: 10px;
  }
  .analysis-specialty {
    padding: 15px;
  }
  .analysis-specialty-header h6 {
    font-size: 18px;
    line-height: 110%;
  }
  .analysis-specialty-header {
    display: block;
    padding-bottom: 10px;
  }
  .specialty-code p {
    font-size: 13px;
  }
  .specialty-code span {
    font-size: 13px;
  }
  .specialty-code {
    margin-left: 0;
    margin-top: 5px;
    width: fit-content;
  }
  .analysis-specialty-body {
    display: block;
    padding-top: 10px;
  }
  .analysis-specialty-detail {
    display: flex;
    justify-content: space-between;
  }
  .analysis-specialty-body .analysis-specialty-detail + .analysis-specialty-detail {
    margin-left: 0;
    margin-top: 3px;
  }
  .analysis-specialty-detail p {
    order: 2;
    line-height: 100%;
    font-size: 14px;
    width: 40%;
  }
  .analysis-specialty-detail span {
    order: 1;
    line-height: 100%;
    width: 60%;
    padding-right: 10px;
  }
  .analysis-specialty-detail {
    width: 100%!important;
    justify-content: flex-start;
  }
  .aside-box-header svg {
    display: block;
  }
  .aside-box-body {
    display: none;
  }
  .analysis-selection {
    padding: 15px;
  }
  .selection-tabs li a {
    font-size: 16px;
  }
  .specialty-selection-btn {
    font-size: 16px;
    padding: 10px 15px;
  }
  .analysis-result-head {
    padding: 15px;
    display: block;
  }
  .analysis-result-head p {
    margin-left: 0;
    font-size: 18px;
    line-height: 110%;
  }
  .analysis-result-head svg {
    display: none;
  }
  .analysis-result-item {
    padding: 10px 15px;
  }
  .result-item-number {
    width: 20px;
    min-width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  .result-category-title h6 {
    font-size: 16px;
  }
  .result-item-code {
    margin-top: 2px;
    font-size: 12px;
  }
  .analysis-result-university {
    margin-top: 5px;
  }
  .result-university-img {
    width: 40px;
    height: 40px;
    min-width: 40px;
    padding: 5px;
  }
  .result-university-caption {
    margin-left: 7px;
  }
  .result-university-caption h6 {
    font-size: 15px;
  }
  .result-university-location {
    font-size: 14px;
    line-height: 110%;
    padding-left: 20px;
  }
  .result-university-location:before {
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
  }
  .popular-icon {
    width: 16px;
    height: 16px;
  }
  .popular-icon svg {
    width: 10px;
    height: 9.3px;
  }
  .clear-analysis-filter {
    display: none!important;
  }
  .analysis-aside-box.filled .clear-analysis-filter.xs {
    display: flex!important;
    width: 100%;
    background: #f5f5f5;
    margin-top: 10px;
    border-radius: 12px;
    min-height: 45px;
    padding: 13px 30px;
    font-family: "SF Pro Text";
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.3px;
  }
  .analysis-selection.filled .clear-analysis-filter.xs {
    display: flex!important;
    width: 100%;
    background: #f5f5f5;
    margin-top: 10px;
    border-radius: 12px;
    min-height: 45px;
    padding: 13px 30px;
    font-family: "SF Pro Text";
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.3px;
  }
  .show-analysis-university {
    width: 30px;
    height: 30px;
  }
  .chart canvas {
    width: 30px!important;
    height: 30px!important;
  }
  .chart {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  .chart .percent {
    font-size: 10px;
  }
  .analysis-result-university {
    padding: 10px 0;
  }
  .analysis-filter-content .form-half {
    display: block;
  }
  .analysis-filter-content .form-half .analysis-filter-input {
    width: 100%!important;
  }
  .analysis-filter-content .form-half .analysis-filter-input + .analysis-filter-input {
    margin-left: 0;
    margin-top: 15px;
  }
  .analysis .side-sticky {
    margin-bottom: 10px;
  }
  .analysis-filter-top {
    padding: 10px 15px;
  }
  .analysis-filter-content {
    padding: 10px 15px 20px 10px;
  }
  .select-spec-name .dropdown-menu.inner {
    max-height: 250px;
  }
}

@media (max-width: 320px) {
  .analysis-aside-btn {
    font-size: 18px;
  }
  .clear-analysis-filter.xs {
    font-size: 18px!important;
  }
}









