@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {
  .charity-progress-caption h6 {
    font-size: 20px;
  }
  .charity-progress-number span {
    font-size: 12px;
  }
  .charity-progress-number p {
    font-size: 16px;
  }
  .charity-progress-caption {
    max-width: 300px;
  }
  .charity-progress-number {
    margin-top: 10px;
  }
  .charity-about-title {
    max-width: 400px;
  }
  .charity-lottie-box {
    width: 200px;
    height: 200px;
  }
  .charity-instruction-item .box-caption p {
    margin-top: 10px;
  }
  .charity-teachers-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .charity-slider .slick-prev, .charity-slider .slick-next {
    display: none!important;
  }
  .charity-teachers .slider-arrow {
    display: flex;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .charity-video {
    position: absolute;
    width: initial;
    left: 0;
    right: 0;
    border-radius: 0;
    min-height: 350px;
    height: 350px;
  }
  .charity-title {
    min-height: 350px;
    position: relative;
    z-index: 3;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
  }
  .charity-title h1 {
    color: #fff;
    font-size: 26px;
  }
  .charity-title p {
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
  }
  .charity-promo {
    padding-top: 15px;
  }
  .charity-video .call-video-modal {
    display: none;
  }
  .charity-title .charity-btn {
    margin-top: auto;
    width: 100%;
  }
  .call-video-modal.xs {
    display: flex;
    align-items: center;
    margin-top: auto;
    span {
      font-weight: 500;
      margin-left: 10px;
      display: block;
      width: fit-content;
      font-size: 20px;
      line-height: 100%;
      color: #FFFFFF;
    }
  }
  .charity-progress-caption {
    display: none;
  }
  .charity-progress-caption.xs {
    display: block;
    position: static;
    left: initial;
    max-width: initial;
    transform: none;
  }
  .charity-progress-man {
    width: 40px;
    height: 100px;
  }
  .charity-progress-home {
    width: 100px;
    height: 62.5px;
  }
  .charity-progress-home img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .charity-progress-body {
    margin-top: 15px;
  }
  .charity-progress-caption h6 {
    font-size: 20px;
  }
  .charity-progress-number {
    margin-top: 10px;
    padding: 5px 12px;
  }
  .charity-about {
    padding: 20px 0 40px 0;
  }
  .charity-about-title h6 {
    font-size: 20px;
  }
  .charity-about-title p {
    margin-top: 10px;
    font-size: 14px;
  }
  .slider-arrow {
    display: none;
  }
  .slick-slider {
    margin-top: 15px;
  }
  .charity-about-box {
    margin: 0 10px;
    width: 150px;
  }
  .charity-about-box .box-img {
    width: 150px;
    height: 150px;
  }
  .charity-about-box .box-caption {
    margin-top: 10px;
  }
  .charity-about-box .box-caption h6 {
    font-size: 16px;
  }
  .charity-instruction {
    padding: 20px 0;
  }
  .charity-instruction-title h6 {
    font-size: 20px;
  }
  .charity-instruction-item {
    width: calc(50% - 20px);
  }
  .charity-lottie-box {
    width: 100%;
    max-height: 150px;
  }
  .charity-instruction-wrapper {
    flex-direction: column;
  }
  .charity-instruction-wrapper .charity-instruction-item:nth-child(even) {
    margin-left: auto;
    margin-top: -150px;
  }
  .charity-instruction-item .box-caption p {
    margin-top: 10px;
    font-size: 15px;
  }
  .charity-teachers {
    padding: 20px 0 30px 0;
  }
  .charity-teachers-title h6 {
    font-size: 20px;
  }
  .charity-slider .slick-prev, .charity-slider .slick-next {
    display: none!important;
  }
  .charity-slider-item {
    width: 200px;
    margin: 0 10px;
  }
  .charity-slider-item .slider-img {
    width: 200px;
    height: 150px;
  }
  .charity-slider-item .slider-caption {
    margin-top: 15px;
  }
  .charity-slider-item .slider-caption p {
    font-size: 18px;
  }
  .charity-pay {
    padding: 20px 0 30px 0;
  }
  .charity-pay-title h6 {
    font-size: 20px;
  }
  .charity-pay .form-half {
    margin-top: 15px;
  }
  .charity-pay .form-label + .form-label {
    margin-top: 5px!important;
  }
  .charity-pay .radio-container {
    padding-left: 30px;
    .checkmark {
      width: 24px;
      height: 24px;
    }
    .checkmark:after {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 14px;
      height: 14px;
    }
  }
  .charity-pay .charity-btn {
    margin-top: 20px;
    width: 100%;
  }
  .charity-pay-img {
    display: none;
  }
  .charity-pay-bottom {
    flex-direction: column;
    margin-top: 25px;
  }
  .charity-pay-social {
    order: 1;
  }
  .charity-pay-bottom .charity-btn {
    order: 2;
  }

}

@media (max-width: 320px) {

}