//SF Pro Display
@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/sf-pro-display/sf-pro-display-ultralight.woff');
  font-weight: 100;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/sf-pro-display/sf-pro-display-thin.woff');
  font-weight: 200;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/sf-pro-display/sf-pro-display-light.woff');
  font-weight: 300;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/sf-pro-display/sf-pro-display-regular.woff');
  font-weight: 400;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/sf-pro-display/sf-pro-display-medium.woff');
  font-weight: 500;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/sf-pro-display/sf-pro-display-semibold.woff');
  font-weight: 600;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/sf-pro-display/sf-pro-display-bold.woff');
  font-weight: 700;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/sf-pro-display/sf-pro-display-heavy.woff');
  font-weight: 800;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/sf-pro-display/sf-pro-display-black.woff');
  font-weight: 900;
}

//SF Pro Text
@font-face {
  font-family: 'SF Pro Text';
  src: url('../fonts/sf-pro-text/sf-pro-text-light.woff');
  font-weight: 300;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('../fonts/sf-pro-text/sf-pro-text-light.woff');
  font-weight: 400;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('../fonts/sf-pro-text/sf-pro-text-medium.woff');
  font-weight: 500;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('../fonts/sf-pro-text/sf-pro-text-semibold.woff');
  font-weight: 600;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('../fonts/sf-pro-text/sf-pro-text-bold.woff');
  font-weight: 700;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('../fonts/sf-pro-text/sf-pro-text-heavy.woff');
  font-weight: 800;
}


