@media (max-width: 320px) {

}

@media (max-width: 767px) {
  .change-view {
    display: none;
  }
  .olympiad-search {
    padding: 15px;
  }
  .olympiad-card-wrapper {
    display: block!important;
  }
  .olympiad-card {
    width: 100%!important;
    padding: 15px;
  }
  .olympiad-card-title h6 {
    font-size: 18px!important;
  }
  .olympiad-card-caption .card-caption-body {
    margin-top: 10px;
  }
  .card-caption-body p {
    font-size: 15px;
  }
  .card-caption-bottom {
    display: block!important;
  }
  .olympiad-start-btn {
    margin-left: 0;
    margin-top: 10px;
  }
  .olympiad-tablink {
    margin-right: 20px;
  }
  .card-img-xs {
    margin-right: 10px;
  }
  .card-caption-top {
    flex-wrap: wrap;
  }
  .bonus-price-blue {
    flex-basis: 100%;
    margin-top: 10px;
  }
  .olympiad-caption h1 {
    font-size: 40px;
  }
  .olympiad-caption p {
    margin-top: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .change-view {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {

}