@media (max-width: 320px) {
  .reward {
    width: 100%!important;
    height: 140px!important;
  }
  .profile-favourite-content .favourite-course {
    margin: 10px auto;
  }
}

@media (max-width: 767px) {
  .timetable-wrapper {
    display: block;
    margin-top: 15px;
  }
  .activity-wrapper {
    margin-top: 15px;
    width: 100%;
  }
  .timetable {
    margin-right: 0;
  }
  .profile-progress {
    overflow-x: auto;
  }
  .profile-progress-wrapper {
    margin-top: 15px;
    padding: 15px;
  }
  .profile-aside-toggle {
    display: flex;
    padding: 10px 15px;
    margin-top: 15px;
  }
  .profile-aside {
    display: none;
  }
  .day-schedule-item p {
    font-size: 16px;
  }
  .day-schedule-item span {
    font-size: 14px;
    padding: 2px;
    letter-spacing: 1px;
    width: 130px;
    min-width: 130px;
  }
  .timetable {
    padding: 15px;
  }
  .promo-course-box .courseCard-sm {
    width: 100%;
  }
  .profile-aside-toggle span {
    font-size: 17px;
  }
  .profile-progress-top p {
    font-size: 16px;
  }
  .activity {
    padding: 15px;
  }
  .profile-rating {
    padding: 15px;
    margin-top: 15px;
  }
  .favourite-course {
    width: 140px;
    min-width: 140px;
  }
  .favourite-course-img {
    width: 140px;
    height: 140px;
  }
  .scrollbox-holder {
    padding-right: 15px;
    margin-top: 15px;
  }
  .scrollbox-holder .scrollbox::-webkit-scrollbar-track {
    margin-right: 0;
  }
  .promo-course-wrapper {
    padding: 15px 15px 0 15px;
    margin-top: 15px;
  }
  .promo-course-box {
    margin: 15px -15px 0 -15px;
  }
  .promo-course-box .courseCard-sm {
    padding: 15px;
  }
  .courseCard-sm .courseCard-img {
    width: 80px;
    height: 80px;
    min-width: 80px;
  }
  .courseCard-sm .courseCard-caption {
    margin-left: 10px;
  }
  .courseCard-sm .courseCard-name h6 {
    font-size: 17px;
  }
  .courseCard-sm .courseCard-rating {
    margin-top: 5px;
  }
  .courseCard-sm .favourite-course-price {
    margin-top: 5px;
  }
  .profile-progress {
    margin: 18px -15px 0 -15px;
  }
  .heading-tablink {
    margin-top: 20px;
  }
  .lessonCard-wrapper {
    display: block;
    margin: 20px 0 0 0;
  }
  .lessonCard {
    width: 100%;
    margin: 0 0 15px 0;
  }
  .lessonCard-detail {
    display: block;
  }
  .lessonCard-detail li + li {
    margin-top: 10px;
  }
  .heading-tablink a {
    font-size: 20px;
  }
  .reward-wrapper {
    margin: 7.5px -7.5px 0 -7.5px;
  }
  .reward {
    width: calc(50% - 15px);
    margin: 7.5px;
    height: 120px;
  }
  .reward:hover {
    .reward-tools {
      opacity: 1;
      visibility: visible;
    }
    .reward-img:before {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 53.12%, #FFFFFF 85.94%);
      transition: 0.3s ease;
    }
    .reward-date {
      opacity: 1;
      visibility: visible;
    }
  }
  .reward-tools {
    opacity: 1;
    visibility: visible;
  }
  .reward-tools-btn {
    width: 40px;
    height: 40px;
  }
  .reward-show-btn {
    display: none;
  }
  .reward-date span {
    font-size: 12px;
    margin-left: 5px;
  }
  .reward-date svg {
    width: 14px;
    height: 14px;
  }
  .noticeBox {
    margin-top: 15px;
  }
  .noticeBox-header {
    padding: 10px 15px;
  }
  .noticeBox-body {
    padding: 0 15px 20px 15px;
  }
  .notice-item {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #F0F0F0;
  }
  .notice-item-content {
    flex-wrap: wrap;
  }
  .notice-sender {
    order: 1;
    width: 80%;
  }
  .notice-text {
    order: 3;
    flex-basis: 100%;
    max-width: 100%;
    margin-top: 10px;
    padding-right: 0;
  }
  .notice-time {
    order: 2;
  }
  .notice-sender p {
    margin-left: 10px;
  }
  .transaction-box {
    margin-top: 15px;
  }
  .transaction-header {
    padding: 10px 15px;
  }
  .transaction-item {
    padding: 10px 15px;
  }



  .transaction-td {
    display: none;
  }
  .transaction-tr {
    display: block;
  }
  .transaction-tr .transaction-item-inner {
    display: flex;
    width: 100%;
    padding-right: 0;
  }
  .transaction-tr .transaction-item-inner span {
    font-size: 14px;
    line-height: 100%;
    color: #819299;
    display: block;
    width: 30%;
  }
  .transaction-tr .transaction-item-inner p {
    width: 70%;
    padding-left: 15px;
    font-size: 14px;
  }
  .transaction-header-left h6 {
    font-size: 16px;
  }
  .transaction-tr .transaction-item-inner + .transaction-item-inner {
    margin-top: 5px;
  }
  .transaction-tr:hover {
    background: initial;
  }
  .transaction-tr:nth-child(odd) {
    background: #FBFBFB;
  }
  .profile-favourite {
    margin-top: 15px;
  }
  .profile-favourite-content .favourite-course-img {
    width: 140px;
    height: 140px;
    min-height: 140px;
  }
  .articleBox-header {
    display: block;
  }
  .articleBox {
    margin-top: 15px;
  }
  .article-tablink {
    white-space: nowrap;
  }
  .article-tablink-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 0;
    &:before {
      content: none;
    }
  }
  .articleBox-header {
    padding: 10px 15px;
  }
  .article-tablink-wrapper::-webkit-scrollbar {
    display: none;
  }
  .create-article-link {
    padding: 4px 15px;
    width: 100%;
    border-radius: 8px;
    min-height: 36px;
    background: #4090FF;
    justify-content: center;
    margin-top: 10px;
    span {
      color: #fff;
    }
    svg {
      width: 24px;
      height: 24px;
    }
    svg path {
      stroke: #fff;
    }
  }
  .article {
    padding: 10px 15px;
  }
  .article-content {
    margin-top: 10px;
  }
  .article-content h1 {
    font-size: 24px;
  }
  .article-status {
    font-size: 12px;
  }
  .article-content p {
    margin-top: 10px;
    font-size: 14px;
  }
  .article-img {
    height: 200px;
    margin: 10px -15px 0 -15px;
    border-radius: 0;
  }
  .article-certificate-link {
    padding: 4px 8px;
  }
  .article-certificate-link span {
    font-size: 12px;
    margin-left: 5px;
  }
  .article-certificate-link svg {
    width: 16px;
    height: 16px;
  }
  .article-detail {
    margin-top: 10px;
  }
  .article-detail-meta li span {
    font-size: 14px;
    margin-left: 4px;
  }
  .article-date span {
    font-size: 14px;
  }
  .article-detail-meta li svg {
    width: 20px;
    height: 20px;
  }
  .article-detail-meta li + li {
    margin-left: 15px;
  }
  .article-author p {
    font-size: 16px;
    margin-left: 5px;
  }
  .article-author p:after {
    width: 14px;
    height: 14px;
  }
  .article-author-status {
    padding: 1px 6px;
    font-size: 12px;
  }
  .edit-article-btn {
    width: 26px;
    height: 26px;
  }
  .edit-article-btn svg {
    width: 100%;
    height: 100%;
  }
  .article-header-left {
    max-width: 85%;
  }
  .referralBox {
    margin-top: 15px;
  }
  .referral-info {
    padding: 0 15px 30px 15px;
  }
  .referral-info-top h6 {
    font-size: 20px;
  }
  .referral-info-link {
    padding: 10px 0;
  }
  .referral-info-link p {
    font-size: 14px;
  }
  .referral-detail {
    padding: 20px 15px 30px 15px
  }
  .referral-detail-title {
    font-size: 22px;
  }
  .referral-detail-img {
    display: none;
  }
  .referral-detail-caption {
    max-width: 100%;
  }
  .referral-detail-item svg {
    width: 50px;
    height: 50px;
  }
  .referral-detail-item p {
    margin-top: 0;
    line-height: 120%;
    font-size: 16px;
  }
  .referral-info-social a {
    width: 35px;
    height: 35px;
  }
  .week-schedule-th {
    font-size: 13px;
    padding-bottom: 5px;
  }
  .week-schedule-td {
    padding: 5px;
  }
  .week-schedule-td p {
    font-size: 12px;
  }
  .schedule-subject-time span {
    font-size: 10px;
    line-height: 120%;
    margin-left: 4px;
  }
  .schedule-subject-time svg {
    min-width: 14px;
    width: 14px;
    height: 14px;
  }
  .timetable {
    margin-top: 15px;
  }
  .timetable-header {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .timetable-header::-webkit-scrollbar {
    display: none;
  }
  .timetable-header .nav-tabs {
    flex-wrap: nowrap;
  }
  .week-schedule-th, .week-schedule-td {
    width: 100px;
    min-width: 90px;
    margin: 4px 5px;
  }
  .week-schedule {
    overflow-x: auto;
    margin: 10px -5px 0 -5px;
  }
  .download-certificate {
    margin-top: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .timetable-wrapper {
    display: block;
  }
  .activity-wrapper {
    margin-top: 20px;
    width: 100%;
  }
  .timetable {
    margin-right: 0;
  }
  .profile-progress {
    overflow-x: auto;
  }
  .profile-progress-wrapper {
    margin-top: 20px;
  }
  .profile-aside-toggle {
    display: flex;
  }
  .profile-aside {
    display: none;
  }
  .heading-tablink {
    margin-top: 20px;
  }
  .lessonCard-detail {
    display: block;
  }
  .lessonCard-detail li + li {
    margin-top: 10px;
  }

  .reward:hover {
    .reward-tools {
      opacity: 1;
      visibility: visible;
    }
    .reward-img:before {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 53.12%, #FFFFFF 85.94%);
      transition: 0.3s ease;
    }
    .reward-date {
      opacity: 1;
      visibility: visible;
    }
  }
  .reward-tools {
    top: 10px;
    right: 10px;
    opacity: 1;
    visibility: visible;
    left: initial;
    transform: translate(0);
  }
  .reward-tools-btn {
    width: 40px;
    height: 40px;
  }
  .reward-tools .reward-tools-btn + .reward-tools-btn {
    margin-left: 7px;
  }
  .reward {
    height: 130px;
  }
  .noticeBox {
    margin-top: 15px;
  }
  .notice-sender {
    width: 27%;
  }
  .transaction-box {
    margin-top: 15px;
  }
  .profile-favourite {
    margin-top: 15px;
  }
  .profile-favourite-content .favourite-course-img {
    height: 160px;
  }
  .articleBox {
    margin-top: 15px;
  }
  .referralBox {
    margin-top: 15px;
  }
  .referral-info, .referral-detail {
    padding-left: 40px;
    padding-right: 40px;
  }
  .referral-detail-img {
    width: 300px;
    height: 305px;
    right: 15px;
    top: 180px;
  }
  .week-schedule-th {
    font-size: 15px;
  }
  .week-schedule-td {
    padding: 8px;
  }
  .week-schedule-td p {
    font-size: 14px;
  }
  .schedule-subject-time span {
    font-size: 12px;
    line-height: 120%;
  }
  .schedule-subject-time svg {
    min-width: 16px;
    width: 16px;
    height: 16px;
  }
  .timetable {
    margin-top: 15px;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .profile-progress {
    overflow-x: auto;
  }
  .activity-wrapper {
    width: 100%;
    margin-top: 20px;
  }
  .timetable-wrapper {
    display: block;
  }
  .timetable {
    margin-right: 0;
  }
  .lessonCard-detail {
    display: block;
  }
  .lessonCard-detail li + li {
    margin-top: 10px;
  }
  .reward:hover {
    .reward-tools {
      opacity: 1;
      visibility: visible;
    }
    .reward-img:before {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 53.12%, #FFFFFF 85.94%);
      transition: 0.3s ease;
    }
    .reward-date {
      opacity: 1;
      visibility: visible;
    }
  }
  .reward-tools {
    top: 10px;
    right: 10px;
    opacity: 1;
    visibility: visible;
    left: initial;
    transform: translate(0);
  }
  .reward-tools-btn {
    width: 40px;
    height: 40px;
  }
  .reward-tools .reward-tools-btn + .reward-tools-btn {
    margin-left: 7px;
  }
  .reward {
    height: 115px;
  }
  .notice-sender {
    width: 30%;
  }
  .profile-favourite-content .favourite-course-img {
    height: 160px;
  }
  .referral-info, .referral-detail {
    padding-left: 60px;
    padding-right: 60px;
  }
  .referral-detail-img {
    width: 280px;
    height: 285px;
    top: 120px;
  }
  .week-schedule-th {
    font-size: 15px;
  }
  .week-schedule-td {
    padding: 8px;
  }
  .week-schedule-td p {
    font-size: 14px;
  }
  .schedule-subject-time span {
    font-size: 12px;
    line-height: 120%;
  }
  .schedule-subject-time svg {
    min-width: 16px;
    width: 16px;
    height: 16px;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .referral-info, .referral-detail {
    padding-left: 60px;
    padding-right: 60px;
  }
  .referral-detail-img {
    width: 280px;
    height: 285px;
    top: 120px;
  }
}

