@media (min-width: 992px) and (max-width: 1024px) {
  .tutor-landing {
    padding-top: 100px;
  }
  .parallax-box {
    margin-top: 45px;
  }
  .tutor-about {
    margin-top: 60px;
  }
  .task-1 {
    left: 15px!important;
  }
  .task-2 {
    left: 0px!important;
  }
  .task-3 {
    left: 140px!important;
  }
  .task-4 {
    left: 80px!important;
  }
  .task-5 {
    left: 220px!important;
  }
  .task-6 {
    left: 390px!important;
  }
  .task-7 {
    top: 200px!important;
    left: 550px!important;
  }
  .task-8 {
    left: 700px!important;
  }
  .task-9 {
    display: none!important;
  }
  .task-10 {
    display: none!important;
  }
  .tutor-teacher {
    padding: 30px 0 60px 0;
  }
  .tutor-review {
    padding: 30px 0 60px 0;
  }
  .tutorReview-slider {
    margin-top: 30px!important;
  }
  .teacherCard-slider {
    margin-top: 30px!important;
  }
  .application-img {
    right: -35px;
  }
  .application-condition {
    align-items: flex-start;
  }
  .tutorCard-right {
    width: 77.5%;
  }
  .tutor-edit-btn {
    text-align: center;
  }
  .parallax-box-content:nth-child(1) {
    display: none!important;
  }
  .parallax-box-content:nth-child(6) {
    display: none!important;
  }
  .parallax-box-item {
    height: 457px;
  }
  .parallax-box-item.bg-lilac img {
    width: 190px;
    left: 15px!important;
  }
  .daryn-point {
    top: 178px!important;
    left: 151px!important;
  }
  .daryn-point-back {
    left: -25px!important;
    top: 215px!important;
  }
  .profile-panel-caption {
    flex-wrap: wrap;
  }
  .profile-switch-status {
    flex-basis: 100%;
    margin-top: 10px;
  }
  .teacher-main {
    min-height: 415px;
  }
  .teacher-main .note-text.blue {
    top: 85px!important;
    left: 250px!important;
  }
  .teacher-main .note-text.green {
    top: 150px!important;
    right: 295px!important;
  }
  .bg-ball {
    width: 250px;
    height: 250px;
  }
  .bg-ball.red {
    top: 250px!important;
  }
  .tariff-box {
    padding: 15px;
  }
  .select-tariff-period {
    margin-top: 10px;
  }
  .tariff-box-img {
    margin-top: 15px;
  }
  .tariff-box-conditions {
    margin-top: 15px;
  }
  .tariff-box-conditions {
    font-size: 15px;
    line-height: 120%;
  }
  .tariff-box-conditions li + li {
    margin-top: 10px;
  }
  .tariff-box .select-lesson-time {
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .task-1 {
    top: -33px!important;
    left: 0!important;
  }
  .task-2 {
    display: none!important;
  }
  .task-3 {
    display: none!important;
  }
  .task-4 {
    top: 186px!important;
    left: 17px!important;
  }
  .task-5 {
    top: 69px!important;
    left: 119px!important;
  }
  .task-6 {
    top: -29px!important;
    left: 292px!important;
  }
  .task-7 {
    top: 226px!important;
    left: 379px!important;
  }
  .task-8 {
    top: 76px!important;
    left: 512px!important;
  }
  .task-9 {
    top: -38px!important;
    left: 551px!important;
  }
  .task-10 {
    display: none!important;
  }
  .tutor-landing {
    padding-top: 120px;
  }
  .tutor-task {
    margin-top: 30px;
  }
  .tutor-teacher {
    padding-top: 30px;
  }
  .tutor-review {
    padding-top: 30px;
  }
  .application-img {
    display: none;
  }
  .application {
    padding: 40px;
  }
  .application-condition {
    align-items: flex-start;
  }
  .tutor-aside {
    display: none;
  }
  .tutorCard-wrapper {
    margin-top: 30px;
  }
  .tutorCard-right {
    max-width: 76.5%;
  }
  .tutorHead-caption-left {
    padding-right: 15px;
  }
  .tutorHead-caption {
    align-items: flex-start;
  }
  .tutor-edit-btn {
    text-align: center;
  }
  .tutorProfile-img {
    height: 150px;
  }
  .change-tutorProfile-img span {
    font-size: 18px;
  }
  .change-tutorProfile-img {
    padding: 8px 30px;
  }
  .requestDetail-text {
    display: none;
  }
  .call-requestDetail {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
  }
  .request-detail, .requestDetail {
    width: 16%;
  }
  .request-name, .requestName {
    width: 28%;
  }
  .request-number, .requestNumber {
    width: 28%;
  }
  .request-subject, .requestSubject {
    width: 28%;
  }
  .request-modal .requestDetail-text {
    display: block;
    margin-top: 10px;
  }
  .request-modal .close-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-left: auto;
    position: absolute;
    top: 8px;
    right: 8px;
  }
  .tutorAbout-item {
    margin-bottom: 20px;
  }
  .parallax-box-content:nth-child(1) {
    display: none!important;
  }
  .parallax-box-content:nth-child(6) {
    display: none!important;
  }
  .parallax-box-item {
    height: 330px;
  }
  .daryn-point {
    top: 80px!important;
  }
  .daryn-point-back {
    top: 130px!important;
  }
  .tutor-about {
    margin-top: 80px;
  }
  .callHistory-head {
    display: block;
  }
  .callHistory-btn {
    margin-top: 15px;
  }



  .teacher-main {
    min-height: 315px;
  }
  .teacher-main .note-text {
    padding: 5px 10px;
    min-height: 25px;
  }
  .teacher-main .note-text span {
    font-size: 16px;
  }
  .teacher-main .note-text.blue {
    left: 180px!important;
    top: 65px!important;
  }
  .teacher-main .note-text.green {
    right: 220px!important;
    top: 120px!important;
  }
  .profit-box {
    padding: 20px 40px 30px 40px;
    min-height: 200px;
  }
  .profit-detail span {
    font-size: 40px;
  }
  .profit-detail p {
    line-height: 110%;
  }
  .profit-range {
    margin-top: 15px;
  }
  .irs-grid-text {
    font-size: 18px;
  }
  .irs--flat .irs-handle > i:first-child {
    width: 50px;
    height: 33px;
  }
  .bg-ball {
    width: 200px;
    height: 200px;
    opacity: 0.5;
    filter: blur(60px);
  }
  .bg-ball.red {
    top: 250px!important;
  }
  .profit-result p {
    font-size: 40px;
  }
  .teacher-profit {
    padding-bottom: 40px;
  }
  .tutorProfile-tab {
    overflow-x: auto;
    flex-wrap: nowrap;
  }
  .tutorProfile-tab::-webkit-scrollbar {
    display: none;
  }
  .jqs-grid-day {
    font-size: 12px;
  }
  .jqs-grid-hour {
    font-size: 14px;
  }
  .tutor-page .teacherCard {
    .teacherCard-img {
      width: 40px;
      height: 40px;
      min-width: 40px;
    }
    .teacherCard-caption {
      margin-left: 10px;
    }
  }
  .teacher-operation-right {
    margin-top: 30px;
  }
  .teacher-rate-caption p {
    padding-left: 30px;
  }
  .teacher-rate-caption p:before {
    top: 0;
    transform: translateY(0);
  }
  .eco-link-box {
    margin: 40px -15px 0 -15px;
  }
  .eco-link {
    margin: 0 7.5px;
    width: calc(25% - 15px);
  }
  .calling-control {
    width: 350px;
  }
  .calling-control-author p {
    margin-top: 10px;
  }
  .calling-control-btn {
    margin-top: 10px;
  }
  .calling-window {
    margin-top: 20px;
  }
  .select-tariff {
    margin-top: 20px;
  }
  .tariff-box {
    padding: 10px;
  }
  .tariff-box-title {
    font-size: 20px;
    line-height: 110%;
  }
  .select-tariff-period {
    margin-top: 10px;
  }
  .select-tariff-period li {
    margin: 0;
  }
  .select-tariff-period a {
    padding: 4px 7px;
  }
  .tariff-box-conditions {
    margin-top: 15px;
  }
  .tariff-box-conditions li {
    padding-left: 20px;
    font-size: 15px;
  }
  .tariff-box-conditions li + li {
    margin-top: 7px;
  }
  .tariff-box-conditions li:before {
    width: 14px;
    height: 14px;
  }
  .tariff-box-img {
    height: 120px;
  }
  .tariff-box .select-lesson-time {
    padding: 10px 0;
    margin-bottom: 15px;
  }
  .tariff-box .radio-form-wrapper {
    margin: -4px -7px;
  }
  .select-lesson-time .radio-form {
    min-height: 24px;
    padding-left: 34px;
    font-size: 15px;
    line-height: 100%;
    margin: 4px 7px;
  }
  .select-lesson-time .radio-form .checkmark {
    width: 24px;
    height: 24px;
  }
  .tariff-box-btn {
    margin-top: 15px;
    padding: 10px 15px;
  }
  .tariff-faq {
    padding: 20px 40px;
  }
  .tariff-faq h1 {
    font-size: 30px;
    line-height: 120%;
  }
  .tariff-faq {
    .answers_collapse {
      margin-top: 15px;
    }
    .answers_collapse .card {
      padding: 10px 20px;
    }
    .answers_collapse .card-header a p {
      font-size: 17px;
      line-height: 120%;
    }
    .answers_collapse .card-header a svg {
      width: 18px;
      height: 18px;
    }
    .answers_collapse .card-body p {
      font-size: 15px;
      line-height: 120%;
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .tutor-landing {
    padding-top: 50px;
  }
  .tutor-title {
    font-size: 35px;
    max-width: 100%;
  }
  .tutor-text {
    margin-top: 20px!important;
  }
  .tutor-link-wrapper {
    flex-direction: column;
  }
  .tutor-link {
    width: 100%;
    padding: 15px 20px;
    text-align: center;
  }
  .tutor-link-wrapper .tutor-link + .tutor-link {
    margin-left: 0;
    margin-top: 15px;
  }
  .parallax-box {
    margin-top: 20px;
  }
  .tutor-section {
    margin-top: 40px!important;
    padding-top: 0!important;
  }
  .tutor-about-caption {
    margin-left: 25px;
    min-height: initial;
  }
  .task-1 {
    display: none!important;
  }
  .task-2 {
    display: none!important;
  }
  .task-3 {
    display: none!important;
  }
  .task-9 {
    display: none!important;
  }
  .task-10 {
    display: none!important;
  }
  .tutor-taskBox-wrapper {
    min-height: initial;
  }
  .tutor-taskBox {
    position: relative!important;
    min-height: 70px;
    margin-bottom: 15px;
    justify-content: center;
    left: 0!important;
    top: initial!important;
    width: 100%;
    opacity: 1;
    height: fit-content;
    padding: 10px 20px;
    background: #219653!important;
    box-shadow: 0px 1px 2px rgba(33, 150, 83, 0.1), 0px 10px 20px rgba(33, 150, 83, 0.2), 0px 20px 40px rgba(33, 150, 83, 0.3);
  }
  .tutor-taskBox h6 {
    font-size: 24px!important;
    color: #fff;
  }
  .tutor-taskBox p {
    color: #fff;
    line-height: 100%;
    margin-top: 5px;
  }
  .tutor-task {
    padding-bottom: 50px;
  }
  .tutor-teacher:before {
    display: none;
  }
  .teacherCard-slider {
    margin-top: 30px!important;
  }
  .tutor-teacher {
    padding-bottom: 60px;
  }
  .tutor-review {
    margin-top: 15px!important;
  }
  .tutorReview-slider {
    margin-top: 30px!important;
  }
  .tutor-review {
    padding-bottom: 70px;
  }
  .tutorReview-slider .slick-dots {
    bottom: -30px;
  }
  .tutor-application {
    margin-top: 0!important;
    padding-top: 30px!important;
  }
  .tutor-application:before {
    display: none;
  }
  .application {
    margin-top: 30px;
    padding: 20px 15px;
  }
  .application-img {
    display: none;
  }
  .application-bottom {
    flex-direction: column;
    margin-top: 15px;
  }
  .application-submit {
    order: 2;
    margin-top: 15px;
    width: 100%;
  }
  .application-condition {
    margin-left: 0;
    order: 1;
    align-items: flex-start;
  }
  .application-condition-text {
    line-height: 120%;
  }
  .edu-checkbox {
    padding: 15px 10px;
    min-height: 100px;
    width: 44%;
  }
  .edu-checkbox p {
    font-size: 16px;
  }
  .tutorCard {
    padding: 15px;
    flex-wrap: wrap;
    border-top: none;
    border-radius: 6px;
  }
  .tutorCard-left {
    display: none;
  }
  .tutorCard-img {
    width: 80px;
    height: 80px;
  }
  .tutorCard-right {
    max-width: 100%;
    margin-left: 0;
  }
  .tutorCard-title {
    font-size: 20px;
  }
  .tutorCard-price {
    margin-top: 7px;
    font-size: 18px;
  }
  .call-tutor {
    display: none;
  }
  .tutorCard-head {
    display: block;
  }
  .tutor-aside {
    display: none;
  }
  .tutorCard-subject-wrapper {
    flex-wrap: wrap;
  }
  .tutorCard-subject-wrapper li + li {
    margin-left: 0;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .tutorCard-subject-wrapper li:first-child {
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .tutor-list {
    padding-top: 20px;
  }
  .call-tutor-xs {
    display: flex;
    background: #219653;
    color: #fff;
    padding: 12px 30px;
  }
  .tutorCard-rate {
    margin-top: 7px;
  }
  .tutorCard-experience {
    margin-top: 7px;
  }
  .tutorCard-edu {
    margin-top: 7px;
  }
  .tutorCard-about {
    margin-top: 10px;
  }
  .tutorCard-caption-top {
    display: flex;
  }
  .tutorCard-right-img {
    display: block;
    min-width: 80px;
  }
  .tutorCard-caption-right {
    margin-left: 10px;
  }
  .tutorCard-wrapper .tutorCard + .tutorCard {
    margin-top: 15px;
  }
  .modal-box.tutor-modal {
    padding: 15px;
  }
  .tutor-modal-head h3 {
    font-size: 20px;
  }
  .tutor-modal-contact {
    flex-direction: column;
    align-items: flex-start;
  }
  .tutor-modal-body {
    margin-top: 20px;
  }
  .tutor-modal-link {
    margin-bottom: 10px;
  }
  .tutor-modal-edit {
    margin-top: 10px;
  }
  .tutor-modal .form-half .form-label + .form-label {
    margin-top: 0;
  }
  .tutor-modal-bottom {
    flex-direction: column;
  }
  .tutorHead-img {
    display: none;
  }
  .tutorHead-caption {
    margin-left: 0;
  }
  .tutorHead .tutorCard-price {
    display: block;
  }
  .tutorHead-caption {
    flex-direction: column;
  }
  .tutorHead .right-price {
    display: none;
  }
  .tutorHead {
    padding-top: 80px;
    padding-bottom: 20px;
  }
  .tutorBody .half-form {
    display: block;
  }
  .half-form .tutorInfo-box {
    width: 100%;
  }
  .tutorBody {
    padding-top: 10px;
    padding-bottom: 30px;
  }
  .tutorInfo-box-subject {
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .tutorProgram {
    align-items: flex-start;
    width: 100%;
  }
  .tutorProgram span {
    font-size: 15px;
  }
  .tutorInfo-box-about {
    margin-top: 15px;
  }
  .tutorInfo-box {
    padding: 15px;
  }
  .tutor-edit-btn {
    display: none;
  }
  .tutor-edit-btn-xs {
    display: block;
    text-align: center;
    font-size: 16px;
    width: 100%;
  }
  .tutorHead .call-tutor-xs {
    padding: 12px;
    font-size: 16px;
  }
  .tutorProfile {
    padding-top: 70px;
  }
  .tutorProfile-tab {
    margin-top: 15px;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 5px;
  }
  .tutorProfile-tab::-webkit-scrollbar {
    display: none;
  }
  .tutorProfile-tablink:after {
    bottom: -8px;
  }
  .tutorProfile .form-label + .form-label {
    margin-top: 0!important;
  }
  #tutorInfo {
    padding-top: 30px;
  }
  #tutorPwd {
    padding-top: 15px;
    padding-bottom: 30px;
  }
  .tutorProfile-btn {
    width: 100%;
    margin-top: 20px;
    padding: 10px 30px;
  }
  #tutorContact .tutorProfile-btn {
    margin-top: 30px;
  }
  .tutorProfile {
    min-height: calc(100vh - 375px);
  }
  .tutor-subject-top {
    padding: 7px 10px 7px 15px;
  }
  .delete-tutor-program {
    display: none;
  }
  .tutor-program {
    padding: 5px 8px;
  }
  .tutor-program span {
    line-height: 100%;
    font-size: 14px;
  }
  .tutor-subject-top button {
    width: 30px;
    height: 30px;
  }
  .tutor-subject-title {
    font-size: 18px;
    line-height: 100%;
  }
  .tutorProfile-img-wrapper {
    width: 150px;
  }
  .tutorProfile-img {
    height: 150px;
  }
  .change-tutorProfile-img {
    padding: 10px 15px;
  }
  .change-tutorProfile-img span {
    font-size: 16px;
  }
  .tutorProfile-tablink {
    margin-right: 15px;
  }
  .add-subject-btn {
    padding: 10px 30px;
  }
  .request-number, .requestNumber {
    display: none;
  }
  .request-detail {
    display: none;
  }
  .requestDetail-text {
    display: none;
  }
  .call-requestDetail {
    display: flex;
    width: 20px;
    height: 20px;
  }
  .call-requestDetail svg {
    width: 20px;
    height: 20px;
  }
  .request-name, .requestName {
    width: 45%;
    padding-right: 10px;
  }
  .request-subject, .requestSubject {
    width: 45%;
    padding-right: 10px;
  }
  .requestDetail {
    position: absolute;
    width: fit-content;
    height: fit-content;
    right: 15px;
  }
  .request-head p {
    font-size: 10px;
  }
  .requestName-text {
    font-size: 15px;
    line-height: 120%;
  }
  .requestSubject-text {
    font-size: 15px;
    line-height: 120%;
  }
  .request-modal .close-modal {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .request-modal .requestDetail-text {
    display: block;
    margin-top: 10px;
    line-height: 120%;
    font-size: 15px;
  }
  .request-modal .requestNumber-link {
    display: block;
    position: relative;
    padding-left: 30px;
    width: fit-content;
    margin-top: 10px;
  }
  .request-modal .requestNumber-link:before {
    content: url("../img/icon/phone-full-green.svg");
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
  }
  .request-modal-contact h6 {
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #222222;
  }
  .request-modal-detail h6 {
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #222222;
  }

  .request-modal-detail {
    margin-top: 20px;
  }
  .tutorAbout-tab {
    flex-direction: column;
  }
  .tutorAbout-tab li + li {
    margin-left: 0;
    margin-top: 15px;
  }
  .tutorAbout-tablink {
    width: 100%;
    padding: 15px 20px;
    border-radius: 12px;
    font-size: 20px;
  }
  .tutorAbout-tab li {
    width: 100%;
  }
  .tutorAbout-caption {
    margin-top: 5px;
  }
  .tutorAbout-tab-content {
    margin-top: 25px;
  }
  .tutorAbout-item {
    margin-bottom: 30px;
  }
  .tutorNotice-modal {
    padding: 15px!important;
  }
  .tutorNotice-lottie {
    width: 250px;
    height: 250px;
  }
  .tutorNotice-modal-body h3 {
    margin-top: 15px;
  }
  .tutorInfo-box-head {
    display: block;
  }
  .call-review-modal {
    margin-top: 15px;
    width: 100%;
  }
  .review-modal .rating a + a {
    margin-left: 15px;
  }
  .review-modal .star-g {
    width: 30px;
    height: 30px;
  }
  .review-modal .star-y {
    width: 30px;
    height: 30px;
  }
  .parallax-box-item.bg-yellow img {
    right: 15px;
  }
  .tutorAbout-tablink {
    text-align: center;
  }
  .profile-switch-status {
    margin-left: 10px;
    margin-right: 10px;
  }
  .callHistory {
    padding: 15px;
  }
  .callHistory-head {
    display: block;
  }
  .callHistory-head h3 {
    font-size: 28px;
  }
  .callHistory-btn {
    margin-top: 10px;
    padding: 8px 12px;
  }
  .callHistory-item {
    padding: 15px 0 0 0;
  }
  .callHistory-item.callHistory-date {
    padding: 15px 0;
  }
  .callDetail-body {
    padding: 20px;
  }
  .callDetail-bottom {
    padding: 20px;
  }
  .parallax-box-content:nth-child(even) {
    margin-top: 0;
  }
  .parallax-box-content {
    width: 170px;
    height: 300px;
    margin: 0 -8px;
  }
  .parallax-box-item {
    height: 300px;
  }
  .parallax-box-item.bg-yellow img {
    width: 150px;
    right: -15px;
  }
  .zx-sm {
    z-index: 1;
  }
  .daryn-point.daryn-point-back {
    left: -25px!important;
    top: 80px!important;
  }
  .daryn-point {
    top: 50px!important;
    left: 105px!important;
  }


  .teacher-main {
    min-height: 150px;
    width: initial;
    margin-top: 15px;
  }
  .teacher-main .note-text {
    display: none;
  }
  .teacher-video-link {
    width: 60px;
    height: 60px;
    top: 43% !important;
  }
  .teacher-video-link svg {
    width: 30px;
    height: 30px;
  }
  .bg-ball {
    width: 150px;
    height: 150px;
    opacity: 0.5;
    filter: blur(40px);
  }
  .profit-box {
    flex-direction: column;
    padding: 10px 20px 15px 20px;
  }
  .profit-item {
    width: 100%;
    padding-bottom: 30px;
  }
  .profit-item:nth-child(2) {
    margin-top: 20px;
  }
  .profit-detail span {
    font-size: 30px;
  }
  .profit-detail p {
    font-size: 12px;
    line-height: 110%;
  }
  .irs-grid-text {
    font-size: 18px;
  }
  .irs--flat .irs-handle > i:first-child {
    width: 40px;
    height: 27px;
    top: -9px;
    left: -5px;
  }
  .profit-result {
    margin-top: 30px;
  }
  .profit-result p {
    font-size: 40px;
  }
  .after-ellipse {
    height: 20px;
    bottom: -19px!important;
  }
  .teacher-profit {
    padding-bottom: 30px;
  }
  .teacher-landing .tutor-review {
    margin-top: 30px!important;
  }
  .videoinstruction-link span {
    font-size: 12px;
  }
  .bg-ball.red {
    left: 20px!important;
    top: 335px!important;
  }
  .bg-ball.violet {
    top: 145px!important;
  }
  .search-teacher-head h1 {
    font-size: 25px;
  }
  .teacher-head-cover {
    padding-top: 30px;
  }
  .search-teacher-head .btn-plain {
    width: 30px;
    height: 30px;
  }
  .search-teacher-head .btn-plain svg {
    width: 100%;
    height: 100%;
  }
  .call-end {
    width: 60px;
    height: 60px;
  }
  .tutorCard-rating-notice {
    display: none;
  }
  .tutorCard-review-dupl {
    display: flex!important;
    margin-top: 10px;
  }
  .tutorCard-review {
    display: none;
  }
  .top-notice {
    width: 260px;
  }
  .videohelp {
    left: 0;
    border-radius: 0 10px 10px 0;
    padding: 10px;
    width: fit-content;
  }
  .call-videohelp {
    display: none;
  }
  .videohelp-text {
    margin-left: 0;
    font-size: 14px;
    line-height: 120%;
    max-width: 200px;
  }
  .close-videohelp {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 25px;
    height: 25px;
    background: #EB001B;
  }
  .close-videohelp svg {
    width: 13px;
    height: 13px;
  }
  .close-videohelp svg path {
    stroke: #fff;
  }
  .jqs-grid-hour {
    font-size: 10px;
    width: fit-content;
    height: fit-content;
    background: transparent;
    color: #000;
    left: -35px;
  }
  .jqs-grid-day {
    font-size: 12px;
    padding: 0;
    background: transparent;
  }
  .jqs-day-remove {
    display: none!important;
  }
  .jqs-period-time, .jqs-period-title {
    font-size: 10px;
  }
  .jqs-options {
    padding: 10px;
    position: fixed;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    width: 90%;
    border-radius: 6px;
  }
  .jqs {
    padding: 30px 10px 20px 40px;
    margin: 0 -15px;
  }
  .jqs-grid {
    top: 30px;
    right: 10px;
    left: 40px;
  }
  .jqs-grid-head {
    top: -20px;
  }
  .same-tutors {
    padding-bottom: 50px;
  }
  .tutor-page .same-tutors-slider {
    margin: 15px 0 0 0!important;
    .teacherCard {
      margin: 0;
      width: 100%;
      .teacherCard-img {
        width: 40px;
        height: 40px;
        min-width: 40px;
      }
      .teacherCard-caption {
        margin-left: 10px;
      }
    }
    .slick-dots {
      bottom: -30px;
    }
  }
  .teacher-operation-right {
    display: none;
  }
  .teacher-rate-content {
    margin-top: 15px;
  }
  .teacher-rate-item {
    margin-top: 20px;
  }
  .teacher-rate-caption {
    margin-top: 10px;
  }
  .teacher-rate-caption h6 {
    font-size: 25px;
  }
  .teacher-rate-caption p {
    font-size: 18px;
    padding-left: 25px;
  }
  .teacher-rate-caption p:before {
    width: 20px;
    height: 19px;
  }
  .teacher-rate-info {
    margin-top: 30px;
  }
  .teacher-rate {
    padding-bottom: 30px;
  }
  .answers_collapse {
    margin-top: 20px;
  }
  .answers_collapse .card {
    padding: 10px 0;
  }
  .answers_collapse .card-header a p {
    font-size: 18px;
  }
  .answers_collapse .card-body {
    padding-top: 5px;
  }
  .answers_collapse .card-body p {
    font-size: 15px;
  }
  .answers_collapse .card-header a svg {
    width: 18px;
    height: 18px;
  }
  .operation-collapse .card {
    padding: 10px;
    margin-bottom: 10px;
  }
  .operation-collapse .card-header a span {
    font-size: 20px;
  }
  .operation-collapse .card-header a svg {
    width: 18px;
    height: 10px;
  }
  .operation-collapse .card-body p {
    font-size: 16px;
  }
  .operation-collapse .card-body {
    padding-top: 5px;
  }
  .teacher-rate-info p {
    font-size: 16px;
  }
  .teacher-rate-img {
    width: 150px;
    height: 150px;
  }
  .teacher-operation-content {
    margin-top: 20px;
  }
  .eco-link-box {
    margin: 30px 0 0 0;
    display: block;
  }
  .eco-link {
    margin: 0;
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
  }
  .eco-link-text {
    margin-top: 10px;
  }
  .teacher-landing {
    padding-bottom: 30px;
  }
  .schedule-range-row {
    width: 90px;
  }
  .schedule-range-row.schedule-title-row .day-cell {
    width: 90px;
    height: 30px;
  }
  .schedule-range-cell.time-cell {
    width: 90px;
    height: 40px;
  }
  .schedule-range-cell.day-cell {
    width: 90px;
    height: 30px;
  }
  .schedule-range-wrapper .schedule-cell {
    width: 90px;
    height: 40px;
  }
  .schedule-range-cell.time-cell .range-text {
    font-size: 12px;
  }
  .schedule-range-cell.time-cell .range-number {
    font-size: 12px;
  }
  .desktop {
    font-size: 12px;
  }
  .schedule-cell p {
    font-size: 14px!important;
  }
  .top-modal {
    width: 90% !important;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: calc(100vh - 150px);
    left: 0;
    top: 70px;
    margin: 0 5%;
    padding: 20px!important;
    transform: none;
  }
  .top-modal-head h3 {
    font-size: 20px;
  }
  .top-modal-pay {
    display: block;
  }
  .top-modal-pay .pay-item + .pay-item {
    margin-top: 15px;
  }
  .pay-item {
    width: 100%;
  }
  #teacherHelpModal {
    .modal-content {
      width: calc(100% - 30px);
      padding: 15px;
      max-height: calc(100vh - 100px);
    }
    .modal-header h6 {
      font-size: 20px;
      line-height: 120%;
    }
    .close-modal {
      width: 25px;
      height: 25px;
    }
    .close-modal svg {
      width: 25px;
      height: 25px;
    }
    .modal-body {
      margin-top: 10px;
    }
    .teacher-help-title {
      font-size: 14px;
    }
    .teacher-tariff-name {
      padding: 7px;
    }
    .teacher-tariff-img {
      display: none;
    }
    .teacher-tariff-name p {
      font-size: 15px;
    }
    .teacher-tariff-name span {
      font-size: 12px;
    }
    .teacher-tariff-content li svg {
      width: 15px;
      height: 15px;
      flex-shrink: 0;
    }
    .teacher-tariff-content li p {
      margin-left: 5px;
      font-size: 12px;
      line-height: 120%;
    }
    .select-teacher-tariff {
      padding-bottom: 10px;
    }
    .select-teacher-pay {
      padding-top: 10px;
    }
    .teacher-pay-box {
      display: block;
      margin-top: 15px;
    }
    .teacher-pay-box .select-box {
      width: 140px;
      padding: 7px 30px 7px 7px;
      margin: 10px 5px;
    }
    .teacher-pay-box .select-box p {
      font-size: 14px;
      line-height: 120%;
    }
    .teacher-pay-box .select-box span {
      font-size: 12px;
    }
    .select-box .checkmark {
      width: 25px;
      height: 25px;
      top: 10px;

    }
    .select-box .checkmark:before {
      width: 15px;
      height: 15px;
    }
    .select-box .alert-text {
      font-size: 10px!important;
      bottom: -15px;
    }
    .select-box.alert {
      margin-bottom: 20px;
    }
  }
  #teacherСall .teacher-call-box {
    width: 100%;
  }
  .teacher-call-control {
    margin-top: 50px!important;
  }
  .teacher-call-control .drop-call {
    padding: 15px 50px;
    min-width: 240px;
  }
  .teacher-call-control .drop-call svg {
    left: 10px;
  }
  .teacher-call-control .change-tone {
    margin-top: 30px;
    font-size: 16px;
  }
  .teacher-call-control .drop-call span {
    font-size: 16px;
  }
  .help-teacher-link a {
    padding: 7px 15px 7px 7px;
  }
  .help-teacher-link a svg {
    width: 20px;
    height: 20px;
  }
  .help-teacher-link a span {
    font-size: 14px;
    margin-left: 5px;
  }
  .help-teacher-img {
    width: 80px;
    height: 80px;
  }
  .help-teacher-link {
    padding-top: 80px;
  }
  .help-teacher-link p {
    font-size: 12px;
    margin-top: 2px;
  }
  .calling-control {
    display: none;
  }
  .calling-control-author.xs {
    display: flex;
    align-items: center;
    padding: 15px;
    background: #FFFFFF;
  }
  .calling-window-wrapper {
    margin: 0 -15px;
  }
  .calling-control-author.xs img {
    width: 50px;
    height: 50px;
  }
  .calling-author-caption {
    margin-left: 15px;
  }
  .calling-author-caption p {
    margin-top: 0;
  }
  .calling-time-xs {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
  .calling-time-xs span {
    font-size: 17px;
    line-height: 120%;
    color: #1C9453;
    display: block;
    margin-left: 5px;
  }
  .calling-window {
    min-height: 460px;
    height: initial;
    border-radius: 0;
  }
  .calling-control-xs {
    display: block;
    padding: 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 15px 30px rgba(0, 0, 0, 0.03), 0 30px 60px rgba(0, 0, 0, 0.05);
    border-radius: 0 0 12px 12px;
    background: #fff;
  }
  .calling-control-btn {
    margin-top: 0;
  }
  .calling-wrapper .calling-time {
    display: none;
  }
  .calling-header .header-right li + li {
    margin-left: 15px!important;
  }
  .tariff-faq {
    padding: 15px;
    margin-top: 15px;
  }
  .tariff-faq h1 {
    font-size: 30px;
    line-height: 120%;
  }
  .tariff-wrapper h1 {
    font-size: 24px;
  }
  .select-tariff {
    margin-top: 20px;
    overflow-x: auto;
  }
  .tariff-box {
    padding: 10px;
    width: calc(80% - 20px);
    margin-bottom: 15px;
    flex-shrink: 0;
  }
  .select-tariff-period {
    margin-top: 10px;
  }
  .tariff-box-img {
    margin-top: 10px;
    height: 120px;
  }
  .tariff-box-conditions {
    margin-top: 10px;
  }
  .tariff-box-conditions li {
    font-size: 14px;
    padding-left: 22px;
  }
  .tariff-box-conditions li + li {
    margin-top: 5px;
  }
  .tariff-box-title {
    font-size: 20px;
  }
  .tariff-box-conditions li:before {
    width: 16px;
    height: 16px;
  }
  .tariff-box .select-lesson-time {
    padding: 10px 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .select-lesson-time .radio-form .checkmark {
    width: 24px;
    height: 24px;
  }
  .select-lesson-time .radio-form {
    font-size: 15px;
    min-height: 24px;
    padding-left: 30px;
  }
  .radio-form .checkmark:after {
    width: 12px;
    height: 12px;
    top: 6px;
    left: 6px;
  }
  .tariff-box-btn {
    margin-top: 10px;
    padding: 10px 20px;
  }
  .tariff-box:hover {
    border: 2px solid #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

@media (max-width: 320px) {
  .jqs-period-time, .jqs-period-title {
    font-size: 9px!important;
  }
}







