.analysis-aside-checkbox {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  font-family: "SF Pro Text";
  font-size: 17px;
  line-height: 130%;
  color: #000000;
  min-height: 30px;
  margin-top: 15px;
  width: fit-content;
}

.analysis-aside-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.analysis-aside-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: #F5F5F5;
  border-radius: 6px;
  pointer-events: none;
  user-select: none;
}

.analysis-aside-checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

.analysis-aside-checkbox .checkmark:before {
  content: '';
  background: url("../img/icon/check-20.svg") no-repeat center/contain;
  background-size: 20px 20px;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.analysis-aside-checkbox input:checked ~ .checkmark:before {
  display: block;
}

.analysis-aside-box {
  background: #FFFFFF;
  border-radius: 6px;
  padding: 20px 20px 24px 20px;
}

.analysis-aside-box h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #162F71;
}

.analysis-aside-box .new-form-label {
  margin-top: 10px;
}

.analysis-aside-btn {
  margin-top: 15px;
  background: #4090FF;
  opacity: 0.5;
  border-radius: 12px;
  padding: 13px 30px;
  min-height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.3px;
  color: #FFFFFF;
}

.analysis-aside-btn:hover, .analysis-aside-btn:focus {
  color: #FFFFFF;
}

.analysis-aside-btn.active {
  opacity: 1;
}

.analysis-aside .analysis-aside-box + .analysis-aside-box {
  margin-top: 20px;
}

.analysis-header {
  background: #FFFFFF;
  border-radius: 6px;
  min-height: 60px;
  padding: 20px;
}

.analysis-header .breadcrumb {
  padding: 0;
  background: transparent;
}

.analysis-header .breadcrumb li + li {
  margin-left: 26px;
}

.analysis-header .breadcrumb li + li:before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: url("../img/icon/slash.svg") no-repeat center/contain;
  background-size: 6px 20px;
  width: 6px;
  height: 20px;
  left: -16px;
}

.analysis-header .breadcrumb li {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #162F71;
  position: relative;
}

.analysis-header .breadcrumb li a {
  color: #4090FF;
}

.analysis-specialty-wrapper {
  margin-top: 10px;
}

.analysis-specialty {
  background: #FFFFFF;
  border-radius: 6px;
  padding: 20px 20px 24px 20px;
  position: relative;
  transition: 0.2s ease;
}

.analysis-specialty-wrapper .analysis-specialty + .analysis-specialty {
  margin-top: 10px;
}

.analysis-specialty-header {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid #F5F5F5;
}

.analysis-specialty-header h6 {
  font-family: "SF Pro Text";
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.3px;
  color: #162F71;
  transition: 0.2s ease;
}

.specialty-code {
  background: #F5F5F5;
  border-radius: 30px;
  margin-left: 10px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
}

.specialty-code p {
  font-size: 14px;
  line-height: 130%;
  color: #819299;
}

.specialty-code span {
  font-size: 14px;
  line-height: 130%;
  color: #000000;
  margin-left: 5px;
  display: block;
  width: fit-content;
}

.analysis-specialty-body {
  display: flex;
  padding-top: 16px;
}

.analysis-specialty-detail p {
  font-size: 17px;
  line-height: 120%;
  color: #000000;
}

.analysis-specialty-detail span {
  font-size: 14px;
  line-height: 130%;
  color: #819299;
}

.analysis-specialty-detail:nth-child(1) {
  width: 16.9%;
}

.analysis-specialty-detail:nth-child(2) {
  width: 21.5%;
}

.analysis-specialty-detail:nth-child(3) {
  width: 15.4%;
}

.analysis-specialty-detail:nth-child(4) {
  width: 15.4%;
}

.analysis-specialty-detail:nth-child(5) {
  width: 30.8%;
}

.analysis-specialty-body .analysis-specialty-detail + .analysis-specialty-detail {
  margin-left: 20px;
}

.analysis-specialty-detail p.warning {
  color: #FF9C7B;
}

.analysis-specialty-detail p.success {
  color: #2DD179;
}

.analysis-specialty-detail p.danger {
  color: #FE5244;
}

.analysis-specialty:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.04), 0 4px 32px rgba(0, 0, 0, 0.16);
  .analysis-specialty-header h6 {
    color: #4090FF;
  }

}

.analysis {
  padding-bottom: 30px;
}

.analysis-aside .dropdown.bootstrap-select {
  width: 100%!important;
}

.aside-box-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aside-box-header svg {
  display: none;
}

.analysis-selection {
  background: #FFFFFF;
  border-radius: 6px;
  padding: 20px 20px 24px 20px;
  margin-top: 10px;
}

.selection-tabs {
  border-bottom: none;
}

.selection-tabs li + li {
  margin-left: 10px;
}

.selection-tabs li a {
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #819299;
  position: relative;
}

.selection-tabs li a:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: #4090FF;
  opacity: 0;
}

.selection-tabs li a.active {
  color: #4090FF;
}

.selection-tabs li a.active:after {
  opacity: 1;
}

.selection-tab-content .form-label {
  margin-top: 10px;
}

.specialty-selection-btn {
  background: #4090FF;
  border-radius: 12px;
  padding: 13px 30px;
  min-height: 46px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.3px;
  color: #FFFFFF;
  margin-top: 20px;
}

.specialty-selection-btn:hover, .specialty-selection-btn:focus {
  color: #FFFFFF;
}

.selection-tab-content .bootstrap-select {
  width: 100%!important;
}

.analysis-result-head {
  background: #FFFFFF;
  border-radius: 6px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.analysis-result-head h4 {
  font-weight: 600;
  font-size: 60px;
  line-height: 100%;
  color: #162F71;
  border-right: 1px solid #F5F5F5;
  padding-right: 30px;
}

.analysis-result-head h4 span {
  font-size: 30px;
}

.analysis-result-head p {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 24px;
  line-height: 110%;
  color: #162F71;
}

.analysis-result-box {
  background: #FFFFFF;
  border-radius: 6px;
  margin-top: 10px;
  padding: 10px 0 5px 0;
}

.analysis-result-item {
  padding: 12px 20px;
}

.analysis-result-box .analysis-result-item + .analysis-result-item {
  border-top: 1px solid #F5F5F5;
  padding-top: 20px;
}

.analysis-result-category {
  display: flex;
}

.result-item-number {
  border: 1px solid #000000;
  border-radius: 20px;
  width: 30px;
  min-width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 130%;
  color: #000000;
  margin-right: 20px;
}

.result-category-title h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #000000;
}

.result-item-code {
  font-size: 14px;
  line-height: 130%;
  color: #819299;
  margin-top: 4px;
  display: block;
  width: fit-content;
}

.result-category-right {
  display: flex;
  margin-left: auto;
}

.show-analysis-university {
  width: 42px;
  height: 42px;
  background: #F5F5F5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-analysis-university i {
  background: url("../img/icon/down-16.svg") no-repeat center/contain;
  background-size: 16px 9px;
  width: 16px;
  height: 9px;
}

.show-analysis-university.show {
  background: #819299;
}

.show-analysis-university.show i {
  background: url("../img/icon/x-white.svg") no-repeat center/contain;
  width: 20px;
  height: 20px;
}

.analysis-result-content {
  margin-top: 5px;
  display: none;
}

.analysis-result-content .analysis-result-university + .analysis-result-university {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.analysis-result-university {
  display: flex;
  padding: 15px 0;
}

.result-university-img {
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
  padding: 5px;
  position: relative;
}

.result-university-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.result-university-caption {
  margin-left: 15px;
}

.result-university-caption h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #162F71;
}

.result-university-location {
  margin-top: 5px;
  display: block;
  width: fit-content;
  position: relative;
  padding-left: 25px;
  font-size: 17px;
  line-height: 120%;
  color: #819299;
}

.result-university-location:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/icon/location-20.svg") no-repeat center/contain;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
}

.result-university-img.popular {
  border: 1px solid #FB8900;
}

.popular-icon {
  width: 22px;
  height: 22px;
  background: #FB8900;
  border-radius: 0 12px 0 6px;
  position: absolute;
  top: -1px;
  right: -1px;
  align-items: center;
  justify-content: center;
  display: none;
}

.result-university-img.popular .popular-icon {
  display: flex;
}

.clear-analysis-filter {
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  display: none;
}

.clear-analysis-filter svg {
  display: block!important;
}

.analysis-aside-box.filled .clear-analysis-filter {
  display: flex;
}

.clear-analysis-filter.xs {
  display: none!important;
}

.analysis-selection-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.analysis-selection.filled .clear-analysis-filter {
  display: flex;
}

.chart {
  position: relative;
  width: 42px;
  height: 42px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
  background: #F5F5F5;
}

.chart .percent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
}

.chart canvas {
  width: 42px!important;
  height: 42px!important;
}

.chart .percent:after {
  content: '%';
  margin-left: 0.1em;
}

.chart .percent.done {
  background: #2DD179;
  background-size: 14px 10px;
}

.analysis-backlink {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.analysis-backlink span {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #162F71;
  display: block;
  width: fit-content;
  margin-left: 15px;
}

.analysis-filter {
  background: #FFFFFF;
  border-radius: 6px;
}

.analysis-filter-top {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
}

.analysis-filter.show {
  .analysis-filter-top {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 6px 6px 0 0;
  }
}

.analysis-filter-title h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #162F71;
}

.analysis-filter-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.analysis-filter-btn span {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #000000;
  margin-left: 10px;
}

.analysis-filter-btn .icon {
  background: url("../img/icon/filter-black.svg") no-repeat center/contain;
  width: 22px;
  height: 22px;
}

.analysis-filter-content {
  padding: 10px 20px 24px 20px;
  display: none;
}

.specialty-selection-btn.disabled {
  background: #4090FF;
  color: #FFFFFF;
  opacity: 0.5;
}

.analysis-filter-content .form-half .analysis-filter-input {
  width: calc(50% - 5px) !important;
  outline: none!important;
}

.analysis-filter-content .form-half .analysis-filter-input + .analysis-filter-input {
  margin-left: 10px;
}

.select-spec-name  {
  select {
    left: 0;
  }
  .dropdown-menu.inner {
    max-height: 400px;
    overflow-y: auto;
  }
  .dropdown-menu.inner::-webkit-scrollbar {
    width: 4px;
  }
  .dropdown-menu.inner::-webkit-scrollbar-thumb {
    background: #4090FF;
    border-radius: 12px;
  }
  .dropdown-toggle {
    background: #fff;
    border: none;
    outline: none;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.05);
    border-radius: 0;
    padding: 15px 0;
    font-size: 17px;
    line-height: 120%;
    color: #000000;
  }
  .dropdown-toggle:after {
    content: '';
    border: none;
    background: url("../img/icon/down-16.svg") no-repeat center/contain;
    width: 16px;
    height: 9px;
  }
  .filter-option-inner-inner {
    font-size: 17px;
    line-height: 120%;
    color: #000000;
  }
  .dropdown-toggle, .dropdown-toggle:active, .dropdown-toggle:focus, .dropdown-toggle:hover {
    background: #fff;
    outline: none!important;
    border: none;
  }
  &.show .dropdown-toggle {
    background: #fff;
  }
  .btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
    background: #fff;
  }
}

.select-spec-code {
  margin-bottom: 0;
  padding: 15px 0;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.05);
}

.select-spec-code input {
  padding: 0;
  margin: 0;
  font-size: 17px;
  line-height: 120%;
  color: #000000;
}

.select-spec-code input::placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #819299;
}


.analysis-filter.show {
  .analysis-filter-btn .icon {
    background: url("../img/icon/close-modal.svg") no-repeat center/contain;
    width: 18px;
    height: 18px;
  }
  .analysis-filter-btn span {
    color: #848E9F;
  }
}




@import "analysis-media";



