@import "reset";
@import "vars";
@import "fonts";

.bot-body{
  background: #EBF0F4;
  font-family: 'SF Pro Display';
  font-size: 14px;
  overflow-x: hidden;
}
.bot-header{
  background: #FFFFFF;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  .header{
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.back-link{
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  line-height: 100%;
  color: #848E9F;
  font-family: "SF Pro Display Medium";
  svg{
    margin-right: 10px;
  }
  &:hover,&:focus{
    color: #848E9F;
  }
}
.bot-profile{
  flex: 1;
  margin-left: 110px;
  display: flex;
  align-items: center;
  &-img{
    background: #8AD3FE;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-caption{
    padding-left: 15px;
    h1{
      font-size: 22px;
      line-height: 100%;
      font-family: "SF Pro Display Medium";
      color: #000000;
    }
  }
}
.call-link{
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  line-height: 100%;
  color: #026FFF;
  font-family: "SF Pro Display Medium";
  svg{
    margin-right: 10px;
  }
  &:hover,&:focus{
    color: #026FFF;
  }
}
.progress{
  height: 2px;
  border-radius: 0;
  background: rgba(22, 47, 113,.05);
  &-bar{
    background: #54A5FF;
  }
}
.bot-content{
  padding-top: 90px;
  padding-bottom: 60px;
}
.bot-item{
  display: inline-block;
  margin-bottom: 15px;
  padding: 20px 30px;
  background: #FFFFFF;
  border-radius: 6px;
  overflow: hidden;
  p{
    font-size: 23px;
    line-height: 130%;
    color: #222222;
  }
}
.user-answer{
  display: inline-block;
  margin-bottom: 15px;
  padding: 20px 30px;
  background: #162F71;
  border-radius: 6px;
  overflow: hidden;
  p{
    font-size: 23px;
    line-height: 130%;
    color: #fff;
  }
}
.class-list{
  display: flex;
  align-items: center;
  margin-right: -15px;
  justify-content: flex-end;
  flex-wrap: wrap;
  li{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    background: #026FFF;
    border-radius: 6px;
    margin-bottom: 15px;
    overflow: hidden;
    font-size: 23px;
    line-height: 130%;
    color: #FFFFFF;
    a{
      color: #FFFFFF;
    }
    +li{
      margin-left: 15px;
    }
  }
}



#bubble {
  position: relative;
  margin-bottom: 15px;
  padding: 20px 30px;
  background: #FFFFFF;
  border-radius: 6px;
  overflow: hidden;
  display: inline-block;
}

#circleWrapper {
  position: relative;
  top: -12px;
}

.circle {
  position: relative;
  height: 10px;
  width: 10px;
  margin-left: 2px;
  margin-right: 2px;
  top: 15px;
  background: #848E9F;
  display: inline-block;
  border-radius: 50%;
}

.circle {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#circle1 {
  animation-name: circle1;
}

#circle2 {
   animation-name: circle2;
 }

#circle3 {
  animation-name: circle3;
}
#circle4 {
  animation-name: circle4;
}

#circle5 {
  animation-name: circle5;
}

@-webkit-keyframes circle1 {
  0% {
    top: 15px;
  }
  15% {
    top: 5px;
  }
  25% {
    top: 15px;
  }
}

@-webkit-keyframes circle2 {
  10% {
    top: 15px;
  }
  25% {
    top: 5px;
  }
  35% {
    top: 15px;
  }
}

@-webkit-keyframes circle3 {
  15% {
    top: 15px;
  }
  30% {
    top: 5px;
  }
  40% {
    top: 15px;
  }
}

@-webkit-keyframes circle4 {
  25% {
    top: 15px;
  }
  40% {
    top: 5px;
  }
  50% {
    top: 15px;
  }
}

@-webkit-keyframes circle5 {
  35% {
    top: 15px;
  }
  50% {
    top: 5px;
  }
  60% {
    top: 15px;
  }
}
.registr-type{
  display: flex;
  align-items: center;
  justify-content: space-between;
  .btn-plain{
    width: 49%;
  }
}
.btnBlue{
  background: #026FFF;
  border-radius: 6px;
  padding: 20px 30px;
  font-size: 23px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
}
.btn-bordered{
  display: inline-flex;
  align-items: center;
  height: 70px;
  padding: 0 20px;
  border-radius: 6px;
  border: 1px solid rgba(2, 111, 255, 0.3);
  font-size: 23px;
  line-height: 130%;
  color: $blue;
  transition: all 0.4s ease;
  svg{
    margin-right: 20px;
  }
  &:hover,&:focus{
    border: 1px solid $blue;
  }
}
.btn-blue-gradient{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  padding: 0 30px;
  background: linear-gradient(180deg, #5986FB 0%, #2D4EF5 100%);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.03), 0px 10px 20px rgba(0, 0, 0, 0.03);
  border-radius: 6px;
  font-size: 23px;
  line-height: 130%;
  color: $blue;
}
.registr-enter{
  display: none;
  align-items: center;
  justify-content: space-between;
  input{
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.03), 0px 10px 20px rgba(0, 0, 0, 0.03);
    border-radius: 6px;
    font-size: 23px;
    line-height: 130%;
    padding: 15px 30px;
    border: none;
    outline: none;
    margin: 0 15px;
    flex: 1;
    color: #222222;
    &::placeholder{
      color: #848E9F;
    }
  }
}
.hidden{
  display: none;
}
.showed-flex{
  display: flex;
}

@import 'bot_media';