.rate-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: #162F71;
  z-index: 1001;
}

.rate-fixed.show {
  display: block;
}

.rate-fixed-top {
  padding: 30px 0;
  display: flex;
  align-items: center;
  position: relative;
}

.rate-fixed-logo {
  display: flex;
  align-items: center;
}

.rate-fixed-logo svg {
  min-width: 40px;
}

.rate-fixed-logo span {
  font-size: 24px;
  line-height: 100%;
  color: #FFFFFF;
  font-weight: 300;
  display: block;
  width: fit-content;
  margin-left: 10px;
}

.review-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rate-fixed-body {
  margin-top: 60px;
}

.review-prof {
  display: flex;
}

.review-prof-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  flex-shrink: 0;
  overflow: hidden;
}

.review-prof-caption {
  margin-left: 30px;
}

.review-prof-caption p {
  font-weight: 900;
  font-size: 26px;
  line-height: 100%;
  color: #FFFFFF;
  margin-bottom: 8px;
}

.review-prof-rate {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.review-prof-rate span {
  display: block;
  width: fit-content;
  font-size: 16px;
  line-height: 100%;
  color: #FFC850;
  margin-left: 5px;
}

.review-caption {
  margin-top: 20px;
}

.review-caption h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 8px;
}

.review-caption p {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.review-caption-pay {
  display: flex;
  align-items: center;
  position: relative;
}

.review-caption-pay span {
  color: #87FFA3;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  display: block;
  width: fit-content;
  margin-right: 4px;
}

.review-caption-pay:after {
  content: url(../img/icon/p-arrow-teacher.svg);
  position: absolute;
  z-index: 3;
  top: 10px;
  left: 25px;
}

.review-form {
  padding: 50px 25px 20px 25px;
  background: #FFFFFF;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.review-form h2 {
  font-weight: 900;
  font-size: 30px;
  line-height: 120%;
  color: #162F71;
  text-align: center;
  max-width: 490px;
}

.review-form-stars {
  padding-top: 40px;
  text-align: center;
  margin-bottom: 42px;
}

.serv-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.serv-type-item {
  width: 31%;
  padding: 12px 8px;
  background: #F5F5F5;
  border: 1px solid #F5F5F5;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-align: center;
  position: relative;
  height: 90px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.serv-active {
  border-color: #FFC850;
  background-color: white;
}

.serv-type-item:hover, .serv-type-item:focus {
  border-color: #FFC850;
  background-color: white;
}

.serv-type-item img {
  margin-bottom: 4px;
}

.serv-type-item p {
  font-size: 14px;
  line-height: 100%;
  color: #000000;
}

.serv-type-item input[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.serv-comment {
  margin-top: 40px;
}

.serv-comment h4 {
  font-size: 14px;
  line-height: 100%;
  color: #848E9F;
}

.serv-comment textarea {
  margin-top: 10px;
  border: none;
  border-bottom: 1px solid #E5E5E5;
  width: 100%;
  resize: none;
  font-size: 16px;
  line-height: 100%;
  color: #000000;
  min-height: 32px!important;
}

.serv-comment textarea::placeholder {
  font-size: 16px;
  line-height: 100%;
  color: #000000;
  opacity: 0.6;
}

.serv-comment textarea:focus {
  outline: none;
}

.review-form-btn {
  width: 100%;
  padding: 18px 45px 18px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #5986FB 0%, #2D4EF5 100%);
  margin-top: 20px;
  border-radius: 6px;
  position: relative;
}

.review-form-btn span {
  font-size: 20px;
  line-height: 121%;
  color: white;
  display: block;
  width: fit-content;
}

.review-form-btn svg {
  position: absolute;
  right: 30px;
}

.review-form .star-y {
  display: inline-block;
  background: url(../img/icon/star-g.svg) no-repeat center/contain;
  width: 40px;
  height: 40px;
  margin: 0 8px;
}

.review-form .star-g {
  background: url(../img/icon/star-y.svg) no-repeat center/contain;
  width: 40px;
  height: 40px;
  margin: 0 8px;
  display: inline-block;
}

.close-fixed-rate {
  position: absolute;
  top: 30px;
  right: 30px;
}



//media-queries
@media (max-width: 767px) and (min-height: 320px) {
  .review-element {
    display: none;
  }
  .rate-fixed-top {
    padding: 15px 0;
  }
  .close-fixed-rate {
    top: 20px;
    right: 20px;
    z-index: 99;
  }
  .rate-fixed-body {
    margin-top: 20px;
    padding-bottom: 40px;
  }
  .review-prof-img {
    width: 50px;
    height: 50px;
  }
  .review-prof-caption {
    margin-left: 15px;
  }
  .review-prof-caption p {
    font-size: 22px;
  }
  .review-caption-pay:after {
    content: '';
  }
  .review-form {
    margin-top: 30px;
    padding: 20px 15px 30px 15px ;
  }
  .review-form h2 {
    font-size: 24px;
  }
  .review-form-stars {
    padding-top: 20px;
    margin-bottom: 25px;
  }
  .review-form .star-g, .review-form .star-y {
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
  }


}