.lesson-navigation {
  border-radius: 6px;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.05)) drop-shadow(0px 15px 30px rgba(0, 0, 0, 0.03)) drop-shadow(0px 30px 60px rgba(0, 0, 0, 0.05));
  overflow: hidden;
}

.lesson-navigation-link {
  display: flex;
  align-items: center;
  min-height: 50px;
  position: relative;
  cursor: pointer;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
}

.lesson-navigation-link h6 {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #162F71;
  flex: 1;
  margin-left: 15px;
  padding-right: 15px;
}

.lesson-navigation-link p {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #819299;
  margin-right: 20px;
}

.lesson-navigation-link:hover h6 {
  color: #4090FF;
}

.second-level-link:hover .lesson-navigation-icon {
  background: url("../img/icon/check-circle-blue.svg") no-repeat center/contain ;
}

.second-level-link.active .lesson-navigation-icon {
  background: url("../img/icon/check-circle-green.svg") no-repeat center/contain ;
}

.lesson-navigation-link .access-status {
  background: url("../img/icon/lock.svg") no-repeat center/contain;
  width: 20px;
  height: 20px;
}

.lesson-navigation-link.access-open {
  .access-status {
    background: url("../img/icon/unlocked.svg") no-repeat center/contain;
    width: 20px;
    height: 20px;
  }
  p span {
    color: #2DD179;
  }
}

.lesson-navigation-link.passed-lesson {
  p {
    color: #2DD179;
  }
}

.lesson-navigation-link .toggle-icon {
  background: url("../img/icon/arrow-down-20.svg") no-repeat center/contain;
  width: 20px;
  height: 20px;
}

.lesson-navigation-link.active .toggle-icon {
  background: url("../img/icon/x-burger-20.svg") no-repeat center/contain;
  width: 20px;
  height: 20px;
}

.first-level-link {
  background: #FFFFFF;
  padding: 10px 20px;
}

.first-level-link .lesson-navigation-icon {
  background: url("../img/icon/burger-group.svg") no-repeat center/contain;
  width: 30px;
  height: 30px;
}

.second-level-nav {
  display: none;
}

.second-level-link {
  background: #FFFFFF;
  padding: 10px 20px 10px 40px;
}

.second-level-link .lesson-navigation-icon {
  background: url("../img/icon/check-circle-gray.svg") no-repeat center/contain;
  width: 30px;
  height: 30px;
}

.third-level-nav {
  display: none;
}

.second-level-nav .second-level:first-of-type .second-level-link {
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.02), inset 0 -1px 0px rgba(0, 0, 0, 0.05);
}

.second-level-nav .finish-lesson h6 {
  color: #000000;
}

.second-level-nav .finish-lesson .lesson-navigation-icon {
  background: url("../img/icon/check-green-30.svg") no-repeat center/contain;
  width: 30px;
  height: 30px;
}

.third-level-link {
  background: #FBFBFB;
  padding: 10px 20px 10px 60px;
}

.third-level-link .lesson-navigation-icon {
  background: url("../img/icon/play-circle-gray.svg") no-repeat center/contain;
  width: 30px;
  height: 30px;
}

.third-level-nav .third-level:first-of-type .third-level-link {
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.02), inset 0 -1px 0px rgba(0, 0, 0, 0.05);
}

.third-level-nav .finish-lesson h6 {
  color: #8368CF;
}

.third-level-nav .finish-lesson .lesson-navigation-icon {
  background: url("../img/icon/set-purple.svg") no-repeat center/contain;
  width: 30px;
  height: 30px;
}

.backlink-white {
  background: #FFFFFF;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 40px;
  max-width: 300px;
}

.backlink-white span {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #819299;
  display: block;
  margin-left: 10px;
}

.timer {
  margin-top: 10px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 15px 30px rgba(0, 0, 0, 0.03), 0 30px 60px rgba(0, 0, 0, 0.05);
  max-width: 300px;
}

.timer-number {
  display: flex;
  padding: 15px 30px;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
}

.timer-number span {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #1C9453;
  margin-left: 7px;
  display: block;
}

.timer .progress {
  height: 3px;
  background: #C0C0C0;
}

.timer .progress .progress-bar {
  background: #1C9453;
}

.ubt-box {
  background: #FFFFFF;
  border-radius: 6px;
  margin-top: 15px;
}

.ubt-box-header {
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.ubt-box-header span {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #848E9F;
  display: block;
}

.ubt-box-header h6 {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: -0.3px;
  color: #222222;
  margin-top: 5px;
}

.ubt-box-body {
  padding: 20px 25px 32px 25px;
}

.ubt-test-number {
  font-family: "SF Pro Text";
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 1.7px;
  color: #819299;
}

.ubt-test-number span {
  color: #162F71;
}

.ubt-test-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #162F71;
  margin-top: 4px;
}

.ubt-box-test .radio-form-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 20px -10px 0 -10px;
}

.ubt-box-test .radio-form-wrapper .radio-form {
  width: calc(50% - 20px);
  margin: 5px 10px;
}

.radio-form {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  user-select: none;
  font-family: "SF Pro Text";
  font-size: 17px;
  line-height: 100%;
  color: #000000;
  min-height: 30px;
}

.radio-form input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radio-form .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background: #F5F5F5;
  border-radius: 50%;
}

.radio-form input:checked ~ .checkmark {
  background: #4090FF;
}

.radio-form .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  top: 8px;
  left: 8px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #fff;
}

.radio-form input:checked ~ .checkmark:after {
  display: block;
}

.ubt-box-test .checkbox-form-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 20px -10px 0 -10px;
}

.ubt-box-test .checkbox-form-wrapper .checkbox-form {
  width: calc(50% - 20px);
  margin: 5px 10px;
}

.checkbox-form {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 40px;
  margin-bottom: 0;
  cursor: pointer;
  user-select: none;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  color: #000000;
  min-height: 30px;
}

.checkbox-form input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-form .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: #F5F5F5;
  border-radius: 6px;
}

.checkbox-form input:checked ~ .checkmark {
  background: #4090FF;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-form .checkmark:after {
  content: "";
  background: url("../img/icon/check-20.svg") no-repeat center/contain;
  position: absolute;
  display: none;
  width: 20px;
  height: 20px;
  left: 5px;
  top: 5px;
  border: none;
}

.checkbox-form input:checked ~ .checkmark:after {
  display: block;
}









.ubt-test-tools {
  display: flex;
  margin-top: 30px;
}

.ubt-test-tools .check-task {
  display: block;
  border: 1px solid #4090FF;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 12px 30px;
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.3px;
  color: #4090FF;
  margin-right: 10px;
  min-height: 46px;
  min-width: 170px;
  text-align: center;
}

.ubt-test-tools .next-task {
  display: block;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 13px 30px;
  background: #4090FF;
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.3px;
  color: #fff;
  margin-right: 10px;
  min-height: 46px;
  min-width: 170px;
  text-align: center;
}

.ubt-test-pagination {
  margin: 25px -4px 0 -4px;
  display: flex;
  flex-wrap: wrap;
}

.ubt-test-pagination li {
  margin: 4px;
}

.ubt-test-pagination a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #162F71;
}

.ubt-test-pagination a:hover {
  color: #162F71;
}

.ubt-test-pagination a.active {
  background: linear-gradient(180deg, #5986FB 0%, #2D4EF5 100%);
  color: #fff;
}

.ubt-test-pagination .prev-task {
  background: #F5F5F5;
  border: 1px solid #F5F5F5;
}

.ubt-test-pagination .next-task {
  border: 1px solid #162F71;
}

.ubt-new {
  padding-bottom: 120px;
}

.type-test-navigation {
  background: #FFFFFF;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 20px 25px;
}

.type-test-navigation .timer {
  margin: 0;
  border-radius: 0;
  box-shadow: none;
}

.type-test-navigation .timer-number {
  display: block;
  padding: 0;
  text-align: center;
  span {
    margin-left: 0;
  }
  p {
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    text-align: center;
    color: #819299;
    display: block;
    margin-top: 7px;
  }
}

.type-test-pagination {
  width: fit-content;
  margin: 17px auto 0 auto;
}

.type-test-pagination li  {
  margin: 7px;
}

.type-test-pagination a {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  min-width: 65px;
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #162F71;
}

.type-test-pagination a:hover {
  color: #162F71;
}

.type-test-pagination a.active {
  background: #0AC761;
  border: 1px solid #0AC761;
  color: #fff;
}

.type-test-pagination .prev-task {
  background: #F5F5F5;
  border: 1px solid #F5F5F5;
}

.type-test-pagination .next-task {
  background: #fff;
  border: 0.5px solid #162F71;
}

.type-test-content {
  background: #FFFFFF;
  border-radius: 6px;
  padding: 20px 40px 25px 40px;
  overflow: hidden;
}

.type-test-content .head span {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #848E9F;
}

.type-test-content .head h6 {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: -0.3px;
  color: #222222;
  margin-top: 5px;
}

.type-test-content .body {
  margin-top: 17px;
}

.type-test-alert {
  border: 1px solid #FFE5E3;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 15px;
  display: flex;
}

.type-test-alert svg {
  flex-shrink: 0;
}

.type-test-alert p {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #FE5244;
  margin-left: 10px;
}

.type-test-text {
  margin-top: 25px;
}

.type-test-text p {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  letter-spacing: 0.06em;
  color: #000000;
}

.type-test-text img {
  max-height: 300px;
  max-width: 100%;
}

.type-test-text p + p {
  margin-top: 9px;
}

.type-text-img.img-1 {
  float: left;
  clear: both;
}

.type-text-img.img-2 {
  float: right;
  clear: both;
}

.type-text-img {
  max-height: 300px;
  width: auto;
}

.type-test .ubt-box {
  margin-top: 35px;
}

.type-test .check-task {
  color: #0AC761;
  border: 1px solid #0AC761;
}

.type-test .ubt-test-tools .next-task {
  background: #0AC761;
}

.type-test .ubt-test-pagination a.active {
  background: #0AC761;
}

.type-test {
  padding-bottom: 80px;
}

.ubt-textarea-form {
  display: flex;
  padding: 10px 0;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
  align-items: center;
}

.pen-lines {
  background: url("../img/icon/pen-lines.svg") no-repeat center/contain;
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.ubt-textarea-form textarea {
  flex: 1;
  resize: none;
  border: none;
  font-size: 17px;
  line-height: 120%;
}

.ubt-textarea-form textarea::placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #819299;
}

.ubt-textarea-form textarea:focus {
  outline: none;
}

.compare-test {
  display: flex;
  margin-top: 25px;
  margin-left: -15px;
  margin-right: -15px;
}

.compare-test-left {
  width: 50%;
  padding: 0 15px;
}

.compare-test-right {
  width: 50%;
  padding: 0 15px;
}

.compare-test-item {
  border-radius: 10px;
  position: relative;
}

.compare-test-box + .compare-test-box {
  margin-top: 10px;
}

.compare-test-left {
  .compare-test-item {
    background: #F5F5F5;
    padding: 15px;
  }
  .compare-test-item p {
    color: #000000;
  }
  .compare-test-item.success {
    background: #2DD179;
  }
  .compare-test-item.success p {
    color: #fff;
  }
  .compare-test-item.danger {
    background: #FFE5E3;
  }
  .compare-test-item.danger p {
    color: #FE5244;
  }
}

.compare-test-right {
  .compare-test-item {
    background: #FFFFFF;
    border: 1px solid #F5F5F5;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    padding: 14px;
  }
  .compare-test-item:hover {
    border: 1px solid #C0C0C0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    cursor: pointer;
  }
  .compare-test-item:active {
    border: 1px solid #4090FF;
    box-shadow: 0 10px 20px rgba(64, 144, 255, 0.2);
    cursor: grabbing;
  }
  .compare-test-item p {
    color: #162F71;
  }
  .compare-test-item.success {
    background: #2DD179;
    border: 1px solid #2DD179;
  }
  .compare-test-item.success:before {
    content: '';
    background: #2DD179;
    height: 2px;
    width: 30px;
    position: absolute;
    left: -31px;
    top: 24px;
  }
  .compare-test-item.success p {
    color: #fff;
  }
  .compare-test-item.danger {
    background: #FE5244;
    border: 1px solid #FE5244;
  }
  .compare-test-item.danger:before {
    content: '';
    background: linear-gradient(90deg, #FFE5E3 0%, #FE5244 100%);
    height: 2px;
    width: 30px;
    position: absolute;
    left: -31px;
    top: 24px;
  }
  .compare-test-item.danger p {
    color: #fff;
  }
}

.compare-test-item p {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
}

.check-task.disabled {
  background: rgba(64, 144, 255, 0.1);
  border: 1px solid rgba(64, 144, 255, 0.1);
}

.ubt-box-test .radio-form.success {
  input:checked ~ .checkmark {
    background: #2DD179;
  }
}

.ubt-box-test .radio-form.danger {
  input:checked ~ .checkmark {
    background: #FE5244;
  }
}

.ubt-box-test .checkbox-form.success {
  input:checked ~ .checkmark {
    background: #2DD179;
  }
}

.ubt-box-test .checkbox-form.danger {
  input:checked ~ .checkmark {
    background: #FE5244;
  }
}

.ubt-box-body .type-test-alert {
  margin-top: 20px;
}


@import "lesson-media";