
.profile-card {
  background: #FFFFFF;
  border-radius: 8px;
}

.profile-card-top {
  padding: 10px;
  display: flex;
  align-items: center;
}

.profile-card-img {
  width: 50px;
  height: 50px;
  min-width: 40px;
  border-radius: 6px;
  overflow: hidden;
}

.profile-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-card-name {
  margin-left: 15px;
  flex: 1;
}

.profile-card-name p {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #000000;
  position: relative;
  width: fit-content;
  display: block;
  padding-right: 24px;
  max-width: 175px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-card-name p:after {
  content: url("../img/icon/check-blue.svg");
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
}

.profile-card a {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #819299;
  margin-top: 2px;
  display: block;
}

.profile-card a:hover, .profile-card a:focus {
  color: #819299;
}

.profile-card-bottom {
  padding: 10px 20px;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-card .d-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  color: #162F71;
  position: relative;
  width: fit-content;
}

.profile-card .d-text:after {
  content: url("../img/icon/coin-blue-18.svg");
  width: 12px;
  height: 18px;
  position: absolute;
  top: 50%;
  right: -16px;
  transform: translateY(-50%);
}

.profile-aside {
  margin-top: 10px;
}

.profile-aside li + li {
  margin-top: 5px;
}

.profile-aside li a {
  display: flex;
  align-items: center;
  padding: 4px 5px;
  border-radius: 8px;
  transition: 0.2s ease;
}

.profile-aside li a span {
  display: block;
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #000000;
  margin-left: 10px;
  transition: 0.3s ease;
}

.profile-aside li a:hover {
  background: #fff;
}

.profile-aside li.active a {
  background: #4090FF;
}

.profile-aside li.active a span {
  color: #fff;
}

.profile-aside li.active a svg path {
  stroke: #fff;
}


.profile-heading-sm.text-blue {
  color: #162F71;
}

.profile-progress-top p {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #000000;
  margin-top: 6px;
}

.profile-progress-wrapper {
  background: #FFFFFF;
  border-radius: 8px;
  padding: 20px ;
}

.profile-progress {
  display: flex;
  justify-content: space-between;
  margin: 18px -20px 0 -20px;
  align-items: center;
}

.progress-lottie {
  background: #000000;
}

.progress-lottie-1{
  width: 90px;
  min-width: 90px;
  height: 90px;
  margin-right: 10px;
}

.progress-lottie-2 {
  width: 100px;
  min-width: 100px;
  height: 100px;
  margin: 0 10px;
}

.progress-lottie-3 {
  width: 170px;
  min-width: 170px;
  height: 130px;
  margin-left: 10px;
}

.progress-item {
  text-align: center;
  margin: 0 10px;
  width: 90px;
  min-width: 90px;
}

.progress-item p {
  font-weight: 700;
  font-size: 10px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  color: #819299;
  margin-top: 8px;
}

.daryn-bonus-xs {
  display: flex;
  align-items: center;
  padding: 3px 6px;
  background: #819299;
  border-radius: 30px;
  width: fit-content;
  margin: 8px auto 0 auto;
}

.daryn-bonus-xs span {
  font-weight: 700;
  font-size: 10px;
  line-height: 130%;
  text-transform: uppercase;
  color: #FFFFFF;
  display: block;
}

.progress-item.active {
  .progress-item-img svg path {
    stroke: #107C3E;
  }
  p {
    color: #107C3E;
  }
  .daryn-bonus-xs {
    background: #107C3E;
    span {
      color: #fff;
    }
  }
}

.progress-item-img {
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

.timetable {
  background: #FFFFFF;
  border-radius: 8px;
  padding: 15px 20px 10px 20px;
  flex: 1;
  margin-right: 20px;
}

.profile-heading-sm {
  font-family: "SF Pro Text";
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.3px;
  color: #000000;
}

.profile-heading-sm .text-blue {
  font-family: "SF Pro Text";
  display: inline-block;
  color: #162F71;
}

.profile-heading-sm a {
  display: inline-block;
  color: #819299;
  font-family: "SF Pro Text";
}

.profile-heading-sm a:hover {
  color: #819299;
}

.day-schedule {
  margin-top: 11px;
}

.day-schedule-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.day-schedule-item p {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #162F71;
  max-width: 60%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.day-schedule-item span {
  display: block;
  padding: 4px;
  width: 150px;
  min-width: 150px;
  text-align: center;
  background: #F5F5F5;
  border-radius: 8px;
  font-family: "SF Pro Text";;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 1.7px;
  color: #162F71;
}

.day-schedule .day-schedule-item + .day-schedule-item {
  border-top: 1px solid #F5F5F5;
}

.progress-bar {
  width: 150px;
  border-radius: 50%;
  background: red;
  height: 2px;
}

.chart {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}

.chart canvas {
  width: 60px!important;
  height: 60px!important;
}

.chart img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  position: absolute;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.chart .percent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  &:after {
    content: '%';
    margin-left: 0.1em;
  }
}

.activity-caption {
  margin-top: 8px;
}

.activity-caption p {
  font-weight: 700;
  font-size: 10px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  color: #162F71;
  max-width: 85%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 auto;
}

.activity-caption span {
  margin-top: 3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: #819299;
  display: block;
}

.activity-item {
  width: 90px;
  text-align: center;
  position: relative;
  min-width: 90px;
}

.activity-box {
  margin-top: 16px;
}

.activity {
  background: #FFFFFF;
  border-radius: 8px;
  padding: 15px 20px;
}

.scrollbox {
  display: flex;
  overflow-x: auto;
  padding-bottom: 17px;
  scrollbar-width: thin;
  scrollbar-color: #4090FF #F5F5F5;
}

.scrollbox::-webkit-scrollbar {
  width: 100%;
  height: 4px;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
}

.scrollbox::-webkit-scrollbar-track {
  background: #F5F5F5;
  border-radius: 6px;
}

.scrollbox::-webkit-scrollbar-thumb {
  background: #4090FF;
  border-radius: 6px;
  cursor: pointer;
}

.activity-item.done .chart .percent {
  background: linear-gradient(0deg, rgba(33, 150, 83, 0.9), rgba(33, 150, 83, 0.9));
}

.profile-rating {
  background: #FFFFFF;
  border-radius: 12px;
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100px;
  margin-top: 20px;
}

.profile-rating-icon {
  background: url("../img/icon/star-blue.png") no-repeat center/contain;
  width: 60px;
  height: 60px;
}

.profile-rating-caption {
  margin-left: 20px;
}

.profile-rating-caption p {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: -0.3px;
  color: #4090FF;
}

.profile-rating-caption p span {
  display: block;
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: -0.3px;
  color: #000000;
}

.profile-rating.average-rating {
  i {
    background: url("../img/icon/star-orange.png") no-repeat center/contain;
  }
  .profile-rating-caption p {
    color: #FFA048;
  }
}

.profile-rating.high-rating {
  i {
    background: url("../img/icon/star-black.png") no-repeat center/contain;
  }
  .profile-rating-caption p {
    color: #819299;
  }
}

.timetable-wrapper {
  display: flex;
  margin-top: 20px;
}

.activity-wrapper {
  width: 350px;
}

.scrollbox-holder {
  padding: 20px 0 20px 15px;
  background: #FFFFFF;
  border-radius: 8px;
  margin-top: 20px;
}

.course-link {
  width: 160px;
  height: 160px;
  min-width: 160px;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  margin-right: 20px;
}

.course-link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.course-link-caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: flex-end;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.8) 100%);
}

.course-link-caption p {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.3px;
  color: #FFFFFF;
}

.course-link-caption p span {
  display: block;
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.3px;
  color: #FFFFFF;
}

.course-link-box {
  margin-top: 20px;
}

.icon-play {
  background: url("../img/icon/play-white.svg") no-repeat center/contain;
  width: 18px;
  height: 24px;
}

.course-link i {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}

.course-link:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: 0.3s ease;
}

.course-link:hover {
  i {
    opacity: 1;
    visibility: visible;
  }
  &:before {
    opacity: 1;
  }
}

.profile-reward-box {
  margin-top: 20px;
  display: flex;
}

.profile-reward {
  width: 160px;
  margin-right: 20px;
}

.profile-reward-img {
  width: 160px;
  height: 100px;
  overflow: hidden;
}

.profile-reward-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.profile-reward-caption {
  margin-top: 10px;
}

.profile-reward-caption p {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #000000;
}

.profile-reward-caption span {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #819299;
}

.favourite-course-box {
  margin-top: 20px;
  display: flex;
}

.favourite-course {
  width: 160px;
  min-width: 160px;
  margin-right: 20px;
  position: relative;
}

.favourite-course-img {
  width: 160px;
  height: 160px;
  background: #F5F5F5;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.favourite-course-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.favourite-course-img .logo-stroke {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.favourite-course-caption {
  margin-top: 10px;
}

.favourite-course-name p {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #000000;
}

.favourite-course-price {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.favourite-course-price .bonus-price {
  display: flex;
  align-items: center;
  span {
    display: block;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #03A44D;
    margin-right: 3px;
  }
}

.favourite-course-price .money-price {
  margin-left: 10px;
  span {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    text-decoration-line: line-through;
    color: #FF9087;
  }
}

.favourite-checkbox {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}

.favourite-checkbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

.favourite-checkbox.checked svg path {
  fill: #FE5244;
  stroke: #FE5244;
}

.scrollbox-holder .scrollbox::-webkit-scrollbar-track {
  margin-right: 15px;
}

.promo-course-wrapper {
  background: #FFFFFF;
  border-radius: 8px;
  padding: 15px 20px 0 20px;
  margin-top: 20px;
}

.promo-course-box {
  margin: 20px -20px 0 -20px;
  display: flex;
  flex-wrap: wrap;
}

.courseCard-sm {
  display: flex;
  position: relative;
  flex-shrink: 0;
  width: 50%;
  border: 0.5px solid #F5F5F5;
  .courseCard-img {
    width: 100px;
    min-width: 100px;
    height: 100px;
    background: #F5F5F5;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
  }
  .courseCard-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
  }
  .courseCard-img .logo-stroke {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .courseCard-caption {
    margin-left: 20px;
    flex: 1;
  }
  .courseCard-name h6 {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #162F71;
    transition: 0.3s ease;
  }
  .courseCard-rating {
    margin-top: 8px;
    display: flex;
    align-items: center;
  }
  .courseCard-rating-star {
    display: flex;
    align-items: center;
  }
  .my-rating {
    display: flex;
  }
  .jq-star + .jq-star {
    margin-left: 6px;
  }
  .jq-star-svg {
    padding: 0;
  }
  .courseCard-rating-star .my-rating-number {
    font-weight: 400;
    font-size: 17px;
    line-height: 120%;
    color: #F2994A;
    display: block;
    margin-left: 4px;
  }
}

.courseCard-sm:hover {
  background: #FCFCFC;
  .courseCard-name h6 {
    color: #4090FF;
  }
}

.promo-course-box .courseCard-sm {
  padding: 20px;
}

.profile-body {
  padding-bottom: 50px;
}

.profile-aside-toggle {
  width: 100%;
  background: #fff;
  border-radius: 8px;
  min-height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin-top: 20px;
  display: none;
}

.profile-aside-toggle span {
  display: inline-block;
  font-family: "SF Pro Text";
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.3px;
  color: #162F71;
}

.profile-aside-toggle.active svg {
  transform: rotate(180deg);
}

.heading-tablink {
  display: flex;
}

.heading-tablink a {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: -0.3px;
  color: #819299;
  &:hover {
    color: #819299;
  }
  &:focus {
    color: #819299;
  }
}

.heading-tablink li + li {
  margin-left: 20px;
}

.heading-tablink li.active a {
  color: #4090FF;
}

.lessonCard-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 20px -10px 0 -10px;
}

.lessonCard {
  background: #FFFFFF;
  border-radius: 12px;
  margin: 0 10px 20px 10px;
  width: calc(50% - 20px);
  padding: 0 15px;
}

.lessonCard-top {
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid #F5F5F5;
}

.lessonCard-img {
  width: 30px;
  height: 30px;
  min-width: 30px;
  border-radius: 6px;
  overflow: hidden;
}

.lessonCard-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lessonCard-title {
  margin-left: 15px;
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
  max-width: 87%;
  a {
    display: contents;
  }
}

.lessonCard-title h6 {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.3px;
  color: #000000;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  &:hover {
    color: #162F71;
  }
}

.lessonCard-body {
  padding: 15px 0;
  border-bottom: 1px solid #F5F5F5;
}

.lessonCard-detail {
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
}

.lessonCard-detail li {
  display: flex;
  padding: 0 15px;
}

.lessonCard-detail li p {
  margin-left: 10px;
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #819299;
  max-width: fit-content;
  span {
    color: #000;
  };
}

.lessonCard-detail li + li {
  border-left: 1px solid #F5F5F5;
}

.lessonCard-bottom {
  display: flex;
  align-items: center;
  min-height: 40px;
  padding: 10px 0;
}

.lessonCard-bottom-tools {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.lessonCard-bottom-tools .favourite-checkbox {
  position: relative;
  top: initial;
  left: initial;
}

.lessonCard-bottom-alert {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: relative;
  display: none;
}

.alert-text {
  display: flex;
  span {
    display: inline-block;
    margin-left: 10px;
    font-weight: 400;
    font-size: 17px;
    line-height: 120%;
    color: #FE5244;
  }
}

.lessonCard-continue-link {
  display: flex;
  align-items: center;
  span {
    display: inline-block;
    margin-left: 10px;
    font-weight: 400;
    font-size: 17px;
    line-height: 120%;
    color: #819299;
  }
}

.lessonCard-continue-link:hover {
  svg path {
    fill: #4090FF;
  }
  span {
    color: #4090FF;
  }
}

.lessonCard.alert {
  box-shadow: 0px 0px 15px rgba(254, 82, 68, 0.1);
  .lessonCard-bottom-tools {
    display: none;
  }
  .lessonCard-bottom-alert {
    display: flex;
  }
}

.reward-wrapper {
  margin: 5px -15px 0 -15px;
  display: flex;
  flex-wrap: wrap;
}

.reward {
  width: calc(33.3% - 30px);
  margin: 15px;
  height: 160px;
  position: relative;
}

.reward-img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.reward-img:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 53.12%, #FFFFFF 85.94%);
  transition: 0.3s ease;
}

.reward-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reward-tools {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}

.reward-tools-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 0px 10px 29px rgba(64, 144, 255, 0.3);
  transition: 0.3s ease;
}

.reward-tools-btn:hover {
  background: #4090FF;
  svg path {
    stroke: #fff;
    transition: 1s ease;
  }
}

.reward-tools .reward-tools-btn + .reward-tools-btn {
  margin-left: 10px;
}

.reward-date {
  display: flex;
  align-items: center;
  position: absolute;
  left: 8px;
  bottom: 5px;
  transition: all ease 0.3s;
}

.reward-date span {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #819299;
  display: inline-block;
  margin-left: 8px;
}

.reward:hover {
  .reward-tools {
    opacity: 1;
    visibility: visible;
  }
  .reward-img:before {
    background: linear-gradient(0deg, rgba(64, 144, 255, 0.1), rgba(64, 144, 255, 0.1));
    transition: 0.3s ease;
  }
  .reward-date {
    opacity: 0;
    visibility: hidden;
  }
}

.noticeBox {
  background: #FFFFFF;
  border-radius: 8px;
}

.noticeBox-header {
  padding: 15px 20px;
  min-height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #F5F5F5;
}

.noticeBox-header-left h6 {
  font-family: "SF Pro Text";
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.3px;
  color: #162F71;
}

.noticeBox-header-right span {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  text-align: right;
  letter-spacing: 0.02em;
  color: #819299;
}

.noticeBox-body {
  padding: 0 20px 30px 20px;
}

.notice-item-wrapper {
  margin-top: 20px;
}

.notice-item-wrapper h6 {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #819299;
}

.notice-item {
  margin-top: 20px;
}

.notice-item-content {
  display: flex;
  position: relative;
  transition: 0.1s ease;
  cursor: pointer;
}

.notice-item-content:hover {
  opacity: 0.7;
}

.notice-sender {
  display: flex;
  align-items: center;
  width: 21%;
  height: fit-content;
}

.notice-sender-img {
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  background: url("../img/icon/profile-1px-gray.svg") no-repeat center/30px 30px, #F5F5F5;
}

.notice-item.active .notice-sender-img:after {
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #FE5244;
  border: 2px solid #fff;
  position: absolute;
  top: -2px;
  right: -2px;
}

.notice-sender-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.notice-sender p {
  font-weight: 600;
  font-size: 17px;
  line-height: 120%;
  color: #162F71;
  max-width: fit-content;
  margin-left: 15px;
  flex: 1;
  padding-right: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notice-text {
  flex: 1;
  max-width: 70%;
  display: flex;
  align-items: center;
  padding-right: 15px;
}

.notice-text p {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #000000;
}

.notice-text p .danger {
  color: #FE5244;
}

.notice-text p a {
  color: #4090FF;
  &:hover {
    opacity: 1;
    color: #FE5244;
  }
}

.notice-time {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.notice-time span {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  display: inline-block;
  text-align: right;
  color: #819299;
}

.notice-btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.notice-btn {
  border-radius: 8px;
  padding: 7px 15px;
  min-width: 70px;
  min-height: 34px;
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.3px;
  margin-right: 5px;
}

.notice-btn.success {
  background: #2DD179;
  color: #fff;
}

.notice-btn.danger {
  background: rgba(254, 82, 68, 0.1);
  color: #FE5244;
}

.transaction-box {
  background: #FFFFFF;
  border-radius: 8px;
  overflow: hidden;
}

.transaction-header {
  padding: 15px 20px;
  border-bottom: 1px solid #F5F5F5;
}

.transaction-header-left h6 {
  font-family: "SF Pro Text";
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.3px;
  color: #162F71;
}

.transaction-item {
  display: flex;
  padding: 15px 20px;
  border-bottom: 1px solid #F5F5F5;
}

.transaction-name {
  width: calc(28% + 20px);
  padding-right: 20px;
}

.transaction-detail {
  width: calc(28% + 20px);
  padding-right: 20px;
}

.transaction-price {
  width: calc(17% + 20px);
  padding-right: 20px;
}

.transaction-date {
  width: 18%;
}

.transaction-td .transaction-item-inner {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #819299;
  display: flex;
  align-items: center;
}

.transaction-tr .transaction-item-inner p {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
}

.transaction-tr {
  .transaction-name p {
    color: #162F71;
  }
  .transaction-detail p {
    color: #000000;
  }
  .transaction-price.success p {
    color: #2DD179;
  }
  .transaction-price.danger p {
    color: #FE5244;
  }
  .transaction-date p {
    color: #000000;
  }
}

.transaction-tr {
  transition: 0.2s ease;
  &:hover {
    background: #FBFBFB;
    box-shadow: inset 0px -1px 0px #F5F5F5;
    cursor: pointer;
  }
}

.transaction-tr .transaction-item-inner span {
  display: none;
}

.profile-favourite {
  background: #FFFFFF;
  border-radius: 8px;
}

.profile-favourite-header {
  padding: 15px 20px;
  border-bottom: 1px solid #F5F5F5;
}

.profile-favourite-header h6 {
  font-family: "SF Pro Text";
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.3px;
  color: #162F71;
}

.profile-favourite-content {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
  .favourite-course {
    width: calc(25% - 20px);
    margin: 10px;
  }
  .favourite-course-img {
    width: 100%;
    height: 180px;
    min-height: 160px;
  }
}

.articleBox {
  border-radius: 8px;
  background: #fff;
}

.articleBox-header {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  border-bottom: 1px solid #F5F5F5;
}

.article-tablink-wrapper {
  position: relative;
  padding-left: 40px;
  display: flex;
}

.article-tablink-wrapper:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url("../img/icon/paperview.svg");
  width: 30px;
  height: 30px;
}

.article-tablink {
  font-family: "SF Pro Text";
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.3px;
  color: #819299;
}

.article-tablink:hover, .article-tablink:focus {
  color: #819299;
}

.article-tablink.active {
  color: #162F71;
}

.article-tablink-wrapper li + li {
  margin-left: 10px;
}

.create-article-link {
  display: flex;
  align-items: center;
}

.create-article-link span {
  display: inline-block;
  margin-left: 10px;
  font-family: "SF Pro Text";
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.3px;
  color: #4090FF;
}

.article {
  padding: 20px 20px 15px 20px;
}

.article-header {
  display: flex;
  justify-content: space-between;
}

.article-author {
  display: flex;
  align-items: center;
}

.article-author img {
  width: 30px;
  min-width: 30px;
  height: 30px;
  border-radius: 50px;
}

.article-author p {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #000000;
  margin-left: 10px;
  position: relative;
  width: fit-content;
  display: block;
  padding-right: 24px;
  max-width: 175px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article-author p:after {
  content: '';
  background: url(../img/icon/check-blue.svg) no-repeat center/contain;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
}

.article-author-status {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #819299;
  margin-left: 4px;
  display: block;
  width: fit-content;
  border: 1px solid #F5F5F5;
  border-radius: 6px;
  padding: 1px 8px;
}

.edit-article-btn {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-content {
  margin-top: 20px;
}

.article-content h1 {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: -0.3px;
  color: #000000;
}

.article-status {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  margin-left: 8px;
  display: inline-block;
  vertical-align: middle;
  padding: 2px 8px;
  border-radius: 6px;
}

.article-status.info {
  background: rgba(155, 81, 224, 0.1);
  color: #9B51E0;
}

.article-status.success {
  background: rgba(33, 150, 83, 0.1);
  color: #219653;
}

.article-status.danger {
  background: rgba(254, 82, 68, 0.1);
  color: #FE5244;
}

.article-content p {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
}

.article-img {
  margin-top: 25px;
  position: relative;
  height: 240px;
  border-radius: 12px;
  overflow: hidden;
}

.article-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-certificate-link {
  position: absolute;
  left: 10px;
  bottom: 10px;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 6px 12px;
}

.article-certificate-link span {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  display: inline-block;
  margin-left: 10px;
}

.article-detail {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.article-detail-meta {
  display: flex;
}

.article-detail-meta li.liked svg path {
  fill: #FE5244;
  stroke: #FE5244;
}

.article-detail-meta li + li {
  margin-left: 20px;
}

.article-detail-meta li {
  display: flex;
  align-items: center;
}

.article-detail-meta li span {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #819299;
  display: block;
  width: fit-content;
  margin-left: 6px;
}

.article-date span {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #819299;
  display: block;
  width: fit-content;
}

.articleBox-body .article + .article {
  border-top: 1px solid #F5F5F5;
}

.load-more-btn {
  margin-top: 15px;
  width: 100%;
  min-height: 50px;
  padding: 13px 30px;
  background: #FFFFFF;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.load-more-btn.active svg {
  animation-name: circle;
  animation-duration: .7s;
  animation-delay: 0.1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.load-more-btn span {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.3px;
  color: #819299;
  margin-left: 20px;
  display: inline-block;
  transition: 0.2s ease;
}

.load-more-btn svg path {
  transition: 0.2s ease;
}

.load-more-btn:hover svg path {
  stroke: #162F71;
}

.load-more-btn:hover span {
  color: #162F71;
}

@keyframes circle {
  from {transform: rotate(0)}
  to {transform: rotate(-360deg)}
}

.referralBox {
  border-radius: 8px;
  background: #fff;
}

.referralBox-header {
  padding: 15px 20px;
  border-bottom: 1px solid #F5F5F5;
}

.referralBox-header h6 {
  font-family: "SF Pro Text";
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.3px;
  color: #162F71;
}

.referral-info {
  background: #FFFDFA;
  padding: 0 100px 35px 100px;
  text-align: center;
}

.present-lottie {
  width: 250px;
  height: 250px;
  margin: 0 auto -50px auto;
}

.referral-info-top {
  text-align: center;
}

.referral-info-top h6 {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  letter-spacing: -1px;
  color: #222222;
}

.referral-info-top h6 span {
  color: #D67D00;
}

.referral-info-link {
  display: flex;
  align-items: center;
  margin-top: 17px;
  justify-content: space-between;
  padding: 15px 0;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.referral-info-link p {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #162F71;
  text-align: left;
  max-width: 90%;
  flex: 1;
}

.referral-link-btn {
  width: 20px;
  height: 20px;
  min-width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.referral-info-social {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.referral-info-social li + li {
  margin-left: 10px;
}

.referral-info-social a {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.referral-detail {
  padding: 35px 100px 90px 100px;
  position: relative;
}

.referral-detail-title {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: -0.3px;
  color: #4090FF;
}

.referral-detail-body {
  margin-top: 23px;
}

.referral-detail-caption {
  max-width: 270px;
}

.referral-detail-caption .referral-detail-item + .referral-detail-item {
  margin-top: 20px;
}

.referral-detail-item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #162F71;
  margin-top: 10px;
}

.referral-detail-img {
  width: 450px;
  height: 455px;
  position: absolute;
  right: -15px;
  bottom: -90px;
}

.referral-detail-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.timetable-header {
  display: flex;
  align-items: center;
}

.timetable-header {
  .nav-tabs {
    border: none;
    margin-left: 5px;
  }
  .nav-tabs a {
    font-family: "SF Pro Text";
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.3px;
    color: #819299;
    text-decoration: none;
    display: block;
    white-space: nowrap;
  }
  .nav-tabs a.active {
    color: #162F71;
  }
  .nav-tabs li + li {
    margin-left: 5px;
  }
}

.week-schedule {
  margin: 21px -7.5px 0 -7.5px;
}

.week-schedule-row {
  display: flex;
}

.week-schedule-th, .week-schedule-td {
  width: calc(20% - 15px);
  margin: 5px 7.5px;
}

.week-schedule-th {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #819299;
  padding-bottom: 8px;
  border-bottom: 1px solid #F5F5F5;
}

.week-schedule-td {
  padding: 12px;
  border: 1px solid #F5F5F5;
  border-radius: 8px;
  height: fit-content;
}

.week-schedule-td p {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #162F71;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.schedule-subject-time {
  display: flex;
  margin-top: 4px;
}

.schedule-subject-time span {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #819299;
  display: flex;
  align-items: center;
  width: fit-content;
  margin-left: 5px;
  flex: 1;
}

.schedule-subject-time svg {
  min-width: 20px;
}

.profile-card-detail {
  padding: 3px 20px;
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.05);
}

.profile-card-detail .card-detail-item + .card-detail-item {
  border-top: 1px solid #F5F5F5;
}

.profile-card-detail .card-detail-item {
  display: flex;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 7px;
  justify-content: space-between;
}

.profile-card-detail .card-detail-item p {
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  color: #000000;
  min-width: 40%;
  white-space: nowrap;
}

.profile-card-detail .card-detail-item span {
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  color: #162F71;
  width: fit-content;
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.profile-card-detail .card-detail-item span svg {
  margin-left: 3.6px;
}

.switch-box {
  background: #FFFFFF;
  border-radius: 8px;
  display: flex;
  align-items: center;
  min-height: 45px;
  padding: 7px 10px;
  margin-top: 10px;
}

.switch-box span {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #000000;
  margin-left: 15px;
  display: block;
  width: fit-content;
}

.profile-left .switch-box {
  .switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 30px;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transition: .4s;
    background: #F5F5F5;
    border-radius: 15px;
    outline: none!important;
    box-shadow: none!important;
  }
  input:checked + .slider {
    background: #2DD179;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    border-radius: 50%;
    left: 3px;
    bottom: 3px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider:before {
    transform: translateX(15px);
    background: #fff;
  }
  .slider.round:before {
    border-radius: 50%;
  }
  .switch span {
    margin: 0;
  }
}

.teacher-level {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.teacher-level-icon {
  background: #FFFFFF;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 0 96px rgba(0, 0, 0, 0.16);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.teacher-level-number {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.teacher-level.first-level {
  .icon {
    background: url("../img/icon/lightning-blue.svg") no-repeat center/contain;
    width: 20px;
    height: 24px;
  }
  .teacher-level-number {
    background: #4090FF;
  }
}

.teacher-level.second-level {
  .icon {
    background: url("../img/icon/lightning-yellow.svg") no-repeat center/contain;
    width: 20px;
    height: 24px;
  }
  .teacher-level-number {
    background: #FDBF02;
  }
}

.teacher-level.third-level {
  .icon {
    background: url("../img/icon/lightning-purple.svg") no-repeat center/contain;
    width: 20px;
    height: 24px;
  }
  .teacher-level-number {
    background: #8343D6;
  }
}

.teacher-level-caption {
  margin-left: 15px;
}

.teacher-level-caption span {
  font-family: "SF Pro Text";
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.24px;
  color: #819299;
  display: block;
}

.teacher-level-caption p {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #162F71;
}

.profile-title {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: -0.3px;
  color: #819299;
}

.circle-progress {
  display: flex;
  align-items: center;
}

.circle-progress .chart {
  width: 30px;
  height: 30px;
}

.circle-progress .chart canvas {
  width: 30px!important;
  height: 30px!important;
}

.circle-progress .chart .percent {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #4090FF;
}

.circle-progress-bg {
  position: absolute;
  top: 1px;
  left: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background: #F5F5F5;
  border-radius: 50%;
}

.lessonCard-detail li .circle-progress-caption p {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #000000;
  margin-left: 0;
}

.circle-progress-caption {
  margin-left: 10px;
}

.download-certificate {
  display: flex;
  align-items: center;
  background: #2DD179;
  border-radius: 8px;
  padding: 6px 12px;
  min-height: 34px;
  margin-top: 20px;
}

.download-certificate span {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  display: block;
  margin-left: 10px;
}



@import "profile-media";