<template>
  <div class="profile-wallet whiteBlog">
    <h2>Кошелекті толтыру</h2>
    <p>Өзіңізге ыңғайлы толтыру жолын таңдаңыз</p>
    <ul class="nav nav-tabs wallet-tabs">
      <li
        class="nav-item"
        v-for="(item, itemIdx) in tabs"
        :key="itemIdx"
      >
        <div class="nav-link" :class="{'active': isActiveTab(item.id)}">
          <div
            class="wallet-item cursor-pointer"
            :class="item.className"
            @click="selectTab(item.id)"
          >
            <img v-if="item.img" :src="item.img"/>
            <span v-else v-html="item.icon"></span>
            <h3>{{ item.title }}</h3>
          </div>
        </div>
      </li>
    </ul>
    <div class="tab-content wallet-content">
      <div class="tab-pane fade" :class="{'active show': isActiveTab('card')}">
        <input type="text" class="input-bordered" placeholder="Сумма">
        <div class="btn-box btn-box-end">
          <button class="btn-plain btn-blue-arrow">
            <span>Төлем жасау</span>
            <svg width="10" height="16" viewBox="0 0 10 16" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L8 8L1 15" stroke="white" stroke-width="1.5"/>
            </svg>
          </button>
        </div>
      </div>
      <div class="tab-pane fade" :class="{'active show': isActiveTab('kaspi')}">
        <div class="notification-kaspi">
          <div class="kaspi-item">
            <h5>1</h5>
            <p>Kaspi.kz мобильді қосымшасынан "Платежи -> Все -> Образование ->
              Daryn.online" жобасын таңдаңыз</p>
          </div>
          <div class="kaspi-item">
            <h5>2</h5>
            <p>Платформадағы тіркелген ID нөмеріңізді <em>2160686</em> енгізіңіз</p>
            <button class="btn-plain btn-blue-light">
              <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                   xmlns="http://www.w3.org/2000/svg">
                <path d="M13 2.33333V1.66667C13 1.29867 12.7013 1 12.3333 1H11.6667M13 9V9.66667C13 10.0347 12.7013 10.3333 12.3333 10.3333H11.6667M3.66667 2.33333V1.66667C3.66667 1.29867 3.96533 1 4.33333 1H5M7.66667 1H9M13 6.33333V5M9 13H1.66667C1.29867 13 1 12.7013 1 12.3333V5C1 4.632 1.29867 4.33333 1.66667 4.33333H9C9.368 4.33333 9.66667 4.632 9.66667 5V12.3333C9.66667 12.7013 9.368 13 9 13Z"
                      stroke="url(#paint0_linear)" stroke-width="1.5"
                      stroke-linecap="round" stroke-linejoin="round"/>
                <defs>
                  <linearGradient id="paint0_linear" x1="1" y1="1" x2="1" y2="13" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#5986FB"/>
                    <stop offset="1" stop-color="#2D4EF5"/>
                  </linearGradient>
                </defs>
              </svg>
              <span>Идентификатор көшіру</span>
            </button>
          </div>
          <div class="kaspi-item">
            <h5>
              <svg width="17" height="13" viewBox="0 0 17 13" fill="none"
                   xmlns="http://www.w3.org/2000/svg">
                <path d="M1 6L6 11L16 1" stroke="white" stroke-width="1.5"/>
              </svg>
            </h5>
            <p>Керекті сумманы енгізіңіз</p>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" :class="{'active show': isActiveTab('qiwi')}">
        <div class="notification-kaspi notification-qiwi">
          <div class="kaspi-item">
            <h5>1</h5>
            <p>QIWI терминалдан "Оплата Услуг -> Другие услуги -> Образовательные услуги ->
              Daryn.online жобасын" таңдаңыз</p>
          </div>
          <div class="kaspi-item">
            <h5>2</h5>
            <p>Платформадағы тіркелген нөмеріңізді <em>+7 (777) 777 00 00</em> енгізіңіз  енгізіңіз</p>
            <button class="btn-plain btn-blue-light">
              <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                   xmlns="http://www.w3.org/2000/svg">
                <path d="M13 2.33333V1.66667C13 1.29867 12.7013 1 12.3333 1H11.6667M13 9V9.66667C13 10.0347 12.7013 10.3333 12.3333 10.3333H11.6667M3.66667 2.33333V1.66667C3.66667 1.29867 3.96533 1 4.33333 1H5M7.66667 1H9M13 6.33333V5M9 13H1.66667C1.29867 13 1 12.7013 1 12.3333V5C1 4.632 1.29867 4.33333 1.66667 4.33333H9C9.368 4.33333 9.66667 4.632 9.66667 5V12.3333C9.66667 12.7013 9.368 13 9 13Z"
                      stroke="url(#paint0_linear)" stroke-width="1.5"
                      stroke-linecap="round" stroke-linejoin="round"/>
                <defs>
                  <linearGradient id="paint0_linear" x1="1" y1="1" x2="1" y2="13" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#5986FB"/>
                    <stop offset="1" stop-color="#2D4EF5"/>
                  </linearGradient>
                </defs>
              </svg>
              <span>Номерді көшіру</span>
            </button>
          </div>
          <div class="kaspi-item">
            <h5>
              <svg width="17" height="13" viewBox="0 0 17 13" fill="none"
                   xmlns="http://www.w3.org/2000/svg">
                <path d="M1 6L6 11L16 1" stroke="white" stroke-width="1.5"/>
              </svg>
            </h5>
            <p>Керекті сумманы енгізіңіз</p>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" :class="{'active show': isActiveTab('promo')}">
        <input type="text" class="input-bordered" placeholder="Промо акцияның кодын енгізіңіз">
        <div class="btn-box btn-box-end">
          <button class="btn-plain btn-blue-arrow">
            <span>Промокод қолдану</span>
            <svg width="10" height="16" viewBox="0 0 10 16" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L8 8L1 15" stroke="white" stroke-width="1.5"/>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./VProfileWallet.js"></script>

<style scoped>

</style>