<template>
  <div class="profile-favourite">
    <div class="profile-favourite-header">
      <h6>Избранное</h6>
    </div>
    <div class="profile-favourite-content">
      <v-favorite-card
        v-for="(item, index) in favoriteList"
        :key="index"
        :course-name="item.name"
        :price="item.price"
        :bonus-price="item.bonus"
      />
    </div>
  </div>
</template>

<script src="./VProfileFavorite.js"></script>

<style scoped>

</style>