<template>
  <div class="wrapper is-banner bg-light-gray">
<!--    <div class="preloader">-->
<!--      <div class="preloader-inner"></div>-->
<!--    </div>-->
    <v-header />
    <transition name="v-transition--fade" mode="out-in">
      <router-view/>
    </transition>
    <div class="overlay" :class="{'overlay-showed': this.isOverlay}"></div>
    <v-notify-wrapper/>
  </div>
</template>

<script>
// import "bootstrap-vue/dist/bootstrap-vue.css"
import '@/assets/scss/index.scss';
import VHeader from "./components/VHeader";
import { mapGetters } from 'vuex';
export default {
  name: 'App',
  components: {
    VHeader
  },
  data() {
    return {}
  },

  computed: {
    ...mapGetters([
      'isOverlay'
    ])
  },

  methods: {
    preloader() {
      // const preloader = document.getElementsByClassName("preloader-inner");
      // function preAnimation(preloader) {
      //   const animation = bodymovin.loadAnimation({
      //     container: preloader,
      //     renderer: "svg",
      //     loop: true,
      //     autoplay: true,
      //     path: "img/animation/do-logo.json"
      //   });
      // }
      // for (let i = 0; i < preloader.length; i++) {
      //   preAnimation(preloader[i]);
      // }
      // $(window).on('load', function () {
      //   $('body').addClass('loaded_hiding');
      //   window.setTimeout(function () {
      //     $('body').addClass('loaded');
      //     $('body').removeClass('loaded_hiding');
      //   }, 500);
      // })
    }
  }
}
</script>

<style>

</style>
