<template>
  <label
    class="form-label"
    :class="{
      'new-form-label': newLabelFocus,
      'form-label-focus': isFocus,
      'form-label-done': isBlur && value
    }"
  >
    <span>{{ label }}</span>
    <input
      :type="type"
      :value="value"
      :disabled="disabled"
      @input="$emit('input', $event.target.value)"
      @focus="onFocusInput"
      @blur="onBlurInput"
    >
  </label>
</template>

<script>
export default {
  name: "VCustomInput",
  props: {
    label: {
      type: String,
    },
    value: {
      required: true,
    },
    type: {
      type: String,
      default: 'text'
    },
    disabled: {
      type: Boolean,
      default: false,
    },
     newLabelFocus: {
         type: Boolean,
         default: false,
     }
  },

  data() {
    return {
      isFocus: false,
      isBlur: false,
    }
  },

  methods:{
    onFocusInput() {
      this.isFocus = true;
    },
    onBlurInput() {
      this.isFocus = false;
      this.isBlur = true;
    }
  }
}
</script>

<style scoped>

</style>
