<template>
  <div class="transaction-box">
    <div class="transaction-header">
      <div class="transaction-header-left">
        <h6>История транзакций</h6>
      </div>
    </div>
    <div class="transaction-item-wrapper">
      <div class="transaction-item transaction-td">
        <div class="transaction-item-inner transaction-name">Название платежа</div>
        <div class="transaction-item-inner transaction-detail">Операция</div>
        <div class="transaction-item-inner transaction-price">Дарын</div>
        <div class="transaction-item-inner transaction-date">Дата</div>
      </div>
      <div class="transaction-item transaction-tr">
        <div class="transaction-item-inner transaction-name">
          <span>Название платежа</span>
          <p>Араб тілі А1</p>
        </div>
        <div class="transaction-item-inner transaction-detail">
          <span>Операция</span>
          <p>1 айлық жазылу</p>
        </div>
        <div class="transaction-item-inner transaction-price danger">
          <span>Дарын</span>
          <p>-9900 d.</p>
        </div>
        <div class="transaction-item-inner transaction-date">
          <span>Дата</span>
          <p>11 Апрель, 2021</p>
        </div>
      </div>
      <div class="transaction-item transaction-tr">
        <div class="transaction-item-inner transaction-name">
          <span>Название платежа</span>
          <p>English 1-2nd Grades</p>
        </div>
        <div class="transaction-item-inner transaction-detail">
          <span>Операция</span>
          <p>Тест тапсырғаны үшін</p>
        </div>
        <div class="transaction-item-inner transaction-price success">
          <span>Дарын</span>
          <p>+3 d.</p>
        </div>
        <div class="transaction-item-inner transaction-date">
          <span>Дата</span>
          <p>11 Апрель, 2021</p>
        </div>
      </div>
      <div class="transaction-item transaction-tr">
        <div class="transaction-item-inner transaction-name">
          <span>Название платежа</span>
          <p>Араб тілі А1</p>
        </div>
        <div class="transaction-item-inner transaction-detail">
          <span>Операция</span>
          <p>1 айлық жазылу</p>
        </div>
        <div class="transaction-item-inner transaction-price danger">
          <span>Дарын</span>
          <p>-9900 d.</p>
        </div>
        <div class="transaction-item-inner transaction-date">
          <span>Дата</span>
          <p>11 Апрель, 2021</p>
        </div>
      </div>
      <div class="transaction-item transaction-tr">
        <div class="transaction-item-inner transaction-name">
          <span>Название платежа</span>
          <p>English 1-2nd Grades</p>
        </div>
        <div class="transaction-item-inner transaction-detail">
          <span>Операция</span>
          <p>Тест тапсырғаны үшін</p>
        </div>
        <div class="transaction-item-inner transaction-price success">
          <span>Дарын</span>
          <p>+3 d.</p>
        </div>
        <div class="transaction-item-inner transaction-date">
          <span>Дата</span>
          <p>11 Апрель, 2021</p>
        </div>
      </div>
      <div class="transaction-item transaction-tr">
        <div class="transaction-item-inner transaction-name">
          <span>Название платежа</span>
          <p>Араб тілі А1</p>
        </div>
        <div class="transaction-item-inner transaction-detail">
          <span>Операция</span>
          <p>1 айлық жазылу</p>
        </div>
        <div class="transaction-item-inner transaction-price danger">
          <span>Дарын</span>
          <p>-9900 d.</p>
        </div>
        <div class="transaction-item-inner transaction-date">
          <span>Дата</span>
          <p>11 Апрель, 2021</p>
        </div>
      </div>
      <div class="transaction-item transaction-tr">
        <div class="transaction-item-inner transaction-name">
          <span>Название платежа</span>
          <p>English 1-2nd Grades</p>
        </div>
        <div class="transaction-item-inner transaction-detail">
          <span>Операция</span>
          <p>Тест тапсырғаны үшін</p>
        </div>
        <div class="transaction-item-inner transaction-price success">
          <span>Дарын</span>
          <p>+3 d.</p>
        </div>
        <div class="transaction-item-inner transaction-date">
          <span>Дата</span>
          <p>11 Апрель, 2021</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./VHistoryTransaction.js"></script>

<style scoped>

</style>